<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MARE</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		<link rel="stylesheet" href="/dist/mare.min.css">

		<link rel="stylesheet" href="dist/font-awesome.min.css">

		<script src="/dist/modernizr.custom.min.js"></script>

		{{!-- This file provides the default styling for the KeystoneJS Content Editor 
		- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		
		{{!-- Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->
		
	</head>
	<body>

		<nav id="mobile-menu" class="hidden">
			<ul>
				{{# each mainNav}}
				<li>
					{{# if subMenu}}
						<a href="#">{{ title }}</a>
						<ul>
							{{# each subMenu}}
							<li>
								{{# if subMenu}}
								<a href="#">{{ title }}</a>
								<ul>
									{{# each subMenu}}
									<li>
										<a href="{{ href }}">{{ title }}</a>
									</li>
									{{/each}}
								</ul>
								{{else}}
								<a href="{{ href }}">{{ title }}</a>
								{{/if}}
							</li>
							{{/each}}
						</ul>
						{{else}}
						<a href="{{ href }}">{{ title }}</a>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</nav>

		<div class="modal">
			<div class="modal__background"></div>
			<div class="modal__container">

				<i class="fa fa-times fa-2x modal__close"></i>

				<div class="modal-container__loading">
					<img src="/dist/img/loading.gif" alt="loading" class="modal-container__loading-image">
				</div>

				<div class="modal-container__contents"></div>

			</div>
		</div>

		<div class="global-header">
			<div class="content-wrapper">
				<span class="logo-container">
					<img src="/dist/img/mare-logo.png" alt="logo">
					<img src="/dist/img/mare-logo-text.png" alt="logo">
				</span>
				<span class="header-navigation-container">

					<nav class="top-nav">
						<ul class="nav">
							<li class="top-nav-item home-link"><a href="/">Home</a></li>
							{{# if user }}
								<li class="top-nav-item log-out-link"><a href="/logout">Log Out</a></li>
							{{else}}
								<li class="top-nav-item log-in-link">
									<span class="log-in-link-text">Log in</span>
									<span class="arrow-down"></span>
									<span class="log-in-container">
										<form action="/logIn" method="POST">
											<div class="email-container">
		          								<input type="email" class="input input-small" required id="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
												<label for="email">Email Address</label>
											</div>
											<div class="password-container">
		          								<input type="password" class="input input-small" id="password" name="password">
		          								<label for="password">Password</label>
											</div>
											<div class="login-container">
												<button type="submit" class="log-in">Log In</button>
		          								<span class="forgot-password">Forgot your password?</span>
											</div>
										</form>
										<div class="not-registered-details">
											<div class="register-header">Create an Account</div>
											<div class="register-body">Whether you're a homestudied family, a social worker, a potential adoptive family, or a supporter, register with us to stay informed and access advanced featured of the site.</div>
											<a href="/register"><button class="register">Register Now</button></a>
										</div>		
									</span>
								</li>
							{{/if}}
							<li class="top-nav-item donate-link-container"><a href="/donate">Donate</a></li>
							<li class="top-nav-item hamburger">
								<a href="#mobile-menu">
									<img src="/dist/img/hamburger.png">
								</a>
							</li>
						</ul>
					</nav>
				</span>
			</div>

			<nav class="main-nav">
				<div class="content-wrapper">
					<ul class="nav">
						{{# each mainNav}}
						<li>
							{{# if subMenu}}
							<a href="#" class="parent main-menu">{{ title }}</a>
							<ul>
								{{# each subMenu}}
								<li>
									{{# if subMenu}}
									<a href="#" class="parent sub-menu">{{ title }}</a>
									<ul>
										{{# each subMenu}}
										<li>
											<a href="{{ href }}">{{ title }}</a>
										</li>
										{{/each}}
									</ul>
									{{else}}
									<a href="{{ href }}">{{ title }}</a>
									{{/if}}
								</li>
								{{/each}}
							</ul>
							{{else}}
							<a href="{{ href }}">{{ title }}</a>
							{{/if}}
						</li>
						{{/each}}
					</ul>
				</div>
			</nav>
		</div>
			
		<div class="body">
			<div class="content-wrapper">
				<!--
					Flash messages allow you to display once-off status messages to users, e.g. form
					validation errors, success messages, etc
				-->
				{{#if messages}}
				<div id="flash-messages" class="container">
					{{#if messages.info}}
					<div class="alert alert-info">
						{{{flashMessages messages.info}}}
					</div>
					{{/if}}
					{{#if messages.success}}
					<div class="alert alert-success">
						{{{flashMessages messages.success}}}
					</div>
					{{/if}}
					{{#if messages.warning}}
					<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
					</div>
					{{/if}}
					{{#if messages.error}}
					<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
					</div>
					{{/if}}
				</div>
				{{/if}}
				<!-- The content block should contain the body of your template's content-->
				{{{body}}}
			</div>
		</div>

		<div class="global-footer">
			<div class="content-wrapper">
				<nav class="footer-nav">
					<span>Contact Us</span>
					<span>Privacy Policy</span>
					<span>Non Discrimination Policy</span>
					<span>Our Partners</span>
				</nav>
				<nav class="social-nav">
					<img src="/dist/img/facebook-icon.png" alt="facebook">
					<img src="/dist/img/twitter-icon.png" alt="twitter">
					<img src="/dist/img/pinterest-icon.png" alt="pinterest">
					<img src="/dist/img/youtube-icon.png" alt="youtube">
				</nav>
				<img class="sponsor sponsor-jordans-furniture" src="/dist/img/jordans-furniture-logo.png" alt="jordans furniture">
				<img class="sponsor sponsor-jack-williams" src="/dist/img/jack-williams-logo.png" alt="jack williams">
				<div class="contact-info">
					<span class="address">45 Franklin Street, 5th Floor, Boston, MA 02110-1301</span>
					<span class="phone">Phone: 617-54-ADOPT (542-3678)</span>
					<span class="phone">Toll Free: 1-800-882-1176</span>
					<span class="fax">Fax: 617-542-1006</span>
				</div>
				<div class="disclaimer">MARE is partially funded by the Massachusetts Department of Children and Families (DCF)<span class="copyright">&copy; 2015 MARE Inc. All rights reserved.</span></div>
				</div>
			</div>
		</div>

		<script id="child-details-template" type="text/x-handlebars-template">

			<div class="detailed-profile">

				<div class="profile__profile-navigation">
					\{{#if previousChildRegistrationNumber}}
					<span class="profile-navigation__previous" data-registration-number=\{{previousChildRegistrationNumber}}>
						<i class="fa fa-angle-left fa-3x profile-navigation__previous-icon"></i>
						<span class="profile-navigation__previous-text">Previous Child</span>
					</span>
					\{{/if}}
					\{{#if previousChildRegistrationNumber}}
						\{{#if nextChildRegistrationNumber}}
						<span class="profile-navigation__divider">|</span>
						\{{/if}}
					\{{/if}}
					\{{#if nextChildRegistrationNumber}}
					<span class="profile-navigation__next" data-registration-number=\{{nextChildRegistrationNumber}}>
						<span class="profile-navigation__next-text">Next Child</span>
						<i class="fa fa-angle-right fa-3x profile-navigation__next-icon"></i>
					</span>
					\{{/if}}
				</div>

				<div class="profile-tabs">
					<span class="profile-tabs__tab profile-tabs__tab--selected" data-tab="profile">profile</span>
					\{{#if hasVideo}}<span class="profile-tabs__tab" data-tab="video">video</span>\{{/if}}
					\{{#if wednesdaysChild}}<span class="profile-tabs__tab" data-tab="wednesdays-child">wednesday's child</span>\{{/if}}
				</div>

				<div class="profile-tab__contents profile-tab__contents--selected" data-contents="profile">

					<img class="profile__profile-picture" src=\{{ thumbnailImage }}>

					<div class="profile__basic-info">
						<div class="profile-details__name">\{{ name }}</div>
						<div class="profile-details__age">Age \{{ age }}</div>
						<div class="profile-details__registration-number">Registration # \{{ registrationNumber }}</div>
					</div>

					<div class="profile__detailed-child-info">
						<div class="detailed-child-info__introduction">
							<div class="detailed-child-info__header">Hi! My name is \{{ name }}.</div>
						</div>
						<div class="detailed-child-info__part-1">
							<div class="detailed-child-info__header">Let me tell you more about myself...</div>
							<div class="detailed-child-info__body">\{{ profile.part1 }}</div>
						</div>
						<div class="detailed-child-info__part-2">
							<div class="detailed-child-info__header">And here’s what others say...</div>
							<div class="detailed-child-info__body">\{{ profile.part2 }}</div>
						</div>
						<div class="detailed-child-info__part-3">
							<div class="detailed-child-info__header">If I could have my own special wish...</div>
							<div class="detailed-child-info__body">\{{ profile.part3 }}</div>
						</div>
					</div>

					<div class="detailed-profile__footer">You can help bring me closer to finding "a place to call HOME" by filling out the <a href="/">MARE Information Request Form</a>. They will be glad to help you get more information about me.</div>
				</div>

				\{{#if hasVideo}}
				<div class="profile-tab__contents" data-contents="video">

					<div class="profile__basic-info">
						<div class="profile-details__name">\{{ name }}</div>
						<div class="profile-details__age">Age \{{ age }}</div>
						<div class="profile-details__registration-number">Registration # \{{ registrationNumber }}</div>
					</div>

					<div class="profile-details__video-container">
						<iframe src=\{{video}} frameborder="0" allowfullscreen class="profile-details__video"></iframe>
					</div>

					<div class="detailed-profile__footer">You can help bring me closer to finding "a place to call HOME" by filling out the <a href="/">MARE Information Request Form</a>. They will be glad to help you get more information about me.</div>

				</div>
				\{{/if}}

				\{{#if wednesdaysChild}}
				<div class="profile-tab__contents" data-contents="wednesdays-child">
					<span>Wednesday's Child content will go here</span>
				</div>
				\{{/if}}

			</div>

		</script>

		{{!--
		//- jQuery 1.11.1 is included by default, and required by the KeystoneJS Content Editor. If you are not targeting IE8, you can upgrade to 2.1.1 (also bundled) for better performance.
		--}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<script src="/dist/mare.min.js"></script>

		{{{isAdminEditorJS user}}}
	</body>
</html>