<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MARE</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		<link rel="stylesheet" href="/dist/mare.min.css">

		<link rel="stylesheet" href="dist/font-awesome.min.css">

		<script src="/dist/modernizr.custom.min.js"></script>

		{{!-- This file provides the default styling for the KeystoneJS Content Editor 
		- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		
		{{!-- Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->
		
	</head>
	<body>

		<nav id="mobile-menu" class="hidden">
			<ul>
				{{# each mainNav}}
				<li>
					{{# if subMenu}}
						<a href="#">{{ title }}</a>
						<ul>
							{{# each subMenu}}
							<li>
								{{# if subMenu}}
								<a href="#">{{ title }}</a>
								<ul>
									{{# each subMenu}}
									<li>
										<a href="{{ href }}">{{ title }}</a>
									</li>
									{{/each}}
								</ul>
								{{else}}
								<a href="{{ href }}">{{ title }}</a>
								{{/if}}
							</li>
							{{/each}}
						</ul>
						{{else}}
						<a href="{{ href }}">{{ title }}</a>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</nav>

		<div class="global-header">
			<div class="content-wrapper">
				<span class="logo-container">
					<img src="/dist/img/mare-logo.png" alt="logo">
					<img src="/dist/img/mare-logo-text.png" alt="logo">
				</span>
				<span class="header-navigation-container">

					<nav class="top-nav">
						<ul class="nav">
							<li class="top-nav-item home-link"><a href="/">Home</a></li>
							<li class="top-nav-item log-in-link">
								<a href="/keystone/signin">Log in</a>
								<span class="arrow-down"></span>
							</li>
							<li class="top-nav-item donate">Donate</li>
							<li class="top-nav-item hamburger">
								<a href="#mobile-menu">
									<img src="/dist/img/hamburger.png">
								</a>
							</li>
						</ul>
					</nav>
				</span>
			</div>

			<nav class="main-nav">
				<div class="content-wrapper">
					<ul class="nav">
						{{# each mainNav}}
						<li>
							{{# if subMenu}}
							<a href="#" class="parent main-menu">{{ title }}</a>
							<ul>
								{{# each subMenu}}
								<li>
									{{# if subMenu}}
									<a href="#" class="parent sub-menu">{{ title }}</a>
									<ul>
										{{# each subMenu}}
										<li>
											<a href="{{ href }}">{{ title }}</a>
										</li>
										{{/each}}
									</ul>
									{{else}}
									<a href="{{ href }}">{{ title }}</a>
									{{/if}}
								</li>
								{{/each}}
							</ul>
							{{else}}
							<a href="{{ href }}">{{ title }}</a>
							{{/if}}
						</li>
						{{/each}}
					</ul>
				</div>
			</nav>
		</div>
			
		<div class="body">
			<div class="content-wrapper">
				<!--
					Flash messages allow you to display once-off status messages to users, e.g. form
					validation errors, success messages, etc
				-->
				{{#if messages}}
				<div id="flash-messages" class="container">
					{{#if messages.info}}
					<div class="alert alert-info">
						{{{flashMessages messages.info}}}
					</div>
					{{/if}}
					{{#if messages.success}}
					<div class="alert alert-success">
						{{{flashMessages messages.success}}}
					</div>
					{{/if}}
					{{#if messages.warning}}
					<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
					</div>
					{{/if}}
					{{#if messages.error}}
					<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
					</div>
					{{/if}}
				</div>
				{{/if}}
				<!-- The content block should contain the body of your template's content-->
				{{{body}}}
			</div>
		</div>

		<div class="global-footer">
			<div class="content-wrapper">
				<nav class="footer-nav">
					<span>Contact Us</span>
					<span>Privacy Policy</span>
					<span>Non Discrimination Policy</span>
					<span>Our Partners</span>
				</nav>
				<nav class="social-nav">
					<img src="/dist/img/facebook-icon.png" alt="facebook">
					<img src="/dist/img/twitter-icon.png" alt="twitter">
					<img src="/dist/img/pinterest-icon.png" alt="pinterest">
					<img src="/dist/img/youtube-icon.png" alt="youtube">
				</nav>
				<img class="sponsor sponsor-jordans-furniture" src="/dist/img/jordans-furniture-logo.png" alt="jordans furniture">
				<img class="sponsor sponsor-jack-williams" src="/dist/img/jack-williams-logo.png" alt="jack williams">
				<div class="contact-info">
					<span class="address">45 Franklin Street, 5th Floor, Boston, MA 02110-1301</span>
					<span class="phone">Phone: 617-54-ADOPT (542-3678)</span>
					<span class="phone">Toll Free: 1-800-882-1176</span>
					<span class="fax">Fax: 617-542-1006</span>
				</div>
				<div class="disclaimer">MARE is partially funded by the Massachusetts Department of Children and Families (DCF)<span class="copyright">&copy; 2015 MARE Inc. All rights reserved.</span></div>
				</div>
			</div>
		</div>

		{{!--
		//- jQuery 1.11.1 is included by default, and required by the KeystoneJS Content Editor. If you are not targeting IE8, you can upgrade to 2.1.1 (also bundled) for better performance.
		--}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<script src="/dist/mare.min.js"></script>

		{{{isAdminEditorJS user}}}
	</body>
</html>