<section class="donations-page card card--large-padding">

	<div class="donations-page__header-area">
		<div class="donations-page__header">Donate</div>
		<div class="donations-page__subheader">Your gift helps MARE find adoptive parents for children in state foster care</div>
	</div>

	<section class="donations-page__selection-group">

		<span class="selection-group__number">1.</span>
		<div class="selection-group__content">
			<span class="selection-group__header-text">Guarantee your support to help children in need. Recurring donations are the best way to give steady support</span>
			<div id="donation-duration-button-group" class="button-group button-group--space-between button-group--large-margin-above">
				<button class="toggle-button toggle-button--quarter" data-donation-interval="{{donationPlans.onetime.interval_count}}" >Just Once</button>
				<button class="toggle-button toggle-button--quarter" data-donation-interval="{{donationPlans.monthly.interval_count}}">Monthly</button>
				<button class="toggle-button toggle-button--quarter" data-donation-interval="{{donationPlans.biannual.interval_count}}">Bi-Annually</button>
				<button class="toggle-button toggle-button--quarter" data-donation-interval="{{donationPlans.annual.interval_count}}">Annually</button>
			</div>
		</div>

	</section>

	<section class="donations-page__selection-group">

		<span class="selection-group__number">2.</span>	
		<div class="selection-group__content">
			<span class="selection-group__header-text">Choose desired donation amount</span>
			<div class="selection-group__supporting-text"></div>
			<div id="donation-amount-button-group" class="button-group button-group--space-between button-group--large-margin-above">
				<button class="toggle-button toggle-button--sixth" data-value="50">$50</button>
				<button class="toggle-button toggle-button--sixth" data-value="100">$100</button>
				<button class="toggle-button toggle-button--sixth" data-value="250">$250</button>
				<button class="toggle-button toggle-button--sixth" data-value="500">$500</button>
				<button class="toggle-button toggle-button--sixth" data-value="750">$750</button>
				<button class="toggle-button toggle-button--sixth" data-value="1000">$1,000</button>
			</div>

			<div class="button-group button-group--relative button-group--large-margin-above">
				<label class="donations__input-label" for="donation-amount-input">$</label>
				<input type="number" step="5" id="donation-amount-input" class="donations__input-field donations__input-field--more-padding-left" placeholder="Other Amount" min="0">
			</div>
		</div>

	</section>

	<section class="donations-page__selection-group">

		<span class="selection-group__number">3.</span>
		<div class="selection-group__content">
			<span class="selection-group__header-text">(optional) Dedicate your donation to honor someone else</span>
			<div class="button-group button-group--large-margin-above">	
				<input type="text" id="donation-in-honor-of-input" class="donations__input-field donations__input-field--longer" placeholder="In Honor / Memory Of">
			</div>
		</div>

	</section>
	
	{{#if user}}
	<input type="hidden" id="donation-name-input" value="{{user.name.full}}">
	{{else}}
	<section class="donations-page__selection-group">

		<span class="selection-group__number">4.</span>
		<div class="selection-group__content">
			<span class="selection-group__header-text">Your Name</span>
			<div class="button-group button-group--large-margin-above">	
				<input type="text" id="donation-name-input" class="donations__input-field donations__input-field--longer" placeholder="Your Name">
			</div>
		</div>

	</section>
	{{/if}}

	<div class="button-group button-group--centered button-group--medium-margin-below">
		<button id="donate-button" class="button button--disabled button--large button--green">Place Donation</button>
	</div>

</section>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
	// make stripe API key accessible to backbone view
	var STRIPE_API_KEY = '{{stripeAPIKey}}';
</script>
