<div class="info-card info-card--warning">

	{{#if showMAPPTrainings}} {{> events-mapp-training-info}} {{/if}}
	{{#if showAdoptionParties}} {{> events-adoption-party-info}} {{/if}}

	<section class="card__button-group card__button-group--single-button">
		<button class="card__button events__show-categories-button" data-url="/events">Back to All Events</button>
	</section>

</div>

{{#if noEvents}}

<div class="info-card info-card--centered info-card--spacious">
	<div class="info-card__text">
		<p class="info-card__text">There are no upcoming events, please check back later.</p>
	</div>
</div>

{{else}}

<div class="card-group">

	{{#each events}}

	<div class="card">
		<h2 class="card__title">{{ name }}</h2>
		<div class="card__content">
			<section class="card__content-group">
				<span class="card__overview">
					{{#if date}}
					<img src="../../images/icon-wednesdays-child.png" class="card__overview-image">
					<span class="card__overview-text">{{ date }}</span>
					{{/if}}
				</span>
				<span class="card__overview">
					{{#if address}}
					<img src="../../images/icon-wednesdays-child.png" class="card__overview-image">
					<address class="card__overview-text">
						{{ address.street1 }} {{ address.street2 }}<br>
						{{ address.city }}, {{ address.state.state }} {{ address.zipCode }}
					</address>
					{{/if}}
				</span>
				<span class="card__overview">
					{{#if startTime}}
					<img src="../../images/icon-wednesdays-child.png" class="card__overview-image">
					<span class="card__overview-text">{{ startTime }} - {{ endTime }}</span>
					{{/if}}
				</span>
				<span class="card__overview">
					<img src="../../images/icon-wednesdays-child.png" class="card__overview-image">
					<span class="card__overview-text">Click “More Info” below for registration and contact info</span>
				</span>
			</section>
		</div>
		<section class="card__button-group card__button-group--multiple-buttons">
			<button class="card__button events__show-details-button" data-url="{{ url }}">View Details</button>
			{{#if ../user}}
			<button class="card__button {{#if attended}} card__button--unregister events__unregister-button {{else}} events__register-button {{/if}}" data-event-id="{{ _id }}">{{#if attended}} Unregister {{else}} Register {{/if}}</button>
			{{/if}}
		</section>

	</div>

	{{/each}}

</div>

{{/if}}