<div class="card card--vertical card--large-padding">

	{{#if showMAPPTrainings}} {{> events-mapp-training-info}} {{/if}}
	{{#if showAdoptionParties}} {{> events-adoption-party-info}} {{/if}}

	{{#if canSubmitEvent}}
	<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">	
		<button class="button button--large button--teal events__create-event-button" data-url="/forms/agency-event-submission-form">Submit an Event</button>
	</section>
	{{/if}}

</div>

{{#if eventMissing}}

<section class="card-list">
	<div class="card card--large-padding">
		<div class="card__details card__details--centered">
			<p class="card__details__body">This event is no longer active.</p>
		</div>
	</div>
</section>

{{else}}

<section class="card-list">

	<div class="card card--vertical card--medium-padding">
		<h2 class="card__title">{{ event.name }}</h2>
		<div class="card__content">
			<div class="events__event-description">
				{{{ event.description }}}
			</div>
		</div>
		<section class="card__content-group">
			<time class="events__time">{{ event.dateTimeString }}</time>
			<address class="events__address">
				{{ event.address.street1 }}<br>
				{{#if events.address.street2}} {{ event.address.street2 }}<br> {{/if}}
				{{#if events.address.city}} {{ event.address.city }},{{/if}} {{ event.address.state.state }} {{ event.address.zipCode }}
			</address>
		</section>
		<section class="card__content-group events__contact">
			{{#if event.contact.name.full}}
			For more information, {{#if event.contact.phone.work}}call{{else}}contact{{/if}} {{ event.contact.name.full }} at {{#if event.contact.phone.work}} {{ event.contact.phone.work }} {{else}} <a href="mailto:{{ event.contact.email }}" class="events__contact-link">{{ event.contact.email}}</a> {{/if}}
			{{else}}
			For more information, contact <a href="mailto:{{ event.contactEmail }}" class="events__contact-link">{{ event.contactEmail}}</a>
			{{/if}}
		</section>

		{{#if isAdmin}}
		<hr class="card__content-divider"></hr>
		<aside class="card__content-group">
			<h3 class="card__title">Attendees</h3>
			<section class="card__list-container">
				{{#if event.hasStaffAttendees}}
				<h4 class="card__list-title">Staff</h4>
				<ul class="card__list" data-group="admin">
				{{/if}}
					{{#each event.staffAttendees}}
					<li class="card__list-item">{{ name.full }}</li>
					{{/each}}
				{{#if event.hasStaffAttendees}}
				</ul>
				{{/if}}
			</section>

			<section class="card__list-container">
				{{#if event.hasSocialWorkerAttendees}}
				<h4 class="card__list-title">Social Workers</h4>
				<ul class="card__list" data-group="social worker">
				{{/if}}
					{{#each event.socialWorkerAttendees}}
					<li class="card__list-item">{{ name.full }}</li>
					{{/each}}
				{{#if event.hasSocialWorkerAttendees}}
				</ul>
				{{/if}}
			</section>

			<section class="card__list-container">
				{{#if event.hasChildAttendees}}
				<h4 class="card__list-title">Children</h4>
				<ul class="card__list">
				{{/if}}
					{{#each event.childAttendees}}
					<li class="card__list-item">{{ name.full }}</li>
					{{/each}}
				{{#if event.hasChildAttendees}}
				</ul>
				{{/if}}
			</section>

			<section class="card__list-container">
				{{#if event.hasFamilyAttendees}}
				<h4 class="card__list-title">Families</h4>
				<ul class="card__list" data-group="family">
				{{/if}}
					{{#each event.familyAttendees}}
					<li class="card__list-item">{{ fullName }}</li>
					{{/each}}
				{{#if event.hasFamilyAttendees}}
				</ul>
				{{/if}}
			</section>

			<section class="card__list-container">
				{{#if event.hasSiteVisitorAttendees}}
				<h4 class="card__list-title">Site Visitors</h4>
				<ul class="card__list" data-group="site visitor">
				{{/if}}
					{{#each event.siteVisitorAttendees}}
					<li class="card__list-item">{{ name.full }}</li>
					{{/each}}
				{{#if event.hasSiteVisitorAttendees}}
				</ul>
				{{/if}}
			</section>
		</aside>

		{{/if}}

		{{#unless user}}
		<hr class="card__content-divider"></hr>
		<label for="register-with-mare-button" class="button-group__label">In order to register for events, you first need to log in or create an account.</label>
		{{/unless}}
		<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">
			{{#if canRegister}}
			{{#if user}}
			<button class="button button--large button--teal {{#if event.attending}} events__unregister-button {{else}} events__register-button {{/if}}" data-event-id="{{ event._id }}">{{#if event.attending}} Unregister {{else}} Register {{/if}}</button>
			{{else}}
			<button id="register-with-mare-button" class="button button--large button--teal events__create-account-button" data-url="/register">Create an account</button>
			{{/if}}
			{{/if}}
		</section>

	</div>

</section>

{{/if}}
