<div class="card card--vertical card--large-padding">

	{{#ifeq category 'mare-hosted-events'}}
		<h1 class="card__title">MARE Hosted Events</h1>
		{{> events-mare-hosted-events-info}}
	{{/ifeq}}

	{{#ifeq category 'partner-hosted-events'}}
		<h1 class="card__title">Partner Hosted Events</h1>
		{{> events-partner-hosted-events-info}}
	{{/ifeq}}

	{{#ifeq category 'mapp-trainings'}}
		<h1 class="card__title">MAPP Training Events</h1>
		{{> events-mapp-training-info}}
	{{/ifeq}}

	{{#if canSubmitEvent}}
	<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">	
		<button class="button button--large button--teal events__navigation-button" data-url="/forms/agency-event-submission">Submit an Event</button>
	</section>
	{{/if}}

</div>

{{#if isEventMissing}}

<section class="card-list">

	<div class="card card--large-padding">
		<div class="card__details card__details--centered">
			<p class="card__details__body">This event is no longer active.</p>
		</div>
	</div>

</section>

{{else}}

<section class="card-list">

	<div class="card card--vertical card--medium-padding event"
		data-event-name="{{ event.name }}"
		data-event-date="{{ event.displayDate }}"
		data-event-id="{{ event._id }}"
		{{#if isUserBringingChildren}}
		data-registered-children-user-is-bringing="[{{ registeredChildrenUserIsBringing }}]"
		{{/if}}
		{{#if isUserBringingUnregisteredChildren}}
		data-unregistered-children-user-is-bringing="[{{ unregisteredChildrenUserIsBringing }}]"
		{{/if}}
		{{#if isUserBringingUnregisteredAdults}}
		data-unregistered-adults-user-is-bringing="[{{ unregisteredAdultsUserIsBringing }}]"
		{{/if}}
		{{#if isUnregisteredChildAndAdultRegistrationAllowed}}
		data-is-unregistered-child-and-adult-registration-allowed="true"
		{{/if}}
	>
		
		<h2 class="card__title">{{ event.displayName }}</h2>
		
		<div class="card__content">
			<div class="events__event-description">
				{{{ event.description }}}
			</div>
		</div>
		
		<section class="card__content-group events__contact">
			{{#if event.contact.name.full}}
			For questions please contact {{ event.contact.name.full }} at <a href="mailto:{{ event.contact.email }}" class="events__contact-link">{{ event.contact.email}}</a>
			{{else if event.contactEmail}}
			For questions, please contact <a href="mailto:{{ event.contactEmail }}" class="events__contact-link">{{ event.contactEmail }}</a>
			{{/if}}
		</section>

		{{#if canExportEvent}}
		<section class="button-group button-group--horizontal button-group--space-around button-group--extra-large-margin-above">
			<button class="button button--large button--teal events__excel-export-button">Export to Excel</button>
		</section>
		{{/if}}

		{{#ifeq userType 'admin'}}
		<hr class="card__content-divider"></hr>
		<aside class="card__content-group events__attendees">
			<h3 class="card__title">Attendees</h3>

			<section class="card__list-container">
				<h4 class="card__list-title">Staff</h4>
				<ul class="card__list" data-group="admin">
					{{#if event.hasStaffAttendees}}
					{{#each event.staffAttendees}}
					<li class="card__list-item events__attendee">{{ name.full }}</li>
					{{/each}}
					{{else}}
					<li class="card__list-item card__list-item--disabled card__list-item--no-data">no staff attending</li>
					{{/if}}
				</ul>
			</section>

			<section class="card__list-container">
				<h4 class="card__list-title">Social Workers</h4>
				<ul class="card__list" data-group="social worker">
					{{#if event.hasSocialWorkerAttendees}}
					{{#each event.socialWorkerAttendees}}
					<li class="card__list-item events__attendee">{{ name.full }}</li>
					{{/each}}
					{{else}}
					<li class="card__list-item card__list-item--disabled card__list-item--no-data">no social workers attending</li>
					{{/if}}
				</ul>
			</section>

			<section class="card__list-container">
				<h4 class="card__list-title">Families</h4>
				<ul class="card__list" data-group="family">
					{{#if event.hasFamilyAttendees}}
					{{#each event.familyAttendees}}
					<li class="card__list-item events__attendee">{{ displayName }}</li>
					{{/each}}
					{{else}}
					<li class="card__list-item card__list-item--disabled card__list-item--no-data">no families attending</li>
					{{/if}}
				</ul>
			</section>

			<section class="card__list-container">
				<h4 class="card__list-title">Site Visitors</h4>
				<ul class="card__list" data-group="site visitor">
					{{#if event.hasSiteVisitorAttendees}}
					{{#each event.siteVisitorAttendees}}
					<li class="card__list-item events__attendee">{{ name.full }}</li>
					{{/each}}
					{{else}}
					<li class="card__list-item card__list-item--disabled card__list-item--no-data">no site visitors attending</li>
					{{/if}}
				</ul>
			</section>

			<section class="card__list-container">
				<h4 class="card__list-title">Registered Children</h4>
				<ul class="card__list">
					{{#if event.hasChildAttendees}}
					{{#each event.childAttendees}}
					<li class="card__list-item events__attendee">{{ name.full }}</li>
					{{/each}}
					{{else}}
					<li class="card__list-item card__list-item--disabled card__list-item--no-data">no registered children attending</li>
					{{/if}}
				</ul>
			</section>

			<section class="card__list-container">
				<h4 class="card__list-title">Unregistered Children</h4>
				<ul class="card__list">
					{{#if event.hasUnregisteredChildAttendees}}
					{{#each event.unregisteredChildAttendees}}
					{{#if ../isUnregisteredChildAndAdultRegistrationAllowed}}
					<li class="card__list-item card__list-item--editable events__attendee events__unregistered-child-attendee"
						data-id="{{ _id }}"
						data-original-first-name="{{ name.first }}"
						data-original-last-name="{{ name.last }}"
						data-original-age="{{ age }}"
						data-first-name="{{ name.first }}"
						data-last-name="{{ name.last }}"
						data-age="{{ age }}"
						data-attendee-type="child"
					>
						<span class="card__list-item-content events__attendee-name">{{ name.first }} {{ name.last }}</span>
						<i class="fa fa-trash card__list-item-content-control card__list-item-content-control--hidden card__list-item-delete-content" aria-hidden="true"></i>
						<i class="fa fa-pencil card__list-item-content-control card__list-item-content-control--hidden card__list-item-edit-content" aria-hidden="true"></i>
						<i class="fa fa-undo card__list-item-content-control card__list-item-content-control--hidden card__list-item-content-control--disabled card__list-item-undo-edit" aria-hidden="true"></i>
					</li>
					{{else}}
					<li class="card__list-item events__attendee">{{ name.first }} {{ name.last }}</li>
					{{/if}}
					{{/each}}
					{{else}}
					<li class="card__list-item card__list-item--disabled card__list-item--no-data">no unregistered children attending</li>
					{{/if}}
				</ul>
			</section>

			<section class="card__list-container">
				<h4 class="card__list-title">Unregistered Adults</h4>
				<ul class="card__list">
					{{#if event.hasUnregisteredAdultAttendees}}
					{{#each event.unregisteredAdultAttendees}}
					{{#if ../isUnregisteredChildAndAdultRegistrationAllowed}}
					<li class="card__list-item card__list-item--editable events__attendee events__unregistered-adult-attendee"
						data-id="{{ _id }}"
						data-original-first-name="{{ name.first }}"
						data-original-last-name="{{ name.last }}"
						data-first-name="{{ name.first }}"
						data-last-name="{{ name.last }}"
						data-attendee-type="adult"
					>
						<span class="card__list-item-content events__attendee-name">{{ name.first }} {{ name.last }}</span>
						<i class="fa fa-trash card__list-item-content-control card__list-item-content-control--hidden card__list-item-delete-content" aria-hidden="true"></i>
						<i class="fa fa-pencil card__list-item-content-control card__list-item-content-control--hidden card__list-item-edit-content" aria-hidden="true"></i>
						<i class="fa fa-undo card__list-item-content-control card__list-item-content-control--hidden card__list-item-content-control--disabled card__list-item-undo-edit" aria-hidden="true"></i>
					</li>
					{{else}}
					<li class="card__list-item events__attendee">{{ name.first }} {{ name.last }}</li>
					{{/if}}
					{{/each}}
					{{else}}
					<li class="card__list-item card__list-item--disabled card__list-item--no-data">no unregistered adults attending</li>
					{{/if}}
				</ul>
			</section>
		</aside>

		{{/ifeq}}

		{{#if canRegister}}
		{{#unless user}}
		<hr class="card__content-divider"></hr>
		<label for="register-with-mare-button" class="button-group__label">In order to register for events, you first need to log in or create an account.</label>
		{{/unless}}
		{{/if}}
		<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">
			{{#if canRegister}}
			{{#if user}}
			{{!-- TODO: this handling of unregistering through forms was only done for consistency in flash messaging and NEEDS to be reworked --}}
			{{#if event.attending}}
			<form action="/events/unregister/{{ event._id }}" class="modal-form--event-registration" method="POST">
				<input type="hidden" name="eventName" value="{{ event.name }}">
				<input type="hidden" name="redirectPath" value="{{ redirectPath }}">
				<button class="button button--large button--teal" type="submit">Unregister</button>
			</form>
			<button class="button button--large button--teal events__edit-registration-button">Edit Registration</button>
			{{else}}
			<button class="button button--large button--teal events__register-button">Register</button>
			{{/if}}
			{{else}}
			<button id="register-with-mare-button" class="button button--large button--teal events__navigation-button" data-url="/register">Create an account</button>
			{{/if}}
			{{/if}}
		</section>

	</div>
</section>

{{/if}}

{{#ifeq userType 'site visitor'}}
{{> event-registration-form}}
{{> event-edit-registration-form}}
{{/ifeq}}
{{#ifeq userType 'family'}}
{{> event-registration-form}}
{{> event-edit-registration-form}}
{{/ifeq}}
{{#ifeq userType 'social worker'}}
{{> event-social-worker-registration-form}}
{{> event-edit-social-worker-registration-form}}
{{/ifeq}}
{{#ifeq userType 'admin'}}
{{#if isUnregisteredChildAndAdultRegistrationAllowed}}
{{> event-add-unregistered-child-form}}
{{> event-add-unregistered-adult-form}}
{{/if}}
{{/ifeq}}
