<div class="card card--vertical card--large-padding">

	{{#if showMAPPTrainings}} {{> events-mapp-training-info}} {{/if}}
	{{#if showAdoptionParties}} {{> events-adoption-party-info}} {{/if}}

	<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">
		{{#if canSubmitEvent}}
		<button class="button button--large button--teal events__create-event-button" data-url="/forms/agency-event-submission-form">Submit an Event</button>
		{{/if}}
	</section>

</div>

{{#if noEvents}}

<section class="card-list">
	<div class="card card--large-padding">
		<div class="card__details card__details--centered">
			<p class="card__details__body">There are no upcoming events, please check back later.</p>
		</div>
	</div>
</section>

{{else}}

<section class="card-list">

	{{#each events}}

	<div class="card card--vertical card--medium-padding card--small-margin-below">
		<h2 class="card__title">{{ name }}</h2>
		<div class="card__content">
			<section class="card__content-group">
				<span class="card__overview">
					{{#if startDate}}
					<i class="fa fa-2x fa-calendar-o card__overview-icon" aria-hidden="true"></i>
					<span class="card__overview-text">{{ dateString }}</span>
					{{/if}}
				</span>
				<span class="card__overview">
					{{#if address}}
					<i class="fa fa-2x fa-map-marker card__overview-icon" aria-hidden="true"></i>
					<address class="card__overview-text">
						{{ address.street1 }} {{ address.street2 }}<br>
						{{ address.city }}, {{ address.state.state }} {{ address.zipCode }}
					</address>
					{{/if}}
				</span>
				<span class="card__overview">
					{{#if startTime}}
					<i class="fa fa-2x fa-clock-o card__overview-icon" aria-hidden="true"></i>
					<span class="card__overview-text">{{ startTime }} - {{ endTime }}</span>
					{{/if}}
				</span>
				<span class="card__overview">
					<i class="fa fa-2x fa-envelope-o card__overview-icon" aria-hidden="true"></i>
					<span class="card__overview-text">Click “More Info” below for registration and contact info</span>
				</span>
			</section>
		</div>
		<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">
			<button class="button button--large button--teal events__show-details-button" data-url="{{ url }}">View Details</button>
			{{#if ../canRegister}}
			{{#if ../user}}
			<button class="button button--large button--teal {{#if attended}} events__unregister-button {{else}} events__register-button {{/if}}" data-event-id="{{ _id }}">{{#if attended}} Unregister {{else}} Register {{/if}}</button>
			{{/if}}
			{{/if}}
		</section>

	</div>

	{{/each}}

</section>

{{/if}}