<div class="page-header">
	<span class="page-header-text">Car Donation Form</span>
</div>

<div class="form-intro">
	Please be sure to have your title information available prior to filling out this form.
Route 128 Used Auto Parts &amp; Sales’ towing area encompasses Eastern and Central parts of Massachusetts.
</div>

<section class="car-donation-form">

	<div class="form-type-header">Donate Your Car</div>
	<span class="required required-description">* Required</span>

	<form action="/submit-car-donation" class="form--car-donation" method="POST">

		<input type="hidden" name="action" value="donateCar" />

		<section class="contact-information-section">
			<div class="form-section-header">Contact Information</div>

			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="first-name" name="firstName" data-parsley-error-message="required" required="">
					<label for="contact-first-name" class="label required-field">First Name</label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="last-name" name="lastName" data-parsley-error-message="required" required="">
					<label for="contact-last-name" class="label required-field">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="home-phone" name="homePhone" data-parsley-error-message="required" required="">
					<label for="home-phone" class="label required-field">Home Phone</label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="work-phone" name="workPhone" data-parsley-error-message="required" required="">
					<label for="work-phone" class="label required-field">Work Phone</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="email" class="input" id="email" name="email" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="valid email required" required="">
					<label for="email" class="label required-field">Email <em>(Required for receipt)</em></label>
				</div>
			</div>
		</section>

		<section class="address-section">
			<div class="form-section-header">Home Address</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" required id="address1" name="address1" data-parsley-error-message="required" required="">
					<label for="address1" class="label required-field">Address 1</label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" required id="address2" name="address2" data-parsley-error-message="required" required="">
					<label for="address2" class="label required-field">Address 2</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" required id="city" name="city" data-parsley-error-message="required" required="">
					<label for="city" class="label required-field">City</label>
				</div>
				<div class="col-sm-12 form-group">
					<select id="state" class="input" name="state">
					{{#each states}}
						{{#if defaultSelection}}
							<option value="{{ _id }}" selected="selected">{{ state }}</option>
						{{else}}
							<option value="{{ _id }}">{{ state }}</option>
						{{/if}}
					{{/each}}
					</select>
					<label for="state" class="label required-field">State</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" class="input" required id="zip" name="contactZip" data-parsley-error-message="required" required="">
					<label for="zip" class="label required-field">Zip Code</label>
				</div>
			</div>
		</section>

		<section class="car-location-section">
			<div class="form-section-header">Car Location</div>

			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-location" name="carLocation" data-parsley-error-message="required" required="">
					<label for="car-location" class="label required-field">Current Location <em>(driveway, business, etc)</em></label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" required id="car-address" name="carAddress" data-parsley-error-message="required" required="">
					<label for="car-address" class="label required-field">Address</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" required id="car-city" name="carCity" data-parsley-error-message="required" required="">
					<label for="car-city" class="label required-field">City</label>
				</div>
				<div class="col-sm-12 form-group">
					<select id="car-state" name="carState" class="input">
					{{#each states}}
						{{#if defaultSelection}}
							<option value="{{ _id }}" selected="selected">{{ state }}</option>
						{{else}}
							<option value="{{ _id }}">{{ state }}</option>
						{{/if}}
					{{/each}}
					</select>
					<label for="car-state" class="label required-field">State</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" required id="car-zip" name="carZip" data-parsley-error-message="required" required="">
					<label for="car-zip" class="label required-field">Zip Code</label>
				</div>
			</div>
		</section>

		<section class="car-information-section">
			<div class="form-section-header">Car Information</div>

			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-owner-first-name" name="carOwnerFirstName" data-parsley-error-message="required" required="">
					<label for="car-owner-first-name" class="label required-field">Car Owner's First Name</label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-owner-last-name" name="carOwnerLastName" data-parsley-error-message="required" required="">
					<label for="car-owner-last-name" class="label required-field">Car Owner's Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-year" name="carYear" data-parsley-error-message="required" required="">
					<label for="car-year" class="label required-field">Year</label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-make" name="carMake" data-parsley-error-message="required" required="">
					<label for="car-make" class="label required-field">Make</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-model" name="carModel" data-parsley-error-message="required" required="">
					<label for="car-model" class="label required-field">Model</label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-color" name="carColor" data-parsley-error-message="required" required="">
					<label for="car-color" class="label required-field">Color</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-mileage" name="carMileage" data-parsley-error-message="required" required="">
					<label for="car-mileage" class="label required-field">Mileage</label>
				</div>
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-vin" name="carVin" data-parsley-error-message="required" required="">
					<label for="car-vin" class="label required-field">Vin # <em>(17 digits)</em></label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input type="text" class="input" id="car-title" name="carTitle" data-parsley-error-message="required" required="">
					<label for="car-title" class="label required-field">Title #</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<span>Is the car running?</span>
				</div>
				<div class="col-sm-12 form-group">
					<label class="radio-inline"><input type="radio" name="carRunning" value="yes">Yes</label>
					<label class="radio-inline"><input type="radio" name="carRunning" value="no">No</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<span>Was the car in any accidents?</span>
				</div>
				<div class="col-sm-12 form-group">
					<label class="radio-inline"><input type="radio" name="carAccident" value="yes">Yes</label>
					<label class="radio-inline"><input type="radio" name="carAccident" value="no">No</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<span>Do the tires have air in them?</span>
				</div>
				<div class="col-sm-12 form-group">
					<label class="radio-inline"><input type="radio" name="carAirInTires" value="yes">Yes</label>
					<label class="radio-inline"><input type="radio" name="carAirInTires" value="no">No</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<span>Is there any rust?</span>
				</div>
				<div class="col-sm-12 form-group">
					<label class="radio-inline"><input type="radio" name="carRust" value="yes">Yes</label>
					<label class="radio-inline"><input type="radio" name="carRust" value="no">No</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-16 form-group">
					<textarea class="input" id="car-mechanical-problems" name="carMechanicalProblems" rows="3" data-parsley-error-message="required" required=""></textarea>
					<label for="car-mechanical-problems" class="label required-field">Please note any major mechanical problems</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-16 form-group">
					<textarea class="input" id="car-body-damage" name="carBodyDamage" rows="3" data-parsley-error-message="required" required=""></textarea>
					<label for="car-body-damage" class="label required-field">Please note any body damage</label>
				</div>
			</div>
		</section>

		<section class="mare-and-you-section">
			<div class="form-section-header">Mare &amp; You</div>

			<div class="row">
				<div class="col-sm-24 form-group">
					<label class="label required-field marg-bottom-xs-5">How did you hear about the car donation program?</label>
				</div>
				<div class="col-sm-16">
					<div id="family-how-did-you-hear-error-container" class="row error-container">
						{{#each waysToHearAboutMARE}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline way-to-hear-about-MARE {{#if other}}other-way-to-hear-about-mare{{/if}}">
								<input type="checkbox" name="howDidYouHear[]" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#family-how-did-you-hear-error-container" data-parsley-mincheck="1" required="">{{wayToHearAboutMARE}}
							</label>
						</div>
						{{/each}}
					</div>
					<div class="row">
						<div class="col-sm-24 form-group">
							<input type="text" id="family-how-did-you-hear-other" class="input required-field hidden" name="howDidYouHearOther" data-parsley-required="false" data-parsley-error-message="required" placeholder="other...">
						</div>
					</div>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-16">
					<textarea class="input" id="comments" name="comments" rows="5"></textarea>
					<label for="comments" class="label">Questions or Comments</label>
				</div>
			</div>

		</section>

		<button class="button button--blue" type="submit">Submit</button>
	</form>
</section>