{{!< default}}
<div class="main">
	<div class="content">
		<div class="content-body">
			<div class="container">
				<div id="owl-demo" class="owl-carousel">
					{{#each slides}}
					<div class="item">
						<img class="lazyOwl" data-src="{{ imageScaled }}" alt="{{ heading }}">
						<span class="featured-description hidden">
							<div class="featured-header">{{ heading }}</div>
							<div class="featured-tagline">{{ subHeading }}</div>
							<div class="featured-learn-more">{{ guideLabel }}</div>
						</span>
					</div>
					{{/each}}
				</div>
			</div>
			{{#each featuredItems}}
			<ul class="featured-items">
				<li class="featured-item feature-about-us">
					<a href="{{ aboutUs.url }}" class="cover">
						<img src="{{ aboutUs.imageScaled }}" alt="{{ aboutUs.title }}">
						<div class="featured-item-description">
							<span class="featured-item-title">{{ aboutUs.title }}</span>
							<span class="featured-item-summary">{{ aboutUs.summary }}</span>
							<span class="featured-item-learn-more">Learn more</span>
						</div>
					</a>
				</li>
				<li class="featured-item featured-success-story">
					<a href="{{ successStory.url }}" class="cover">
						<img src="{{ successStory.imageScaled }}" alt="{{ successStory.title }}">
						<div class="featured-item-description">
							<span class="featured-item-title">{{ successStory.title }}</span>
							<span class="featured-item-summary">{{ successStory.summary }}</span>
							<span class="featured-item-learn-more">Learn more</span>
						</div>
					</a>
				</li>
				<li class="featured-item featured-upcoming-event">
					<img src="{{ upcomingEvent.imageScaled }}" alt="{{ upcomingEvent.title }}">
					<div class="featured-item-description">
						<span class="featured-item-title">{{ upcomingEvent.title }}</span>
						<span class="featured-item-summary">{{ upcomingEvent.summary }}</span>
						<span class="featured-item-learn-more">Learn more</span>
					</div>
				</li>
			</ul>
			{{/each}}
		</div>
	</div>
</div>