{{!< default}}
<div class="main">
	<div class="content">
		<div class="container">
			<div id="owl-demo" class="owl-carousel">
				{{#each slides}}
				<div class="item">
					<img class="lazyOwl" data-src="{{ image_scaled }}" alt="{{ heading }}">
					<span class="featured-description hidden">
						<div class="featured-header">{{ heading }}</div>
						<div class="featured-tagline">{{ subHeading }}</div>
						<div class="featured-learn-more">{{ guideLabel }}</div>
					</span>
				</div>
				{{/each}}
			</div>
		</div>
		{{#each featuredItems}}
		<ul class="featured-items">
			<li class="featured-item feature-about-us">
				<a href="{{ aboutUsUrl }}" class="cover">
					<img src="{{ aboutUsImage_scaled }}" alt="{{ aboutUsTitle }}">
					<div class="featured-item-description">
						<span class="featured-item-title">{{ aboutUsTitle }}</span>
						<span class="featured-item-summary">{{ aboutUsSummary }}</span>
						<span class="featured-item-learn-more">Learn more</span>
					</div>
				</a>
			</span>
			<li class="featured-item featured-success-story">
				<a href="{{ successStoryUrl }}" class="cover">
					<img src="{{ successStoryImage_scaled }}" alt="{{ successStoryTitle }}">
					<div class="featured-item-description">
						<span class="featured-item-title">{{ successStoryTitle }}</span>
						<span class="featured-item-summary">{{ successStorySummary }}</span>
						<span class="featured-item-learn-more">Learn more</span>
					</div>
				</a>
			</span>
			<li class="featured-item featured-upcoming-event">
				<a href="{{ upcomingEventUrl }}" class="cover">
					<img src="{{ upcomingEventImage_scaled }}" alt="{{ upcomingEventTitle }}">
					<div class="featured-item-description">
						<span class="featured-item-title">{{ upcomingEventTitle }}</span>
						<span class="featured-item-summary">{{ upcomingEventSummary }}</span>
						<span class="featured-item-learn-more">Learn more</span>
					</div>
				</a>
			</span>
		</ul>
		{{/each}}
	</div>
</div>