{{!< default}}
<div class="main">
	<div class="content">
		<div class="content-header">
			<span class="section-title">Meet the Children</span>
			<img class="section-image" src="/dist/img/meet-the-children.png" alt="section-image-placeholder">
		</div>
		<div class="content-body">
			<aside class="sidebar">
				<nav class="section-menu">
					<ul>
						<li><a href="/">Who are the Children?</a></li>
						<li><a href="/">Waiting Child Profiles</a></li>
						<li><a href="/">Search for Children</a></li>
						<li><a href="/">Other Ways to Meet Waiting Children</a></li>
					</ul>
				</nav>
				<section class="donate"></section>
				<aside class="callout">
					<span class="description">"It feels so good to be a family," says Brady, who's getting used to being called "Mommy."</span>
					<img class="callout-image" src="/dist/img/success-story-popout.png" alt="callout-image-placeholder">
					<span class="callout-controls">
						<div class="callout-type">Success Stories</div>
						<div class="callout-title">Meet the Whitney Family</div>
						<div class="learn-more">
							<span>Learn more</span><span class="icon-double-arrow-right">&gt;&gt;</span>
						</div>
					</span>
				</aside>
			</aside>
			<section class="main-column">
				<div class="page-header">
					<span class="page-header-text">Waiting Child Profiles<span class="page-dropdown arrow-down"></span></span>
					<button class="question">HAVE A QUESTION?</button>
				</div>
				<div class="filters">
					<div class="media-boxes-drop-down" id="sort">
						<span class="sort-order-label">Order</span>
						<div class="media-boxes-drop-down-header"></div>
						<ul class="media-boxes-drop-down-menu">
							<li><a class="selected" href="#" data-sort-by="original-order">Original Order</a></li>
							<li><a href="#" data-sort-by="name" data-sort-toggle="true">Sort by name</a></li>
							<li><a href="#" data-sort-by="age" data-sort-toggle="true">Sort by age</a></li>
							{{!-- <li><a href="#" data-sort-by="added" data-sort-toggle="true">Sort by date added</a></li> --}}
						</ul>
					</div>
					<span class="icon-text-unit">
						<img class="video">
						<span class="text">Video Profile</span>
					</span>
					<span class="icon-text-unit">
						<img class="wednesdays-child">
						<span class="text">Wednesday's Child</span>
					</span>
				</div>
				<section class="profile-zone">

					<div id="grid" class="profiles">
						{{#each children}}
							<div class="media-box" data-registration-number="{{ registrationNumber }}">
								<div data-popup="http://goo.gl/Rbi9CB"></div>
								<div class="profile mb-open-popup">
									<div class="media-box-image">
										<div data-thumbnail={{ thumbnailImage }}></div>
										<div data-popup="http://goo.gl/Rbi9CB"></div>
									</div>
								
									<div class="media-box-content details">
										<div class="media-box-name name">{{ name.first }}</div>
										<div class="media-box-age age">Age {{getAge birthDate}}</div>
										<div class="icons"></div>
										<div class="view-profile">
											<span>View Profile</span>
											<span class="icon-double-arrow-right">&gt;&gt;</span>
										</div>
										{{!-- <div class="media-box-added hidden">{{ registrationDate }}</div> --}}
									</div>
								</div>

							</div>
						{{/each}}
					</div>
					{{!-- <div id="test-popup" class="white-popup mfp-hide">
						Popup content
					</div> --}}

				</section>
			</section>
		</div>
	</div>
</div>