{{!< default}}
<div class="main">
	<div class="content">
		<div class="content-header">
			<span class="section-title">Register</span>
			<img class="section-image" src="/dist/img/register.png" alt="section-image-placeholder">
		</div>
		<div class="content-body">
			<aside class="sidebar left-sidebar">
				<aside class="callout">
					<span class="description">"It feels so good to be a family," says Brady, who's getting used to being called "Mommy."</span>
					<img class="callout-image" src="/dist/img/success-story-popout.png" alt="callout-image-placeholder">
					<span class="callout-controls">
						<div class="callout-type">Success Stories</div>
						<div class="callout-title">Meet the Whitney Family</div>
						<div class="learn-more">
							<span>Learn more</span><span class="icon-double-arrow-right">&gt;&gt;</span>
						</div>
					</span>
				</aside>
			</aside>
			<section class="main-column">
				<div class="page-header">
					<span class="page-header-text">Create an Account</span>
				</div>
				{{#if registrationSubmitted}}
					<h3>Thanks for registering.</h3>
					<p>You can now try to log in.</p>
				{{else}}
				<div class="register-intro">
					Families: Once you create an account, you can quickly and easily inquire about specific children, RSVP for events and manage your subscription preferences.  If you are a Massachusetts family with an approved homestudy, creating an account will also allow you to access a greater pool of waiting children (including those at legal risk) and upload your homestudy to be shared with workers across the state for consideration for specific children.
				</div>
				<div class="register-intro">
					Workers: If you are a Massachusetts social worker, you must create an account to register a child or family, RSVP for events, track inquiries and update your MARE caseload.
				</div>
				<div class="registration-type-selector">
					<select name="registration-type-selector">
					    <option value="siteVisitor" selected="selected">Site Visitor</option>
					    <option value="socialWorker">Social Worker</option>
					    <option value="prospectiveParent">Prospective Parent</option>
					</select>
				</div>
				<section class="site-visitor-registration">
					<section class="site-visitor-registration-section">
						<div class="registration-type-header">Site Visitor Registration</div>
						<span class="required required-description">* Required</span>
						<form action="/register" class="registration-form" method="POST">
							<input type="hidden" class="registration-type" name="registrationType" value="siteVisitor">
							<input type="hidden" name="action" value="register">
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="site-user-first-name" name="firstName">
									<label for="site-user-first-name" class="label required-field">First Name</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="site-user-last-name" name="lastName">
									<label for="site-user-last-name" class="label required-field">Last Name</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="email" class="input" required id="site-user-email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
									<label for="site-user-email" class="label required-field">Email Address</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="password" class="input" required id="site-user-password" name="password">
									<label for="site-user-password" class="label required-field">Password</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="password" class="input" required id="site-user-confirm-password" name="confirmPassword">
									<label for="site-user-confirm-password" class="label required-field">Confirm Password</label>
								</div>
							</div>
							<div class="input-section-description">While not required for registration, providing your contact details below will make registering
		for events on the MARE site faster and easier.</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="site-user-street-1" name="street1">
									<label for="site-user-street-1" class="label">Street 1</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="site-user-street-2" name="street2">
									<label for="site-user-street-2" class="label">Street 2</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="site-user-city" name="city">
									<label for="site-user-city" class="label">City</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<select id="site-user-state" name="state" class="input state-select">
									{{#each states}}
										<option value="{{_id}}" data-state="{{state}}">{{state}}</option>
									{{/each}}
									</select>
									<label for="site-user-state" class="label">State</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="site-user-zip-code" name="zipCode" pattern="\d{5}([ \-]\d{4})?">
									<label for="site-user-zip-code" class="label">Zip Code</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="site-user-mobile-phone" name="mobilePhone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">
									<label for="site-user-mobile-phone" class="label">Mobile Phone</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="site-user-home-phone" name="homePhone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">
									<label for="site-user-home-phone" class="label">Home Phone</label>
								</div>
							</div>
						</section>

						<section class="site-visitor-mare-and-you-section">
							<div class="registration-section-header">Mare &amp; You</div>

							<div class="row">
								<div class="col-sm-24 form-group">
									<label class="label marg-bottom-xs-5">How did you hear abut MARE?</label>
								</div>
								<div class="col-sm-12">
									<div class="row">
										{{#each waysToHearAboutMARE}}
										<div class="col-sm-12 form-group">
											<label class="checkbox-inline">
												<input type="checkbox" {{#if other}}class="otherWayToHearAboutMARE" {{/if}}name="howDidYouHear" value="{{_id}}">{{wayToHearAboutMARE}}
											</label>
										</div>
										{{/each}}
										<div class="col-sm-12 form-group">
											<input type="text" class="input hidden" id="site-visitor-how-did-you-hear-other" name="howDidYouHearOther" placeholder="other...">
										</div>
									</div>
								</div>
							</div>

							<button class="register" type="submit">Register</button>
						</section>
					</form>
				</section>

				<section class="social-worker-registration hidden">
					<div class="registration-type-header">Social Worker Registration</div>
					<span class="required required-description">* Required</span>
					<form action="/register" class="registration-form" method="POST">
						<input type="hidden" class="registration-type" name="registrationType" value="socialWorker">

						<section class="social-worker-account-setup-section">
							<div class="registration-section-header">Account Setup</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-first-name" name="firstName">
									<label for="social-worker-first-name" class="label required-field">First Name</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-last-name" name="lastName">
									<label for="social-worker-last-name" class="label required-field">Last Name</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="email" class="input" required id="social-worker-email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
									<label for="social-worker-email" class="label required-field">Email Address</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="password" class="input" required id="social-worker-password" name="password">
									<label for="social-worker-password" class="label required-field">Password</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="password" class="input" required id="social-worker-confirm-password" name="confirmPassword">
									<label for="social-worker-confirm-password" class="label required-field">Confirm Password</label>
								</div>
							</div>
						</section>

						<section class="social-worker-contact-details-section">
							<div class="registration-section-header">Contact Details</div>

							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-agency" name="agency">
									<label for="social-worker-agency" class="label required-field">Agency</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-title" name="title">
									<label for="social-worker-title" class="label required-field">Title</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-phone" name="phone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">
									<label for="social-worker-phone" class="label required-field">Phone</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="social-worker-mobile-phone" name="mobilePhone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">
									<label for="social-worker-mobile-phone" class="label">Mobile Phone</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-street-1" name="street1">
									<label for="social-worker-street-1" class="label required-field">Street 1</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" id="social-worker-street-2" name="street2">
									<label for="social-worker-street-2" class="label">Street 2</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-city" name="city">
									<label for="social-worker-city" class="label required-field">City</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<select id="social-worker-state" name="state" class="input state-select" required>
									{{#each states}}
										<option value="{{_id}}">{{state}}</option>
									{{/each}}
									</select>
									<label for="social-worker-state" class="label required-field">State</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<input type="text" class="input" required id="social-worker-zip-code" name="zipCode" pattern="\d{5}([ \-]\d{4})?">
									<label for="social-worker-zip-code" class="label required-field">Zip Code</label>
								</div>
							</div>
						</section>

						<button class="register" type="submit">Register</button>
					</form>
				</section>

				<section class="prospective-parent-registration hidden">
					<div class="registration-type-header">Prospective Parent Registration</div>
					<span class="required required-description">* Required</span>
					<form action="/register" class="registration-form" method="POST">
						<input type="hidden" class="registration-type" name="registrationType" value="prospectiveParent">

						<section class="prospective-parent-account-setup-section">
							<div class="registration-section-header">Account Setup</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="email" class="input" required id="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
									<label for="email" class="label required-field">Email Address</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="password" class="input" required id="prospective-parent-password" name="password">
									<label for="prospective-parent-password" class="label required-field">Password</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="password" class="input" required id="prospective-parent-confirm-password" name="confirmPassword">
									<label for="prospective-parent-confirm-password" class="label required-field">Confirm Password</label>
								</div>
							</div>
						</section>
						<!-- This will end part 1 -->

						<section class="prospective-parent-contact-1-section">
							<div class="registration-section-header">Contact 1</div>

							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="contact1-first-name" name="Contact1FirstName">
									<label for="contact1-first-name" class="label required-field">First Name</label>
								</div>
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="contact1-last-name" name="Contact1LastName">
									<label for="contact1-last-name" class="label required-field">Last Name</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="email" class="input" required id="contact1-email" name="Contact1Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
									<label for="contact1-email" class="label required-field">Email Address</label>
								</div>
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="contact1-phone" name="Contact1Phone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">
									<label for="contact1-phone" class="label required-field">Phone</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<span class="gender-select-text">Gender:</span> &nbsp;&nbsp;
									{{#each genders}}
										<label class="radio-inline"><input type="radio" name="Contact1Gender" value="{{_id}}">{{gender}}</label>
									{{/each}}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12 form-group">
											<span class="race-text">Race/Ethnicity (check all that apply):</span>
										</div>
									</div>
									{{#each races}}
									<div class="col-sm-12 form-group">
										<label class="checkbox-inline">
											<input type="checkbox" name="Contact1Race" value="{{_id}}">{{race}}
										</label>
									</div>
									{{/each}}
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<input type="text" class="input" id="contact1-occupation" name="Contact1Occupation">
										<label for="contact1-occupation" class="label">Occupation</label>
									</div>
									<div class="form-group">
										<input type="text" class="input" id="contact1-date-of-birth" name="Contact1DateOfBirth" placeholder="DD/MM/YYYY">
										<label for="contact1-date-of-birth" class="label">Date of Birth</label>
									</div>
								</div>
							</div>
						</section>

						<section class="prospective-parent-contact-2-section">
							<div class="registration-section-header">Contact 2</div>

							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="contact2-first-name" name="Contact2FirstName">
									<label for="contact2-first-name" class="label required-field">First Name</label>
								</div>
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="contact2-last-name" name="Contact2LastName">
									<label for="contact2-last-name" class="label required-field">Last Name</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="email" class="input" required id="contact2-email" name="Contact2Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
									<label for="contact2-email" class="label required-field">Email Address</label>
								</div>
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="contact2-phone" name="Contact2Phone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">
									<label for="contact2-phone" class="label required-field">Phone</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<span class="gender-select-text">Gender:</span> &nbsp;&nbsp;
									{{#each genders}}
										<label class="radio-inline"><input type="radio" name="Contact2Gender" value="{{_id}}">{{gender}}</label>
									{{/each}}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12 form-group">
											<span class="race-text">Race/Ethnicity (check all that apply):</span>
										</div>
									</div>
									{{#each races}}
									<div class="col-sm-12 form-group">
										<label class="checkbox-inline">
											<input type="checkbox" name="Contact2Race" value="{{_id}}">{{race}}
										</label>
									</div>
									{{/each}}
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<input type="text" class="input" id="contact2-occupation" name="Contact2Occupation">
										<label for="contact2-occupation" class="label">Occupation</label>
									</div>
									<div class="form-group">
										<input type="text" class="input" id="contact2-date-of-birth" name="Contact2DateOfBirth" placeholder="DD/MM/YYYY">
										<label for="contact2-date-of-birth" class="label">Date of Birth</label>
									</div>
								</div>
							</div>
						</section>

						<section class="prospective-parent-family-constellation-section">

							<div class="registration-section-header">Family Constellation</div>

							<div class="row form-group">
								<div class="col-sm-12">
									<select id="family-constellation" name="familyConstellation" class="input">
									{{#each familyConstellations}}
										<option value="{{_id}}">{{familyConstellation}}</option>
									{{/each}}
									</select>
									<label for="family-constellation" class="label">Family Constellation</label>
								</div>
							</div>
						</section>

						<section class="prospective-parent-home-address-section">
							<div class="registration-section-header">Home Address</div>

							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="address-1" name="address1">
									<label for="address-1" class="label required-field">Address 1</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" id="address-2" name="address2">
									<label for="address-2" class="label">Address 2</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="city" name="city">
									<label for="city" class="label required-field">City</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<select id="prospective-parent-or-family-state" name="state" class="input state-select" required>
									{{#each states}}
										{{#if defaultSelection}}
											<option value="{{_id}}" selected="selected">{{state}}</option>
										{{else}}
											<option value="{{_id}}">{{state}}</option>
										{{/if}}
									{{/each}}
									</select>
									<label for="state" class="label required-field">State</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="zip-code" name="zipCode" pattern="\d{5}([ \-]\d{4})?">
									<label for="zip-code" class="label required-field">Zip Code</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-12">Where are you in the adoption process?</div>
									<div class="col-sm-12 form-group">
										<label class="checkbox-inline">
											<input type="checkbox" name="ProcessProgression" value="gatheringInformation">Gathering Information
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="ProcessProgression" value="lookingForAgency">Looking for an agency
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="ProcessProgression" value="workingWithAgency">Working with an agency
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="ProcessProgression" value="MAPPTrainingCompleted">MAPP training completed
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="ProcessProgression" value="homestudyCompleted">Homestudy completed
										</label>
									</div>
								</div>
							</div>
						</section>
						<!-- This will end part 3 -->

						<section class="prospective-parent-homestudy-details-section">
							<div class="registration-section-header">Homestudy Details</div>

							<div class="homestudy-select row no-margin double-padding">
								<span class="homestudy-select-text">Have you completed a Homestudy?</span> &nbsp;&nbsp;
								<label class="radio-inline"><input type="radio" name="homestudy" value="yes" />Yes</label>
								<label class="radio-inline"><input type="radio" name="homestudy" value="no" />No</label>
							</div>

							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" id="homestudy-date-complete" name="homestudyDateComplete" placeholder="DD/MM/YYYY">
									<label for="homestudy-date-complete" class="label required-field">Date Homestudy Completed/Updated</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="social-worker-name" name="socialWorkerName">
									<label for="social-worker-name" class="label required-field">Social Worker Name</label>
								</div>
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="social-worker-agency" name="socialWorkerAgency">
									<label for="social-worker-agency" class="label required-field">Social Worker Agency</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="social-worker-phone" name="socialWorkerPhone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$">
									<label for="social-worker-phone" class="label required-field">Social Worker Phone Number</label>
								</div>
								<div class="col-sm-12 form-group">
									<input type="text" class="input" required id="social-worker-email" name="socialWorkerEmail">
									<label for="social-worker-email" class="label required-field">Social Worker Email Address</label>
								</div>
							</div>

							<section class="subheading prospective-family-submit-your-homestudy-section">
								<strong>Submit Your Homestudy</strong>
								<p>To complete your registration as a Massachusetts homestudied family, you must submit your homestudy to us via one of the following methods (choose one):</p>
								<div class="row">
									<div class="col-sm-12 form-group">
										<label class="label radio-inline">
											<input type="radio" name="HomeStudySubmission" value="mail">
											Upload PDF or MS Word &reg; format:
										</label>
									</div>
									<div class="col-sm-12">
										<input id="home-study-file-upload" class="input-inline" placeholder="Choose File" disabled="disabled" />
										<div class="btn btn-default btn-file-upload">
										    <span>Upload</span>
										    <input id="upload-button" type="file" class="file-upload" name="HomeStudyFileUpload" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 form-group">
										<label class="label radio-inline">
											<input type="radio" name="HomeStudySubmission" value="email">
											Email to web@mareinc.org:
										</label>
									</div>
									<div class="col-sm-12">
										<a href="mailto:web@mareinc.org" class="btn btn-default">Email</a>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 form-group">
										<label class="label radio-inline">
											<input type="radio" name="HomeStudySubmission" value="fax">
											Fax to 617-542-1006, Attention: Homestudy Registration
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 form-group">
										<label class="label radio-inline">
											<input type="radio" name="HomeStudySubmission" value="mail">
											<div class="indented-text">
												Mail to:
												<div class="indent-text">
													Massachusetts Adoption Resource Exchange<br />
													45 Franklin Street<br />
													5th Floor<br />
													Boston, MA 02110-1301
												</div>
											</div>
										</label>
									</div>
								</div>
							</section>
						</section>

						<section class="prospective-parent-family-details-section">
							<div class="registration-section-header">Family Details</div>

							<div class="row form-group">
								<div class="col-sm-12">
									<label for="children-in-home" class="label marg-bottom-xs-5">Total number of children currently living at home:</label>
								</div>
								<div class="col-sm-12">
									<select id="children-in-home" name="childrenInHome" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>

							<div class="registration-sub-section-header header-blue">Male Children</div>

							<div class="row form-group">
								<div class="col-sm-12">
									<label for="male-children-in-home" class="label marg-bottom-xs-5">Number of <span class="text-blue"> male</span> children in home:</label>
								</div>
								<div class="col-sm-12">
									<select id="male-children-in-home" name="maleChildrenInHome" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="male-children-in-home-ages" class="label marg-bottom-xs-5">Ages of <span class="text-blue"> male</span> children (separated by commas):</label>
								</div>
								<div class="col-sm-12">
									<input type="text" class="input " id="male-children-in-home-ages" name="maleChildrenInHomeAges">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="biological-male-children" class="label marg-bottom-xs-5">Number of biological<span class="text-blue"> male</span> children:</label>
								</div>
								<div class="col-sm-12">
									<select id="biological-male-children" name="biologicalMaleChildren" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="adopted-male-children" class="label marg-bottom-xs-5">Number of adopted <span class="text-blue">male</span> children:</label>
								</div>
								<div class="col-sm-12">
									<select id="adopted-male-children" name="adoptedMaleChildren" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>


							<div class="registration-sub-section-header header-pink">Female Children</div>

							<div class="row form-group">
								<div class="col-sm-12">
									<label for="female-children-in-home" class="label marg-bottom-xs-5">Number of <span class="text-pink">female</span> children in home:</label>
								</div>
								<div class="col-sm-12">
									<select id="female-children-in-home" name="femaleChildrenInHome" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="female-children-in-home-ages" class="label marg-bottom-xs-5">Ages of <span class="text-pink">female</span> children (separated by commas):</label>
								</div>
								<div class="col-sm-12">
									<input type="text" class="input " id="female-children-in-home-ages" name="femaleChildrenInHomeAges">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="biological-female-children" class="label marg-bottom-xs-5">Number of biological <span class="text-pink">female</span> children:</label>
								</div>
								<div class="col-sm-12">
									<select id="biological-female-children" name="biologicalFemaleChildren" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="adopted-female-children" class="label marg-bottom-xs-5">Number of adopted <span class="text-pink">female</span> children:</label>
								</div>
								<div class="col-sm-12">
									<select id="adopted-female-children" name="adoptedFemaleChildren" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>

							<hr class="registration-divider">

							<div class="row form-group">
								<div class="col-sm-12">
									<label for="other-adults-in-home" class="label marg-bottom-xs-5">Number of other adults living in home</label>
								</div>
								<div class="col-sm-12">
									<select id="other-adults-in-home" name="otherAdultsInHome" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="primary-language-in-home" class="label marg-bottom-xs-5">Primary language spoken at home:</label>
								</div>
								<div class="col-sm-12">
									<input type="text" class="input" id="primary-language-in-home" name="primaryLanguageInHome">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label for="other-languages-in-home" class="label marg-bottom-xs-5">Other language(s) spoken at home:</label>
								</div>
								<div class="col-sm-12">
									<input type="text" class="input" id="other-languages-in-home" name="otherLanguagesInHome">
								</div>
							</div>
						</section>

						<section class="prospective-parent-adoption-preferences-section">
							<div class="registration-section-header">Adoption Preferences</div>

							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Gender of children approved for:</label>
								</div>
								<div class="col-sm-12">
									{{#each genders}}
									<label class="checkbox-inline">
										<input type="checkbox" name="approvedChildrenGender" value="{{_id}}">{{gender}}
									</label>
									{{/each}}
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Legal Status</label>
								</div>
								<div class="col-sm-12">
								{{#each legalStatuses}}
									<label class="checkbox-inline">
										<input type="checkbox" name="legalStatus" value="{{_id}}">{{legalStatus}}
									</label>
								{{/each}}
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Age Range</label>
								</div>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-xs-8">
											<select name="ageRangeTop" class="input registration-number-select inline">
												<option>0</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10+</option>
											</select>
										</div>
										<div class="col-xs-4 text-center">To:</div>
										<div class="col-xs-8">
											<select name="ageRangeBottom" class="input registration-number-select inline">
												<option>0</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10+</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Number of children preferred:</label>
								</div>
								<div class="col-sm-12">
									<select name="numberOfChildrenPrefered" class="input registration-number-select">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10+</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Contact with biological siblings?</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="contactBioSiblings" value="yes" />Yes</label>
									<label class="radio-inline"><input type="radio" name="contactBioSiblings" value="no" />No</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Contact with biological parents?</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="contactBioParents" value="yes" />Yes</label>
									<label class="radio-inline"><input type="radio" name="contactBioParents" value="no" />No</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<label class="label marg-bottom-xs-5">Race/Ethnicity (check all that apply)</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<div class="row">
									{{#each races}}
										<div class="col-sm-12 form-group">
											<label class="checkbox-inline">
												<input type="checkbox" name="AdoptionPrefRace" value="{{_id}}">{{race}}
											</label>
										</div>
									{{/each}}
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Level of physical needs</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="physicalNeeds" value="mild" />Mild</label>
									<label class="radio-inline"><input type="radio" name="physicalNeeds" value="moderate" />Moderate</label>
									<label class="radio-inline"><input type="radio" name="physicalNeeds" value="severe" />Severe</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Level of emotional needs</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="emotionalNeeds" value="mild" />Mild</label>
									<label class="radio-inline"><input type="radio" name="emotionalNeeds" value="moderate" />Moderate</label>
									<label class="radio-inline"><input type="radio" name="emotionalNeeds" value="severe" />Severe</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Level of intellectual needs</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="intellectualNeeds" value="mild" />Mild</label>
									<label class="radio-inline"><input type="radio" name="intellectualNeeds" value="moderate" />Moderate</label>
									<label class="radio-inline"><input type="radio" name="intellectualNeeds" value="severe" />Severe</label>
								</div>
							</div>
						</section>

						<section class="prospective-parent-mare-and-you-section">
							<div class="registration-section-header">Mare &amp; You</div>

							<div class="row">
								<div class="col-sm-24 form-group">
									<label class="label marg-bottom-xs-5">How did you hear about MARE?</label>
								</div>

								<div class="col-sm-12">
									<div class="row">
										{{#each waysToHearAboutMARE}}
										<div class="col-sm-12 form-group">
											<label class="checkbox-inline">
												<input type="checkbox" {{#if other}}class="otherWayToHearAboutMARE" {{/if}}name="howDidYouHear" value="{{_id}}">{{wayToHearAboutMARE}}
											</label>
										</div>
										{{/each}}
										<div class="col-sm-12 form-group">
											<input type="text" class="input hidden" id="prospective-parent-how-did-you-hear-other" name="howDidYouHearOther" placeholder="other...">
										</div>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Would you like to be added to the MARE News email list:</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="mareEmailList" value="Yes" />Yes</label>
									<label class="radio-inline"><input type="radio" name="mareEmailList" value="No" />No</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Would you like to be added to the Adoption Party email list (events held in MA only):</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="adoptionPartyEmailList" value="Yes" />Yes</label>
									<label class="radio-inline"><input type="radio" name="adoptionPartyEmailList" value="No" />No</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<label class="label marg-bottom-xs-5">Would you like to receive information on how to create a family profile?</label>
								</div>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" name="receiveHowToCreateFamilyProfile" value="Yes" />Yes</label>
									<label class="radio-inline"><input type="radio" name="receiveHowToCreateFamilyProfile" value="No" />No</label>
								</div>
							</div>
						</section>

						<button class="register" type="submit">Register</button>

					</form>
				</section>
				{{/if}}
			</section>
		</div>
	</div>
</div>