<div class="page-header">
	<span class="page-header-text">Create an Account</span>
</div>
{{#if registrationSubmitted}}
	<h3>Thanks for registering.</h3>
	<p>You can now try to log in.</p>
{{else}}
<div class="form-intro">
	Families: Once you create an account, you can quickly and easily inquire about specific children, RSVP for events and manage your subscription preferences.  If you are a Massachusetts family with an approved homestudy, creating an account will also allow you to access a greater pool of waiting children (including those at legal risk) and upload your homestudy to be shared with workers across the state for consideration for specific children.
</div>
<div class="form-intro">
	Workers: If you are a Massachusetts social worker, you must create an account to register a child or family, RSVP for events, track inquiries and update your MARE caseload.
</div>
<div class="form-intro">
	Site Visitors: Feel free to browse the website without registering, you can always create an account at a later time.
</div>
<div class="registration-type-selector-container">
	<select class="registration-type-selector" name="registration-type-selector">
	    <option value="siteVisitor" selected="selected">Site Visitor</option>
	    <option value="socialWorker">Social Worker</option>
	    <option value="prospectiveParent">Prospective Parent</option>
	</select>
</div>

{{> registration-form-site-visitor}}
{{> registration-form-social-worker}}
{{> registration-form-family}}

{{/if}}

<script id="child-in-home" type="text/x-handlebars-template">

	<div class="row form-group \{{ formHeading }} child-details-form">
		<div class="col-sm-24">
			<div class="label marg-bottom-xs-5">Child \{{ index }}</div>
		</div>
	</div>

	<div class="row form-group \{{ formName }}">
		<div class="col-sm-12 form-group">
			<div class="row">
				<div class="col-sm-24 form-group">
					<input type="text" class="input child-form-input" name="\{{ name }}">
					<label for="\{{ name }}" class="label marg-bottom-xs-5">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-24">
					<select class="input registration-number-select child-form-input" name="\{{ gender }}">
						<option value=""></option>
					{{#each genders}}
						<option value="{{_id}}">{{ gender }}</option>
					{{/each}}
					</select>
					<label for="\{{ gender }}" class="label marg-bottom-xs-5">Gender</label>
				</div>
			</div>
		</div>
		<div class="col-sm-12 form-group">
			<div class="row">
				<div class="col-sm-24 form-group">
					<input type="text" class="input child-form-input" placeholder="MM/DD/YYYY" name="\{{ birthDate }}">
					<label for="\{{ birthDate }}" class="label marg-bottom-xs-5">Date of Birth</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-24">
					<select class="input registration-number-select child-form-input" name="\{{ type }}">
						<option value=""></option>
					{{#each childTypes}}
						<option value="{{ _id }}">{{ displayName }}</option>
					{{/each}}
					</select>
					<label for="\{{ type }}" class="label marg-bottom-xs-5">Type</label>
				</div>
			</div>
		</div>
	</div>

</script>
