<div class="card card--vertical card--large-padding">

	<h1 h1 class="card__title">MARE Success Stories</h1>

	<div class="card-details">
		<div class="card-details__body">
			<p class="card-details__paragraph">Over the years, MARE has found permanent, loving families
				for thousands of children waiting in foster care. Read about a few of these phenomenal
				families who, in the course of making a difference in a child’s life, also had their own
				life-changing experiences.</p>

			<p class="card-details__paragraph">If you have adopted with MARE’s help and have a success
				story to share, we want to hear from you. Please email your story and picture to Diane
				Tomaz, Director of Family Support Services, <a href="mailto:dianet@MAREinc.org">dianet@MAREinc.org</a>.</p>
		</div>
	</div>
</div>

{{#if hasNoSuccessStories}}

<section class="card-list">
	<div class="card card--large-padding">
		<div class="card__details card__details--centered">
			<p class="card__details__body">Something must have gone wrong, there are no success stories to display.</p>
		</div>
	</div>
</section>

{{else}}

<section class="card-list">

	{{#each successStories}}

	<div class="card card--vertical card--medium-padding card--small-margin-below">
		<div class="card__columns">
			<div class="card__column card__column--left">
				{{#if hasImage}}
				<img class="card__image" src="{{ image.secure_url }}" alt="{{ heading }}">
				{{/if}}
				{{#if imageCaption}}
				<div class="card__image-text card__image-text--centered card__image-text--smaller card__image-text--italic card__image-text--small-padding-top">{{ imageCaption }}</div>
				{{/if}}
			</div>
			<div class="card__column card__column--right">
				<div class="card__details card__details--vertical">

					<span class="card-details__top-bar"></span>
					<div class="card-details__header">{{ heading }}</div>
					<div class="card-details__body">
						{{{ shortContent }}}
					</div>
				</div>
			</div>
		</div>
		<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">
			<button class="button button--large button--teal success-story__navigation-button" data-url="{{ url }}">Read Full Story</button>
		</section>
	</div>

	{{/each}}

</section>

{{/if}}
