<div class="wrapper">
	<!-- Sidebar -->
     <nav id="sidebar" class="bg-primary text-white">
			<button type="button" class="sidebarCollapse btn btn-info mb-4">
				Close
			</button>
            <div class="sidebar-header">
                <h3>Reports:</h3>
            </div>
			<div class="list-group list-group-flush">
			  <a class="list-group-item active" href="/tools/family-matching"><span class="list-group-icon"><img src="/dashboard-styles/images/icon-family-matching.png" alt="#"></span> Family Matching</a>
			  <a class="list-group-item" href="/tools/child-matching"><span class="list-group-icon"><img src="/dashboard-styles/images/icon-child-matching.png" alt="#"></span> Child Matching</a>
			</div>
						

        </nav>
		
	<!-- Page Content -->
    <div id="content">
		<form class="matching-form" method="get" action="/tools/family-matching" method="get">
			
			<input type="hidden" name="family" value="{{ family }}" />
			
			<h4>{{ familyDisplayName }} - {{ familyRegistrationNumber }}</h4>
			
			<div class="row">
				<div class="col-sm-3">
					<div class="row form-group">
						<div class="col-sm-6">
							<div class="group-label float-left float-sm-right"><h5>Child Status</h5></div>
							<div class="form-check text-sm-right float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="displayChildStatus" class="form-check-input" type="checkbox" name="fields[]" value="status" {{#if fields.status }}checked{{/if}} />
								<label class="sr-only" for="displayChildStatus">Display</label>
							</div>
						</div>
						<div class="col-sm-6">
							{{#each childStatuses}}
							<div class="form-check">
								<input id="status{{ name }}" class="form-check-input" type="checkbox" name="childStatus[]" value="{{ id }}" {{#if selected }}checked{{/if}} />
								<label class="form-check-label" for="status{{ name }}">{{ name }} </label>
							</div>
							{{/each}}
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-6">
							<div class="group-label float-left float-sm-right"><h5>Child Gender:</h5></div>
							<div class="form-check text-sm-right float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="childGenderDisplaytype" type="checkbox" name="fields[]" value="gender" {{#if fields.gender }}checked{{/if}} />
								<label class="sr-only" for="childGenderDisplaytype">Display</label>
							</div>
						</div>
						<div class="col-sm-6">
							{{#each childGenders}}
							<div class="form-check  form-check">
								<input id="gender{{ name }}" class="form-check-input" type="checkbox" name="childGender[]" value="{{ id }}" {{#if selected }}checked{{/if}} />
								<label  class="form-check-label" for="gender{{ name }}">{{ name }} </label>
							</div>
							{{/each}}
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-6">
							<div class="group-label float-left float-sm-right"><h5>Child Race:</h5></div>
							<div class="form-check text-sm-right float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="childRaceDisplay" type="checkbox" name="fields[]" value="race" {{#if fields.race }}checked{{/if}} />
								<label class="sr-only" for="childRaceDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-6">
							{{#each childRaces}}
							<div class="form-check">
								<input id="race{{ name }}" class="form-check-input" type="checkbox" name="childRace[]" value="{{ id }}" {{#if selected }}checked{{/if}} />
								<label class="form-check-label" for="race{{ name }}">{{ name }} </label>
							</div>
							{{/each}}
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-6">
							<div class="group-label float-left float-sm-right"><h5>Legal Status:</h5></div>
							<div class="form-check text-sm-right float-right">
								<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="legalStatusDisplay" type="checkbox" name="fields[]" value="legalStatus" {{#if fields.legalStatus }}checked{{/if}} />
								<label class="sr-only" for="legalStatusDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-6">
							{{#each childLegalStatuses}}
								<div class="form-check">
									<input id="legal{{ name }}" class="form-check-input" type="checkbox" name="legalStatus[]" value="{{ id }}" {{#if selected }}checked{{/if}} />
									<label class="form-check-label" for="legal{{ name }}">{{ name }} </label>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row form-group">
						<div class="col-sm-4 group-label text-sm-right">
							<div class="group-label float-left float-sm-right"><h5>Family Constellation:</h5></div>
							<div class="form-check text-sm-right float-right">
								<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="familyConstellationDisplay" type="checkbox" name="fields[]" value="familyConstellation" {{#if fields.familyConstellation }}checked{{/if}} />
								<label class="sr-only" for="familyConstellationDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-8">
							{{#each familyConstellations}}
								<div class="form-check">
									<input id="familyConstellation{{ name }}" class="form-check-input" type="checkbox" name="familyConstellation[]" value="{{ id }}" {{#if selected }}checked{{/if}} />
									<label class="form-check-label" for="familyConstellation{{ name }}">{{ name }} </label>
								</div>
							{{/each}}
						</div>
					</div>
				
					<div class="row form-group">
						<div class="col-sm-4 group-label text-sm-right">
							<h5>Ages</h5>
							<div class="form-check float-right">
								<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="ageDisplay" type="checkbox" name="fields[]" value="age" {{#if fields.age }}checked{{/if}} />
								<label class="sr-only" for="ageDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="agesFrom">From</label>
							<select id="agesFrom" name="agesFrom" class="form-control">
								<option value="">Any</option>
								{{#each agesFrom}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
						<div class="col-sm-4">
							<label for="agesTo">To</label>
							<select id="agesTo" name="agesTo" class="form-control">
								<option value="">Any</option>
								{{#each agesTo}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>
			
					<div class="row form-group">
						<div class="col-sm-4 group-label text-sm-right">
							<h5>Sibling Group Size</h5>
							<div class="form-check float-right">
								<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="groupSizeDisplay" type="checkbox" name="fields[]" value="siblingGroupSize" {{#if fields.siblingGroupSize }}checked{{/if}} />
								<label class="sr-only" for="groupSizeDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="siblingGroupSizeFrom">From</label>
							<select id="siblingGroupSizeFrom" name="siblingGroupSizeFrom" class="form-control">
								<option value="">Any</option>
								{{#each siblingGroupSizeFrom}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
						<div class="col-sm-4">
							<label for="siblingGroupSizeTo">To</label>
							<select id="siblingGroupSizeTo" name="siblingGroupSizeTo" class="form-control">
								<option value="">Any</option>
								{{#each siblingGroupSizeTo}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-4 group-label text-sm-right">
							<h5>Physical Needs</h5>
							<div class="form-check float-right">
								<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="phsycialNeedsDisplay" type="checkbox" name="fields[]" value="physicalNeeds" {{#if fields.physicalNeeds }}checked{{/if}} />
								<label class="sr-only" for="phsycialNeedsDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="physicalNeedsFrom">From</label>
							<select id="physicalNeedsFrom" name="physicalNeedsFrom" class="form-control">
								<option value="">Any</option>
								{{#each physicalNeedsFrom}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
						<div class="col-sm-4">
							<label for="physicalNeedsTo">To</label>
							<select id="physicalNeedsTo" name="physicalNeedsTo" class="form-control">
								<option value="">Any</option>
								{{#each physicalNeedsTo}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-4 group-label text-sm-right">
							<h5>Intellectual Needs</h5>
							<div class="form-check float-right">
								<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="intellectualNeedsDisplay" type="checkbox" name="fields[]" value="intellectualNeeds" {{#if fields.intellectualNeeds }}checked{{/if}} />
								<label class="sr-only" for="intellectualNeedsDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="intellectualNeedsFrom">From</label>
							<select id="intellectualNeedsFrom" name="intellectualNeedsFrom" class="form-control">
								<option value="">Any</option>
								{{#each intellectualNeedsFrom}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
						<div class="col-sm-4">
							<label for="intellectualNeedsTo">To</label>
							<select id="intellectualNeedsTo" name="intellectualNeedsTo" class="form-control">
								<option value="">Any</option>
								{{#each intellectualNeedsTo}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-4 group-label text-sm-right">
							<h5>Emotional Needs</h5>
							<div class="form-check float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="emotionalNeedsDisplay" type="checkbox" name="fields[]" value="emotionalNeeds" {{#if fields.emotionalNeeds }}checked{{/if}} />
								<label class="sr-only" for="emotionalNeedsDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="emotionalNeedsFrom">From</label>
							<select id="emotionalNeedsFrom" name="emotionalNeedsFrom" class="form-control">
								<option value="">Any</option>
								{{#each emotionalNeedsFrom}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
						<div class="col-sm-4">
							<label for="emotionalNeedsTo">To</label>
							<select id="emotionalNeedsTo" name="emotionalNeedsTo" class="form-control">
								<option value="">Any</option>
								{{#each emotionalNeedsTo}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>

				</div>
				<div class="col-sm-4">

					<div class="row form-group">
						<div class="col-sm-4 text-sm-right">
							<label for="socialNeeds " class="bold">Social Needs:</label>
							<div class="form-check float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="socialNeedsDisplay" type="checkbox" name="fields[]" value="socialNeeds" {{#if fields.socialNeeds }}checked{{/if}} />
								<label class="sr-only" for="socialNeedsDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-8">
							<select id="socialNeeds" name="socialNeeds" class="form-control">
								<option value="">Any</option>
								{{#each socialNeeds}}
									<option value="{{ id }}" {{#if selected }}selected{{/if}}>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-sm-4 text-sm-right" >
							<label for="adoptionWorkersAgency" class="bold">Adoption Worker's Agency:</label>
							<div class="form-check float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="adoptiopnWorkersAgencyDisplay" type="checkbox" name="fields[]" value="adoptionWorkersAgency" {{#if fields.adoptionWorkersAgency }}checked{{/if}} />
								<label class="sr-only" for="adoptiopnWorkersAgencyDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-8">
							<select id="adoptionWorkersAgency" name="adoptionWorkersAgency[]" class="form-control agency-select" multiple>
								{{#each adoptionWorkersAgency}}
									<option value="{{ id }}" selected>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-4 text-sm-right" >
							<label for="recruitmentWorkersAgency" class="bold">Recruitment Worker's Agency:</label>
							<div class="form-check float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="recruitmentWorkersAgencyDisplay" type="checkbox" name="fields[]" value="recruitmentWorkersAgency" {{#if fields.recruitmentWorkersAgency }}checked{{/if}} />
								<label class="sr-only" for="recruitmentWorkersAgencyDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-8">
							<select id="recruitmentWorkersAgency" name="recruitmentWorkersAgency[]" class="form-control agency-select" multiple>
								{{#each recruitmentWorkersAgency}}
									<option value="{{ id }}" selected>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-4 text-sm-right" >
							<label for="adoptionWorkers" class="bold">Adoption Workers:</label>
							<div class="form-check float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="adoptionWorkersDisplay" type="checkbox" name="fields[]" value="adoptionWorker" {{#if fields.adoptionWorker }}checked{{/if}} />
								<label  class="sr-only" for="adoptionWorkersDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-8">
							<select id="adoptionWorkers" name="adoptionWorkers[]" class="form-control social-worker-select" multiple>
								{{#each adoptionWorkers}}
									<option value="{{ id }}" selected>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>

					<div class="row form-group text-sm-right">
						<div class="col-sm-4" >
							<label for="recruitmentWorkers" class="bold">Recruitment Workers:</label>
							<div class="form-check float-right">
								<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="recruitmentWorkersDisplay" type="checkbox" name="fields[]" value="recruitmentWorker" {{#if fields.recruitmentWorker }}checked{{/if}} />
								<label class="sr-only" for="recruitmentWorkersDisplay">Display</label>
							</div>
						</div>
						<div class="col-sm-8">
							<select id="recruitmentWorkers" name="recruitmentWorkers[]" class="input social-worker-select" multiple>
								{{#each recruitmentWorkers}}
									<option value="{{ id }}" selected>{{ name }}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
					 
			</div>
			
			
			
			
			<button type="submit" class="btn btn-primary">Search</button>
			<button type="button" class="btn btn-default" onclick="window.location = '/tools/family-matching?family={{ family }}'">Reset</button>
			
				</form>
	
		{{#if nonEmptyCriteria }}
			<h3>Results: </h3>
			<input type="button" class="button button--teal export-pdf-button" value="PDF Export" />
			<input type="button" class="button button--teal export-xlsx-button" value="XLSX Export" />
			
			<input type="button" class="button button--teal save-entries-button" value="Save entries to the family" />
			
			<table width="100%">
				<tr>
					<th></th>
					<th>Reg Num</th>
					<th>Name</th>
					{{#each fieldNames}}
						<th>{{this}}</th>
					{{/each}}
				</tr>
				{{#each results}}
					<tr data-id="{{ id }}">
						<td width="20">
							<input type="checkbox" class="entry-selection" value="{{ id }}" />
						</td>
						<td><a href="/keystone/children/{{ id }}">{{ registrationNumber }}</a></td>
						<td>{{ name }}</td>
						{{#each fields}}
							<td>{{this}}</td>
						{{/each}}
					</tr>
					{{#if unmatchedSiblings }}
						<tr>
							<td></td>
							<td></td>
							<td colspan="{{ ../siblingsCellColSpan }}">
								<i>The following siblings didn't match:</i>
								<table width="100%">
									<tr>
										<th>Reg Num</th>
										<th>Name</th>
										<th>Reason(s)</th>
									</tr>
									{{#each unmatchedSiblings}}
										<tr data-id="{{ id }}">
											<td width="100"><a href="/keystone/children/{{ id }}">{{ registrationNumber }}</a></td>
											<td width="300">{{ name }}</td>
											<td>{{ reasons }}</td>
										</tr>
									{{/each}}
								</table>
							</td>
						</tr>
					{{/if}}
					{{#if matchedSiblings }}
						<tr>
							<td></td>
							<td></td>
							<td colspan="{{ ../siblingsCellColSpan }}">
								<i>The following siblings match:</i>
								<table width="100%">
									<tr>
										<th></th>
										<th>Reg Num</th>
										<th>Name</th>
									</tr>
									{{#each matchedSiblings}}
										<tr data-id="{{ id }}">
											<td width="20">
												<input type="checkbox" class="entry-selection" value="{{ id }}" />
											</td>
											<td width="100"><a href="/keystone/children/{{ id }}">{{ registrationNumber }}</a></td>
											<td width="300">{{ name }}</td>
										</tr>
									{{/each}}
								</table>
							</td>
						</tr>
					{{/if}}
				{{else}}	
					<tr>
						<td>No results found</td>
					</tr>
				{{/each}}
			</table>
			
			<!-- Results prepared to export in XLSX format: -->
			<table width="100%" class="results-table hidden" data-filename="MatchingChildrenExport.xlsx">
				<tr>
					<th>Reg Num</th>
					<th>Name</th>
					{{#each fieldNames}}
						<th>{{this}}</th>
					{{/each}}
				</tr>
				{{#each results}}
					<tr data-id="{{ id }}">
						<td><a href="/keystone/children/{{ id }}">{{ registrationNumber }}</a></td>
						<td>{{ name }}</td>
						{{#each fields}}
							<td>{{this}}</td>
						{{/each}}
					</tr>
					{{#if unmatchedSiblings }}
						<tr>
							<td></td>
							<td>
								<i>The following siblings didn't match:</i>
								<br />
								{{#each unmatchedSiblings}}
									{{ name }} ({{ registrationNumber }}) - {{ reasons }} {{#unless @last}}, {{/unless}}
								{{/each}}
							</td>
						</tr>
					{{/if}}
					{{#if matchedSiblings }}
						<tr>
							<td></td>
							<td>
								<i>The following siblings match:</i>
								<br />
								{{#each matchedSiblings}}
									{{ name }} ({{ registrationNumber }}){{#unless @last}}, {{/unless}}
								{{/each}}
							</td>
						</tr>
					{{/if}}
				{{else}}	
					<tr>
						<td>No results found</td>
					</tr>
				{{/each}}
			</table>
		{{/if}}
	</div>
</div>

