<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>new event registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#3D4573" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<table border="0" cellpadding="0" cellspacing="0">
									<img src="{{ logo }}" alt="MARE Logo" width="500" height="106" style="display: block;" />
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>An edited registration has been received for the {{ event.eventName }}</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Attendee</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>name</b> {{ displayName }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>email</b> {{ user.email }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>user type</b> {{ user.userType }}
									</td>
								</tr>
								{{#if addedRegisteredChildren}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Registered Children Attendees Added</b>
									</td>
								</tr>
								{{/if}}
								{{#each addedRegisteredChildren}}
									<tr>
										<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>name</b> {{ name.full }}
										</td>
									</tr>
									<tr>
										<td style="padding: 5px 0 {{#if @last}}0{{else}}10px{{/if}} 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>registration number</b> {{ registrationNumber }}
										</td>
									</tr>
								{{/each}}
								{{#if removedRegisteredChildren}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Registered Children Attendees Removed</b>
									</td>
								</tr>
								{{/if}}
								{{#each removedRegisteredChildren}}
									<tr>
										<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>name</b> {{ name.full }}
										</td>
									</tr>
									<tr>
										<td style="padding: 5px 0 {{#if @last}}0{{else}}10px{{/if}} 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>registration number</b> {{ registrationNumber }}
										</td>
									</tr>
								{{/each}}
								{{#if addedUnregisteredChildren}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Unregistered Children Attendees Added</b>
									</td>
								</tr>
								{{/if}}
								{{#each addedUnregisteredChildren}}
									<tr>
										<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											{{ this }}
										</td>
									</tr>
								{{/each}}
								{{#if removedUnregisteredChildren}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Unregistered Children Attendees Removed</b>
									</td>
								</tr>
								{{/if}}
								{{#each removedUnregisteredChildren}}
									<tr>
										<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											{{ this }}
										</td>
									</tr>
								{{/each}}
								{{#if addedUnregisteredAdults}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Unregistered Adult Attendees Added</b>
									</td>
								</tr>
								{{/if}}
								{{#each addedUnregisteredAdults}}
									<tr>
										<td style="padding: 5px 0 {{#if @last}}0{{else}}10px{{/if}} 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											{{ this }}
										</td>
									</tr>
								{{/each}}
								{{#if removedUnregisteredAdults}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Unregistered Adult Attendees Removed</b>
									</td>
								</tr>
								{{/if}}
								{{#each removedUnregisteredAdults}}
									<tr>
										<td style="padding: 5px 0 {{#if @last}}0{{else}}10px{{/if}} 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											{{ this }}
										</td>
									</tr>
								{{/each}}
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
