<script id="account-email-list" type="text/x-handlebars-template">

    <h1 class="account-current-section__title">Your Email Preferences</h1>

	{{#each mailingListPreferences as |group|}}
		<div class="form-group">
			<input type="checkbox" name="mailingLists[]" value="{{ group.id }}" data-initial-state="{{ group.isMember }}"
				id="list{{@index}}" class="checkbox-inline mailing-list-preference" {{#if group.isMember}}checked{{/if}}>
			<label for="list{{@index}}" class="label-inline ml-1">{{ group.name }}</label>
		</div>
	{{else}}
		No mailing lists could be found
	{{/each}}

	<div class="text-center pt-3">
		<button id="preference-btn" class="button button--teal button--disabled" disabled>Update Preferences</button>
	</div>

</script>