<script id="account-email-list" type="text/x-handlebars-template">

    <h1 class="account-current-section__title">Your Email Preferences</h1>

	{{#each mailingListPreferences as |group|}}
		<div class="form-group">
			<input id="list{{@index}}" type="checkbox" class="checkbox-inline" name="mailingLists[]" value="{{ group.id }}" {{#if group.isMember}}checked{{/if}}>
			<label for="list{{@index}}" class="label-inline ml-1">{{ group.name }}</label>
		</div>
	{{else}}
		No mailing lists could be found
	{{/each}}

	<div class="text-center pt-3">
		<button class="button button--teal">Update Preferences</button>
	</div>

</script>