<script id="account-inquiries" type="text/x-handlebars-template">

    <h1 class="account-current-section__title">Inquiries</h1>

    {{#if hasInquiries}}
        <div class="account-inquiries-list">
        {{#each inquiries as |inquiry|}}
            <div class="inquiry">
                <div>Date Submitted: {{inquiry.dateTaken}}</div>
                <div>Inquiry Type: {{inquiry.type}}</div>
                {{#if inquiry.onBehalfOf}}
                <div>On Behalf Of: {{inquiry.onBehalfOf}}</div>
                {{/if}}
                {{#if inquiry.children.hasChildren}}
                <div>
                    {{#if inquiry.children.isSiblingGroup}}Children:{{else}}Child:{{/if}}
                    {{#if inquiry.children.areChildrenActive}}
                    <a href="{{inquiry.children.galleryLink}}" target="_blank">{{inquiry.children.label}}</a>
                    {{else}}
                    {{inquiry.children.label}}
                    {{/if}}
                </div>
                {{/if}}
                <div class="inquiry__comment">
                    <div class="pb-1">Inquiry Comments</div>
                    {{inquiry.comments}}
                </div>
                <div class="inquiry__note">
                    <textarea class="inquiry__note-text" rows="5" placeholder="Enter notes here..." data-initial-note="{{inquiry.notes}}" data-index={{@index}}>{{inquiry.notes}}</textarea>
                </div>
                <button id="save-btn-{{@index}}" class="button button--teal button--disabled inquiry__save" disabled="true"
                    data-note="{{inquiry.notes}}" data-id="{{inquiry.id}}">Save</button>
            </div>
        {{/each}}
        </div>
    {{else}}
        <p class="text-center">No inquiries on file.</p>
    {{/if}}

</script>
