<script id="account-events" type="text/x-handlebars-template">

    <h1 class="account-current-section__title">Upcoming Events</h1>

	{{#each events}}
		<div class="account-event__container">
			<h2 class="card__title event-title">{{name}}</h2>
			<div class="card__content">
				<section class="card__content-group">
					{{#if startDate}}
					<span class="card__overview">
						<i class="fa fa-2x fa-calendar-o card__overview-icon" aria-hidden="true"></i>
						<span class="card__overview-text">{{ dateString }}</span>
					</span>
					{{/if}}
					{{#if startTime}}
					<span class="card__overview">
						<i class="fa fa-2x fa-clock-o card__overview-icon" aria-hidden="true"></i>
						<span class="card__overview-text">{{ startTime }} - {{ endTime }}</span>
					</span>
					{{/if}}
					{{#if address}}
					<span class="card__overview">
						<i class="fa fa-2x fa-map-marker card__overview-icon" aria-hidden="true"></i>
						<address class="card__overview-text card__overview-text--normal">
							{{ address.street1 }} {{ address.street2 }}<br>
							{{ address.city }}, {{ address.state.state }} {{ address.zipCode }}
						</address>
					</span>
					{{/if}}
				</section>
			</div>
			<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">
				<button class="button button--large button--teal events__navigation-button" data-url="{{ url }}">View Details</button>
			</section>
		</div>
	{{/each}}

</script>
