<!-- client side template for rendering the event registration form in a modal -->
<script id="event-edit-registration-form-template" type="text/x-handlebars-template">

<section class="event-social-worker-registration-form event-registration__container">
	<div class="modal-form__header">
		<div class="modal-form-header__text"> {{!-- should be h1 etc --}}
			\{{ eventName }}
		</div>
		<div class="modal-form__subheader"> {{!-- should be h3 etc --}}
			\{{ eventDate }}
		</div>
	</div>

	<div class="modal-form__key">
		<span class="required required-description">* Required</span>
	</div>

	<form action="/events/edit-registration/\{{ eventId }}" class="modal-form--register-for-event" method="POST">
		<input type="hidden" name="eventName" value="\{{ eventName }}">
        <input type="hidden" name="redirectPath" value="{{ redirectPath }}">

		<section class="form-section">

			<div class="row form-group">
				<div class="col-sm-24 form-group">
					<div class="form-group form-group__header">You are registering as</div>
					<div class="form-group">{{ displayName }}</div>
				</div>
			</div>
			<div class="form-group form-group__header">Are you bringing any additional children?</div>
			{{#if hasSocialWorkersChildren}}
			<div class="row form-group">
				<div class="col-sm-12 form-group">
					<select id="registered-children" class="input registered-children-select">
						<option value="">Add Child</option>
						{{#each socialWorkersChildren}}
						<option value="{{ _id }}">{{ name.full }}</option>
						{{/each}}
					</select>
					<label for="registered-children" class="label required-field">Registered Children</label>
				</div>
			</div>
			{{/if}}

			<section class="row form-group registered-children-container"></section>

			<div class="row form-group">
				<div class="col-sm-12 form-group">
					<select id="number-of-children" class="input number-of-children-select" name="numberOfChildren">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<label for="number-of-children" class="label required-field">Number of children attending who are unregistered or not on list above</label>
				</div>
			</div>

			<section class="row form-group unregistered-children-container"></section>

		</section>

		<button class="button button--teal" type="submit">Edit Registration</button>
	</form>

</section>

</script>

{{> event-registration-form_person-details}}
{{> event-registration-form_registered-child-details}}
