{{#each featuredItems}}
<ul class="featured-items">
	<li class="featured-item card">
		<a href="/page/our-services" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ aboutUs.title }}</span>
			</div>
			{{#if hasAboutUsImage}}
			<img src="{{ aboutUs.image.url }}" alt="{{ aboutUs.title }}" class="featured-item__image">
			{{/if}}
		</a>
	</li>
	<li class="featured-item card">
		<a href="{{ successStory.url }}" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ successStory.title }}</span>
			</div>
			{{#if hasSuccessStoryImage}}
			<img src="{{ successStory.image.url }}" alt="{{ successStory.title }}" class="featured-item__image">
			{{/if}}
		</a>
	</li>
	<li class="featured-item card">
		<a href="{{ event.url }}" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ event.title }}</span>
			</div>
			{{#if hasEventImage}}
			<img src="{{ event.image.url }}" alt="{{ event.title }}" class="featured-item__image">
			{{/if}}
		</a>
	</li>
</ul>
{{/each}}