{{#each featuredItems}}
<ul class="featured-items">
	<li class="featured-item card">
		<a href="{{ featuredItem1.url }}" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ featuredItem1.title }}</span>
			</div>
			{{#if featuredItem1HasImage}}
			<img src="{{ featuredItem1.image.url }}" alt="{{ featuredItem1.title }}" class="featured-item__image">
			{{/if}}
		</a>
	</li>
	<li class="featured-item card">
		<a href="{{ featuredItem2.url }}" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ featuredItem2.title }}</span>
			</div>
			{{#if featuredItem2HasImage}}
			<img src="{{ featuredItem2.image.url }}" alt="{{ featuredItem2.title }}" class="featured-item__image">
			{{/if}}
		</a>
	</li>
	<li class="featured-item card">
		<a href="{{ featuredItem3.url }}" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ featuredItem3.title }}</span>
			</div>
			{{#if featuredItem3HasImage}}
			<img src="{{ featuredItem3.image.url }}" alt="{{ featuredItem3.title }}" class="featured-item__image">
			{{/if}}
		</a>
	</li>
</ul>
{{/each}}
