<section class="edit-child-form-container hidden">

    <div class="change-form-text">If you'd like to create a new child record, <a href="/forms/social-worker-child-registration#create">click here</a></div>

    {{#if hasRegisteredChildren}}
        <div class="row">
            <div class="col-sm-8 form-group">
                <label for="registered-children-edit" class="label">Update existing registration for</label>
            </div>
            <div class="col-sm-12 form-group">
                <select id="registered-children-edit" class="input" name="registeredChildren[]">
                    <option value=""></option>
                    {{#each recruitmentWorkersChildren.editDetails}}
                    <option value="{{ _id }}" data-child-details="{{json this}}">{{ this.name }}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    {{/if}}

    <div class="edit-child-form-body hidden">

        <section class="child-information-section">
            <div class="form-section-header">Child Information</div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="first-name-edit" class="input" name="firstName">
                    <label for="first-name-edit" class="label required-field">First Name</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" id="last-name-edit" class="input" name="lastName">
                    <label for="last-name-edit" class="label required-field">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="alias-edit" class="input" name="alias">
                    <label for="alias-edit" class="label">Alias (only for children who are legal risk)</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" id="nickname-edit" class="input" name="nickName">
                    <label for="nickname-edit" class="label">Nickname</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="date-of-birth-edit" class="input" name="dateOfBirth" placeholder="MM/DD/YYYY">
                    <label for="date-of-birth-edit" class="label required-field">Date of Birth</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-24 form-group">
                    <label class="label required-field">Languages spoken</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="languages-error-container-edit" class="row error-container">
                    {{#each languages}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="languages[]" value="{{ _id }}">{{ language }}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="required-field">Gender</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="gender-error-container-edit" class="row error-container">
                    {{#each genders}}
                        <div class="col-sm-12 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="{{_id}}">{{gender}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5 required-field">Race/Ethnicity (check all that apply)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="races-error-container-edit" class="row error-container">
                    {{#each races}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="race[]" value="{{_id}}">{{race}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <textarea class="input" id="other-ethnic-background-edit" name="otherEthnicBackground" rows="5"></textarea>
                    <label for="other-ethnic-background-edit" class="label">Other Information About child's ethnic Background</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5 required-field">Where does this child presently live?</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="current-residence-error-container-edit" class="row error-container">
                    {{#each residences}}
                        <div class="col-sm-24 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="currentResidence" value="{{_id}}">{{residence}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group city-container">
                    <select id="city-edit" class="input form-field-callout" name="city">
                        <option value=""></option>
                        {{#each citiesAndTowns}}
                        <option value="{{_id}}">{{cityOrTown}}</option>
                        {{/each}}
                    </select>
                    <label for="city-edit" class="label required-field">City of Child's Current Location</label>
                </div>
                <div class="col-sm-12 form-group non-ma-city-container hidden">
                    <input type="text" id="non-ma-city-edit" class="input form-field-callout" name="nonMACity">
                    <label for="non-ma-city-edit" class="label required-field">City of Child's Current Location</label>
                </div>
                <div class="col-sm-12 form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="is-not-ma-city-checkbox" name="isNotMACity" data-trigger-on-restore="change">Child lives outside MA
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" id="care-facility-edit" class="input form-field-callout" name="careFacility">
                    <label for="care-facility-edit" class="label">Name of Residential/Group Care Facility (if applicable)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="required-field">Legal Status</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="preferred-legal-status-error-container-edit" class="row error-container form-field-callout">
                    {{#each legalStatuses}}
                        <div class="col-sm-12 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="legalStatus" value="{{_id}}">{{legalStatus}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="year-entered-care-edit" name="yearEnteredCare">
                    <label for="year-entered-care-edit" class="label required-field">Year Child Entered Care</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <span class="required-field">Is child to be adopted as part of a sibling group?</span> &nbsp;&nbsp;
                    <span id="is-part-of-sibling-group-error-container-edit" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isPartOfSiblingGroup" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isPartOfSiblingGroup" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16 form-group sibling-names-container hidden">
                    <input type="text" class="input" id="sibling-names-edit" name="siblingNames">
                    <label for="sibling-names-edit" class="label">names of siblings to be placed with</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Does child need contact with other siblings?</span> &nbsp;&nbsp;
                    <span id="is-sibling-contact-needed-error-container-edit" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isSiblingContactNeeded" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isSiblingContactNeeded" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="sibling-contact-description-edit" name="siblingContactDescription">
                    <label for="sibling-contact-description-edit" class="label">If yes, please describe (i.e. brother, sister, monthly, etc.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Does child need contact with other birth family?</span> &nbsp;&nbsp;
                    <span id="is-family-contact-needed-error-container-edit" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isFamilyContactNeeded" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isFamilyContactNeeded" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="family-contact-description-edit" name="familyContactDescription">
                    <label for="family-contact-description-edit" class="label">If yes, please describe</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5 required-field">Recommended Family Constellation (check all that apply)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="recommended-family-constellation-error-container-edit" class="row error-container">
                    {{#each familyConstellations}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="recommendedFamilyConstellations[]" value="{{_id}}" {{#if default}}checked{{/if}}>{{familyConstellation}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="child-invalid-family-constellation-reason-edit" name="childInvalidFamilyConstellationReason" rows="5"></textarea>
                    <label for="child-invalid-family-constellation-reason-edit" class="label">If same-sex couples or single parents will not be considered, please give clinically appropriate reason</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5">Other Family Constellation Considerations (check all that apply)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                {{#each otherFamilyConstellationConsiderations}}
                    <div class="col-sm-12 form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="otherFamilyConstellationConsiderations[]" value="{{_id}}">{{otherFamilyConstellationConsideration}}
                        </label>
                    </div>
                {{/each}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="physical-needs-edit" name="physicalNeeds" rows="5"></textarea>
                    <label for="physical-needs-edit" class="label required-field">Physical Special Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="intellectual-needs-edit" name="intellectualNeeds" rows="5"></textarea>
                    <label for="intellectual-needs-edit" class="label required-field">Intellectual Special Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="emotional-needs-edit" name="emotionalNeeds" rows="5"></textarea>
                    <label for="emotional-needs-edit" class="label required-field">Emotional Needs/Trauma History (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="social-needs-edit" name="socialNeeds" rows="5"></textarea>
                    <label for="social-needs-edit" class="label required-field">Social Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs">Medical or Developmental Needs Considered</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                {{#each disabilities}}
                    <div class="col-sm-12 form-group">
                        <label class="checkbox-inline"><input type="checkbox" name="disabilities[]" value="{{_id}}">{{disability}}</label>
                    </div>
                {{/each}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="aspirations-edit" name="aspirations" rows="5"></textarea>
                    <label for="aspirations-edit" class="label required-field">Interests, Talents and Aspirations (Describe what child wants to be in the future –career or educational goals.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="school-life-edit" name="schoolLife" rows="5"></textarea>
                    <label for="school-life-edit" class="label required-field">School Life (Describe child’s academic functioning, grade level, school behavior, peer relationship.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="family-life-edit" name="familyLife" rows="5"></textarea>
                    <label for="family-life-edit" class="label required-field">Family Life (Describe child’s interaction and behavior in a family or residential setting.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="personality-edit" name="personality" rows="5"></textarea>
                    <label for="personality-edit" class="label required-field">Personality (How does child or others describe him/herself? What is unique about this child (e.g. sexual orientation/gender identity, temperament, sense of humor, etc.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="other-recruitment-considerations-edit" name="otherRecruitmentConsiderations" rows="5"></textarea>
                    <label for="other-recruitment-considerations-edit" class="label required-field">Other Recruitment Considerations (Qualities of the ideal family, child’s wishes for a family, worker’s recommendation, geographical considerations)</label>
                </div>
            </div>
        </section>
        
        <section class="recruitment-worker-information-section">
            <div class="form-section-header">Recruitment Worker Information</div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-edit" name="recruitmentWorker">
                    <label for="recruitment-worker-edit" class="label required-field">Recruitment Worker</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-agency-edit" name="recruitmentWorkerAgency">
                    <label for="recruitment-worker-agency-edit" class="label required-field">Agency</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-phone-edit" name="recruitmentWorkerPhone">
                    <label for="recruitment-worker-phone-edit" class="label required-field">Phone</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-email-edit" name="recruitmentWorkerEmail">
                    <label for="recruitment-worker-email-edit" class="label required-field">Email</label>
                </div>
            </div>
        </section>

        <section class="adoption-worker-information-section">
            <div class="form-section-header">Adoption Worker Information</div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-edit" name="adoptionWorker">
                    <label for="adoption-worker-edit" class="label required-field">Adoption Worker</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-agency-edit" name="adoptionWorkerAgency">
                    <label for="adoption-worker-agency-edit" class="label required-field">Agency</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-phone-edit" name="adoptionWorkerPhone">
                    <label for="adoption-worker-phone-edit" class="label required-field">Phone</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-email-edit" name="adoptionWorkerEmail">
                    <label for="adoption-worker-email-edit" class="label required-field">Email</label>
                </div>
            </div>
        </section>

        <p class="form-group">Please include as much information as possible to allow us to best recruit for a child
        or teen.  We will use discretion in what information is appropriate to be shared with the public.</p>

        <form enctype="multipart/form-data" action="/forms/social-worker-child-edit" class="edit-child-form" method="POST">
            <button id="btn-update-child-data" class="button button--teal button--disabled" type="submit" disabled="true">Send Updates to MARE Staff</button>
        </form>

    </div>
</section>