<section class="edit-child-form-container hidden">

    <div class="change-form-text">If you'd like to create a new child record, <a href="/forms/social-worker-child-registration#create">click here</a></div>

    {{#if hasRegisteredChildren}}
        <div class="row">
            <div class="col-sm-8 form-group">
                <label for="registered-children-edit" class="label">Update existing registration for</label>
            </div>
            <div class="col-sm-12 form-group">
                <select id="registered-children-edit" class="input" name="registeredChildren[]">
                    <option value=""></option>
                    {{#each recruitmentWorkersChildren.editDetails}}
                    <option value="{{ _id }}" data-child-details="{{json this}}">{{ this.name }}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    {{/if}}

    <div class="edit-child-form-body hidden">

        <section class="child-information-section">
            <div class="form-section-header">Child Information</div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="first-name-edit" class="input" name="firstName">
                    <label for="first-name-edit" class="label">First Name</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" id="last-name-edit" class="input" name="lastName">
                    <label for="last-name-edit" class="label">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="alias-edit" class="input" name="alias">
                    <label for="alias-edit" class="label">Alias (only for children who are legal risk)</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" id="nickname-edit" class="input" name="nickName">
                    <label for="nickname-edit" class="label">Nickname</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="date-of-birth-edit" class="input" name="dateOfBirth" placeholder="MM/DD/YYYY">
                    <label for="date-of-birth-edit" class="label">Date of Birth</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-24 form-group">
                    <span>Do you have an updated photo of this child?</span> &nbsp;&nbsp;
                    <span id="has-updated-child-photo" class="error-container">
                        <label class="radio-inline"><input type="radio" name="hasUpdatedPhoto" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="hasUpdatedPhoto" value="No" checked>No</label>
                    </span>
                    <div class="label mt-1">If yes, please email to <a href="mailto:web@mareinc.org">web@mareinc.org</a>.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-24 form-group">
                    <label class="label">Languages spoken</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="languages-error-container-edit" class="row error-container">
                    {{#each languages}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="languages[]" value="{{ _id }}">{{ language }}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label>Gender</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="gender-error-container-edit" class="row error-container">
                    {{#each genders}}
                        <div class="col-sm-12 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="{{_id}}">{{gender}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-24 form-group">
                    <label class="label required-field">Pronouns Used</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div id="pronouns-error-container-edit" class="row error-container form-field-callout">
                    {{#each pronouns}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="pronouns[]" value="{{ _id }}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#pronouns-error-container-edit" data-parsley-mincheck="1" data-parsley-required="">{{ pronoun }}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <label class="required-field">Does child identify as part of the LGBTQ+ community?</label>
                </div>
                <div id="identify-as-lgbtq-error-container-edit" class="col-sm-24 error-container form-field-callout">
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="doesIdentifyAsLGBTQ" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#identify-as-lgbtq-error-container-edit">Yes (provide additional details)</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="doesIdentifyAsLGBTQ" value="No" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#identify-as-lgbtq-error-container-edit">No</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="radio-inline"><input type="radio" name="doesIdentifyAsLGBTQ" value="Unknown" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#identify-as-lgbtq-error-container-edit">I don't know</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-16 form-group">
                    <textarea class="input form-field-callout" id="lgbtq-identity-comments-edit" name="lgbtqIdentityComments" rows="5"></textarea>
                    <label for="lgbtq-identity-comments-edit" class="label">Additional Details</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <label class="required-field">Is child comfortable with their identity being shared in their recruitment profile?</label>
                </div>
                <div id="share-identity-in-profile-edit" class="error-container col-sm-24 form-field-callout">
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="shareIdentityInProfile" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#share-identity-in-profile-edit">Yes</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="shareIdentityInProfile" value="No" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#share-identity-in-profile-edit">No</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="radio-inline"><input type="radio" name="shareIdentityInProfile" value="Unknown" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#share-identity-in-profile-edit">I don't know</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-16 form-group">
                    <textarea class="input form-field-callout" id="share-identity-comments-edit" name="shareIdentityComments" rows="5"></textarea>
                    <label for="share-identity-comments-edit" class="label">Additional Comments</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5">Race/Ethnicity (check all that apply)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="races-error-container-edit" class="row error-container">
                    {{#each races}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="race[]" value="{{_id}}">{{race}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <textarea class="input" id="other-ethnic-background-edit" name="otherEthnicBackground" rows="5"></textarea>
                    <label for="other-ethnic-background-edit" class="label">Other Information About child's ethnic Background</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5">Where does this child presently live?</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="current-residence-error-container-edit" class="row error-container">
                    {{#each residences}}
                        <div class="col-sm-24 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="currentResidence" value="{{_id}}">{{residence}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group city-container">
                    <select id="city-edit" class="input form-field-callout" name="city">
                        <option value=""></option>
                        {{#each citiesAndTowns}}
                        <option value="{{_id}}">{{cityOrTown}}</option>
                        {{/each}}
                    </select>
                    <label for="city-edit" class="label">City of Child's Current Location</label>
                </div>
                <div class="col-sm-12 form-group non-ma-city-container hidden">
                    <input type="text" id="non-ma-city-edit" class="input form-field-callout" name="nonMACity">
                    <label for="non-ma-city-edit" class="label">City of Child's Current Location</label>
                </div>
                <div class="col-sm-12 form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="is-not-ma-city-checkbox" name="isNotMACity" data-trigger-on-restore="change">Child lives outside MA
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" id="care-facility-edit" class="input form-field-callout" name="careFacility">
                    <label for="care-facility-edit" class="label">Name of Residential/Group Care Facility (if applicable)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label>Legal Status</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="preferred-legal-status-error-container-edit" class="row error-container form-field-callout">
                    {{#each legalStatuses}}
                        <div class="col-sm-12 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="legalStatus" value="{{_id}}">{{legalStatus}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="year-entered-care-edit" name="yearEnteredCare">
                    <label for="year-entered-care-edit" class="label">Year Child Entered Care</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <span>Is child to be adopted as part of a sibling group?</span> &nbsp;&nbsp;
                    <span id="is-part-of-sibling-group-error-container-edit" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isPartOfSiblingGroup" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isPartOfSiblingGroup" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16 form-group sibling-names-container hidden">
                    <input type="text" class="input" id="sibling-names-edit" name="siblingNames">
                    <label for="sibling-names-edit" class="label">names of siblings to be placed with</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span>Does child need contact with other siblings?</span> &nbsp;&nbsp;
                    <span id="is-sibling-contact-needed-error-container-edit" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isSiblingContactNeeded" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isSiblingContactNeeded" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="sibling-contact-description-edit" name="siblingContactDescription">
                    <label for="sibling-contact-description-edit" class="label">If yes, please describe (i.e. brother, sister, monthly, etc.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span>Does child need contact with other birth family?</span> &nbsp;&nbsp;
                    <span id="is-family-contact-needed-error-container-edit" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isFamilyContactNeeded" value="Yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isFamilyContactNeeded" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="family-contact-description-edit" name="familyContactDescription">
                    <label for="family-contact-description-edit" class="label">If yes, please describe</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Will consider out of state families from New England?</span> &nbsp;&nbsp;
                    <span id="will-consider-out-of-state-new-england" class="error-container">
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesNewEngland" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#will-consider-out-of-state-new-england" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesNewEngland" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Will consider out of state families from any state?</span> &nbsp;&nbsp;
                    <span id="will-consider-out-of-state-any" class="error-container">
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesAny" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#will-consider-out-of-state-any" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesAny" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5">Child CANNOT be placed with (check all that apply)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="placement-exclusions-error-container" class="row error-container form-field-callout">
                    {{#each matchingExclusions as |exclusion|}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="matchingExclusions[]" value="{{exclusion._id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#placement-exclusions-error-container">{{exclusion.matchingExclusion}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="child-invalid-family-constellation-reason-edit" name="childInvalidFamilyConstellationReason" rows="5"></textarea>
                    <label for="child-invalid-family-constellation-reason-edit" class="label">If same-sex couples or single parents will not be considered, please give clinically appropriate reason</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="physical-needs-edit" name="physicalNeeds" rows="5"></textarea>
                    <label for="physical-needs-edit" class="label">Physical Special Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="intellectual-needs-edit" name="intellectualNeeds" rows="5"></textarea>
                    <label for="intellectual-needs-edit" class="label">Intellectual Special Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="emotional-needs-edit" name="emotionalNeeds" rows="5"></textarea>
                    <label for="emotional-needs-edit" class="label">Emotional Needs/Trauma History (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="social-needs-edit" name="socialNeeds" rows="5"></textarea>
                    <label for="social-needs-edit" class="label">Social Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs">Medical or Developmental Needs</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                {{#each disabilities}}
                    <div class="col-sm-12 form-group">
                        <label class="checkbox-inline"><input type="checkbox" name="disabilities[]" value="{{_id}}">{{disability}}</label>
                    </div>
                {{/each}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="aspirations-edit" name="aspirations" rows="5"></textarea>
                    <label for="aspirations-edit" class="label">Interests, Talents and Aspirations (Describe what child wants to be in the future –career or educational goals.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="school-life-edit" name="schoolLife" rows="5"></textarea>
                    <label for="school-life-edit" class="label">School Life (Describe child’s academic functioning, grade level, school behavior, peer relationship.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="family-life-edit" name="familyLife" rows="5"></textarea>
                    <label for="family-life-edit" class="label">Family Life (Describe child’s interaction and behavior in a family or residential setting.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="personality-edit" name="personality" rows="5"></textarea>
                    <label for="personality-edit" class="label">Personality (How does child or others describe him/herself? What is unique about this child (e.g. sexual orientation/gender identity, temperament, sense of humor, etc.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input form-field-callout" id="other-recruitment-considerations-edit" name="otherRecruitmentConsiderations" rows="5"></textarea>
                    <label for="other-recruitment-considerations-edit" class="label">Other Recruitment Considerations (Qualities of the ideal family, child’s wishes for a family, worker’s recommendation, geographical considerations. For legally freed children please note any limitations on media/publicity.)</label>
                </div>
            </div>
        </section>

        <section class="recruitment-worker-information-section">
            <div class="form-section-header">Recruitment Worker Information</div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-edit" name="recruitmentWorker">
                    <label for="recruitment-worker-edit" class="label">Recruitment Worker</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-agency-edit" name="recruitmentWorkerAgency">
                    <label for="recruitment-worker-agency-edit" class="label">Agency</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-phone-edit" name="recruitmentWorkerPhone">
                    <label for="recruitment-worker-phone-edit" class="label">Phone</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-email-edit" name="recruitmentWorkerEmail">
                    <label for="recruitment-worker-email-edit" class="label">Email</label>
                </div>
            </div>
        </section>

        <section class="adoption-worker-information-section">
            <div class="form-section-header">Adoption Worker Information</div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-edit" name="adoptionWorker">
                    <label for="adoption-worker-edit" class="label">Adoption Worker</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-agency-edit" name="adoptionWorkerAgency">
                    <label for="adoption-worker-agency-edit" class="label">Agency</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-phone-edit" name="adoptionWorkerPhone">
                    <label for="adoption-worker-phone-edit" class="label">Phone</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-email-edit" name="adoptionWorkerEmail">
                    <label for="adoption-worker-email-edit" class="label">Email</label>
                </div>
            </div>
        </section>

        <form enctype="multipart/form-data" action="/forms/social-worker-child-edit" class="edit-child-form" method="POST">
            <button id="btn-update-child-data" class="button button--teal button--disabled" type="submit" disabled="true">Send Updates to MARE Staff</button>
        </form>

    </div>
</section>
