<section class="create-child-form-container">

    <form enctype="multipart/form-data" action="/forms/social-worker-child-registration" class="create-child-form" method="POST">

        <div class="change-form-text">If you'd like to <strong>register</strong> a new child for MARE services, submit the form below.</div>
        {{#if hasRegisteredChildren}}
        <div class="change-form-text">If you'd like to <strong>add</strong> a sibling to a child who was registered before today, select the sibling below who is already registered.</div>
        <div class="change-form-text">If you'd like to <strong>update</strong> an existing MARE registration, <a href="/forms/social-worker-child-registration#edit">click here</a></div>
        {{/if}}

        {{> restore-form-data}}

        <section class="child-information-section">
            <div class="form-section-header">Child Information</div>

            <span class="required required-description">* Required</span>

            {{#if hasRegisteredChildren}}
            <div class="registered-children-container">
                <div class="col-sm-10 form-group">
                    <label for="registeredChildren" class="label">Select previously registered sibling (if applicable)</label>
                </div>
                <div class="col-sm-12 form-group">
                    <select id="registered-children" class="input" name="registeredChildren[]">
                        <option value=""></option>
                        {{#each recruitmentWorkersChildren.saveDetails}}
                        <option value="{{ _id }}" data-child-details="{{json this}}">{{ this.name }}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            {{/if}}

            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="first-name" class="input" name="firstName" data-parsley-error-message="required" required="">
                    <label for="first-name" class="label required-field">First Name</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" id="last-name" class="input" name="lastName" data-parsley-error-message="required" required="">
                    <label for="last-name" class="label required-field">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="alias" class="input" name="alias">
                    <label for="alias" class="label">Alias (only for children who are legal risk)</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" id="nickname" class="input" name="nickName">
                    <label for="nickname" class="label">Nickname</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" id="date-of-birth" class="input" name="dateOfBirth" data-parsley-required-message="required" required="" placeholder="MM/DD/YYYY"
                        data-parsley-pattern="/^((0?[1-9])|(1[0-2]))\/((0?[1-9])|([1-2]?[0-9])|(3[0-1]))\/\d{4}$/" data-parsley-pattern-message="Please use MM/DD/YYYY format">
                    <label for="date-of-birth" class="label required-field">Date of Birth</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <span class="required-field">Has child been assigned a secondary worker in the ADLU?</span> &nbsp;&nbsp;
                    <span id="child-has-secondary-adlu-worker" class="error-container">
                        <label class="radio-inline"><input type="radio" name="secondaryADLUWorker" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#child-has-secondary-adlu-worker" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="secondaryADLUWorker" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <span class="required-field">Has child had an adoption assessment completed?</span> &nbsp;&nbsp;
                    <span id="child-adoption-assessment-complete" class="error-container">
                        <label class="radio-inline"><input type="radio" name="adoptionAssessment" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#child-adoption-assessment-complete" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="adoptionAssessment" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-24 form-group">
                    <label class="label required-field">Languages spoken</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="languages-error-container" class="row error-container">
                    {{#each languages}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="languages[]" value="{{ _id }}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#languages-error-container" data-parsley-mincheck="1" data-parsley-required="">{{ language }}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="required-field">Gender</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="gender-error-container" class="row error-container">
                    {{#each genders}}
                        <div class="col-sm-12 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#gender-error-container" required="">{{gender}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-24 form-group">
                    <label class="label required-field">Pronouns Used</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div id="pronouns-error-container" class="row error-container">
                    {{#each pronouns}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="pronouns[]" value="{{ _id }}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#pronouns-error-container" data-parsley-mincheck="1" data-parsley-required="">{{ pronoun }}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <label class="required-field">Does child identify as part of the LGBTQ+ community?</label>
                </div>
                <div id="identify-as-lgbtq-error-container" class="col-sm-24 error-container">
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="doesIdentifyAsLGBTQ" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#identify-as-lgbtq-error-container" data-parsley-required="">Yes (provide additional details)</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="doesIdentifyAsLGBTQ" value="No" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#identify-as-lgbtq-error-container" data-parsley-required="">No</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="radio-inline"><input type="radio" name="doesIdentifyAsLGBTQ" value="Unknown" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#identify-as-lgbtq-error-container" data-parsley-required="">I don't know</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-16 form-group">
                    <textarea class="input" id="lgbtq-identity-comments" name="lgbtqIdentityComments" rows="5"></textarea>
                    <label for="lgbtq-identity-comments" class="label">Additional Details</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <label>Is child comfortable with their identity being shared in their recruitment profile?</label>
                </div>
                <div id="share-identity-in-profile" class="col-sm-24 error-container">
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="shareIdentityInProfile" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#share-identity-in-profile">Yes</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label class="radio-inline"><input type="radio" name="shareIdentityInProfile" value="No" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#share-identity-in-profile">No</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="radio-inline"><input type="radio" name="shareIdentityInProfile" value="Unknown" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#share-identity-in-profile">I don't know</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-16 form-group">
                    <textarea class="input" id="share-identity-comments" name="shareIdentityComments" rows="5"></textarea>
                    <label for="share-identity-comments" class="label">Additional Comments</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5 required-field">Race/Ethnicity (check all that apply)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="races-error-container" class="row error-container">
                    {{#each races}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="race[]" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#races-error-container" data-parsley-mincheck="1" data-parsley-required="">{{race}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <textarea class="input" id="other-ethnic-background" name="otherEthnicBackground" rows="5"></textarea>
                    <label for="other-ethnic-background" class="label">Other Information About child's ethnic Background</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5 required-field">Where does this child presently live?</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="current-residence-error-container" class="row error-container">
                    {{#each residences}}
                        <div class="col-sm-24 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="currentResidence" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#current-residence-error-container" required="">{{residence}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group city-container">
                    <select id="city" class="input" name="city" data-parsley-trigger="change" data-parsley-errors-messages-disabled="true" required="">
                        <option value=""></option>
                        {{#each citiesAndTowns}}
                        <option value="{{_id}}">{{cityOrTown}}</option>
                        {{/each}}
                    </select>
                    <label for="city" class="label required-field">City of Child's Current Location</label>
                </div>
                <div class="col-sm-12 form-group non-ma-city-container hidden">
                    <input type="text" id="non-ma-city" class="input" name="nonMACity" data-parsley-error-message="required" data-parsley-required="false">
                    <label for="non-ma-city" class="label required-field">City of Child's Current Location</label>
                </div>
                <div class="col-sm-12 form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="is-not-ma-city-checkbox" name="isNotMACity">Child lives outside MA
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" id="care-facility" class="input" name="careFacility">
                    <label for="care-facility" class="label">Name of Residential/Group Care Facility (if applicable)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="required-field">Legal Status</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="preferred-legal-status-error-container" class="row error-container">
                    {{#each legalStatuses}}
                        <div class="col-sm-12 form-group">
                            <label class="radio-inline">
                                <input type="radio" name="legalStatus" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-legal-status-error-container" required="">{{legalStatus}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="year-entered-care" name="yearEnteredCare" data-parsley-error-message="required" required="">
                    <label for="year-entered-care" class="label required-field">Year Child Entered Care</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24 form-group">
                    <span class="required-field">Is child to be adopted as part of a sibling group?</span> &nbsp;&nbsp;
                    <span id="is-part-of-sibling-group-error-container" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isPartOfSiblingGroup" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#is-part-of-sibling-group-error-container" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isPartOfSiblingGroup" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16 form-group sibling-names-container hidden">
                    <input type="text" class="input" id="sibling-names" name="siblingNames">
                    <label for="sibling-names" class="label">names of siblings to be placed with</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Does child need contact with other siblings?</span> &nbsp;&nbsp;
                    <span id="is-sibling-contact-needed-error-container" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isSiblingContactNeeded" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#is-sibling-contact-needed-error-container" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isSiblingContactNeeded" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="sibling-contact-description" name="siblingContactDescription">
                    <label for="sibling-contact-description" class="label">If yes, please describe (i.e. brother, sister, monthly, etc.)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Does child need contact with other birth family?</span> &nbsp;&nbsp;
                    <span id="is-family-contact-needed-error-container" class="error-container">
                        <label class="radio-inline"><input type="radio" name="isFamilyContactNeeded" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#is-family-contact-needed-error-container" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="isFamilyContactNeeded" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="family-contact-description" name="familyContactDescription">
                    <label for="family-contact-description" class="label">If yes, please describe</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Will consider out of state families from New England?</span> &nbsp;&nbsp;
                    <span id="will-consider-out-of-state-new-england" class="error-container">
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesNewEngland" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#will-consider-out-of-state-new-england" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesNewEngland" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <span class="required-field">Will consider out of state families from any state?</span> &nbsp;&nbsp;
                    <span id="will-consider-out-of-state-any" class="error-container">
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesAny" value="Yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#will-consider-out-of-state-any" data-parsley-required="">Yes</label>
                        <label class="radio-inline"><input type="radio" name="outOfStateFamiliesAny" value="No">No</label>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs-5">Child CANNOT be placed with (check all that apply)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                    <div id="placement-exclusions-error-container" class="row error-container">
                    {{#each matchingExclusions as |exclusion|}}
                        <div class="col-sm-12 form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="matchingExclusions[]" value="{{exclusion._id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#placement-exclusions-error-container">{{exclusion.matchingExclusion}}
                            </label>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="child-invalid-constellation-reason" name="childInvalidFamilyConstellationReason" rows="5"></textarea>
                    <label for="child-invalid-family-constellation-reason" class="label">If same-sex couples or single parents will not be considered, please give clinically appropriate reason</label>
                </div>
            </div>
        </section>
        
        <section class="child-profile-information-section">
            <div class="form-section-header">Child Profile Information</div>
            <p class="form-group">Tell us about this child or teen's strengths, and what makes them unique! These sections will be used to write a child profile that will be visible to families.</p>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="personality" name="personality" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="personality" class="label required-field">Personality</label>
                    <label class="list-label">
                        <ul>
                            <li>How would you describe the child or teen? How would they describe themselves?</li>
                            <li>What makes them unique or makes them stand out from their peers?</li>
                            <li>Please share any stories or favorite memories of them. Do you have any favorite quotes from them?</li>
                        </ul>
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="aspirations" name="aspirations" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="aspirations" class="label required-field">Interests, Talents and Aspirations</label>
                    <label class="list-label">
                        <ul>
                            <li>Describe what the child or teen likes to do for fun and what they are passionate about. Give examples of their favorite activities, foods, books, movies, toys, places to visit, etc.</li>
                            <li>Tell us about what types of things they are good at. What are their strengths?</li>
                            <li>What hopes and dreams do they have for their future? Is there anything that they would like to try or experience that they haven't had the opportunity to?</li>
                        </ul>
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="school-life" name="schoolLife" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="school-life" class="label required-field">School Life</label>
                    <label class="list-label">
                        <ul>
                            <li>What type of school setting is the child or teen in?</li>
                            <li>Describe what they enjoy about school. For example, do they have any favorite subjects or teachers? Do they participate in any sports teams, clubs, or after-school activities?</li>
                            <li>What type of relationships do they have with their peers?</li>
                            <li>How do they do in class?</li>
                        </ul>
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="family-life" name="familyLife" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="family-life" class="label required-field">Family Life</label>
                    <label class="list-label">
                        <ul>
                            <li>What type of setting is the child or teen currently living in?</li>
                            <li>Tell us about what they enjoy about where they live. Is there anything that is challenging for them?</li>
                            <li>Describe the relationships that the have with the adults and/or children that they live with.</li>
                            <li>Describe any important relationships that they have with people they don't live with, such as mentors, former foster parents, coaches, biological family, etc.</li>
                        </ul>
                    </label>
                </div>
            </div>
        </section>

        <section class="child-clinical-information-section">
            <div class="form-section-header">Child Clinical Information</div>
            <p class="form-group">Tell us about this child's or teen's needs or challenges, and what support they need to thrive.</p>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="physical-needs" name="physicalNeeds" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="physical-needs" class="label required-field">Physical Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
             <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="emotional-needs" name="emotionalNeeds" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="emotional-needs" class="label required-field">Emotional Needs/Trauma History (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="intellectual-needs" name="intellectualNeeds" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="intellectual-needs" class="label required-field">Intellectual Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="social-needs" name="socialNeeds" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="social-needs" class="label required-field">Social Needs (Please be as descriptive as possible)</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-14 form-group">
                    <textarea class="input" id="other-recruitment-considerations" name="otherRecruitmentConsiderations" rows="5" data-parsley-error-message="required" required=""></textarea>
                    <label for="other-recruitment-considerations" class="label required-field">Other Recruitment Considerations</label>
                    <label class="list-label">
                        <ul>
                            <li>Please tell us anything else that you think is important for us to know about the type of family that this child or teen should be placed with (qualities of an ideal family for them, geographical considerations, etc.)</li>
                            <li>Does the child or teen have any specific hopes about their future family? For instance, racial/cultural background, interests, pets, etc. </li>
                        </ul>
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-24">
                    <label class="label marg-bottom-xs">Medical or Developmental Needs</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-16">
                {{#each disabilities}}
                    <div class="col-sm-12 form-group">
                        <label class="checkbox-inline"><input type="checkbox" name="disabilities[]" value="{{_id}}">{{disability}}</label>
                    </div>
                {{/each}}
                </div>
            </div>
        </section>

        <section class="recruitment-worker-information-section">
            <div class="form-section-header">Recruitment Worker Information</div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker" name="recruitmentWorker" data-parsley-error-message="required" required="">
                    <label for="recruitment-worker" class="label required-field">Recruitment Worker</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-agency" name="recruitmentWorkerAgency" data-parsley-error-message="required" required="">
                    <label for="recruitment-worker-agency" class="label required-field">Agency</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-phone" name="recruitmentWorkerPhone" data-parsley-required-message="required" required=""
                            data-parsley-pattern="/^\d{3}-\d{3}-\d{4}$/" data-parsley-pattern-message="Please use xxx-xxx-xxxx format">
                    <label for="recruitment-worker-phone" class="label required-field">Phone</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="recruitment-worker-email" name="recruitmentWorkerEmail" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="valid email required" required="">
                    <label for="recruitment-worker-email" class="label required-field">Email</label>
                </div>
            </div>
        </section>

        <section class="adoption-worker-information-section">
            <div class="form-section-header">Adoption Worker Information</div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker" name="adoptionWorker" data-parsley-error-message="required" required="">
                    <label for="adoption-worker" class="label required-field">Adoption Worker</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-agency" name="adoptionWorkerAgency" data-parsley-error-message="required" required="">
                    <label for="adoption-worker-agency" class="label required-field">Agency</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-phone" name="adoptionWorkerPhone" data-parsley-required-message="required" required=""
                            data-parsley-pattern="/^\d{3}-\d{3}-\d{4}$/" data-parsley-pattern-message="Please use xxx-xxx-xxxx format">
                    <label for="adoption-worker-phone" class="label required-field">Phone</label>
                </div>
                <div class="col-sm-12 form-group">
                    <input type="text" class="input" id="adoption-worker-email" name="adoptionWorkerEmail" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="valid email required" required="">
                    <label for="adoption-worker-email" class="label required-field">Email</label>
                </div>
            </div>
        </section>

        <p class="form-group">Please include as much information as possible to allow us to best recruit for a child
        or teen.  We will use discretion in what information is appropriate to be shared with the public.</p>


        <button class="button button--teal register" type="submit">Submit</button>
        <button class="button button--teal" type="button">Save for Later</button>
    </form>
</section>
