<script id="tools-child-matching-template" type="text/x-handlebars-template">		
	
	<h4>\{{ child.displayNameAndRegistration }}</h4>
	
	\{{#unless child}}
		<h4>Loading ... </h4>
	\{{/unless}}
	<form class="matching-form">
		<input type="hidden" name="childId" value="\{{ child._id }}" />
		<div class="row">
			<div class="col-sm-3">
				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Child Status:</h5></div>
					</div>
					<div class="col-lg-6">
						<div class="read-only-value float-left"><h5>\{{ child.status }}</h5></div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Siblings:</h5></div>
					</div>
					<div class="col-lg-6">
						\{{#ifeq child.siblingsToBePlacedWith.length 0}}
						<div class="read-only-value float-left"><h5>none</h5></div>
						\{{else}}
							\{{#each child.siblingsToBePlacedWith as |sibling|}}
							<div class="read-only-value float-left"><h5><a href="/keystone/children/\{{ sibling.id }}">\{{ sibling.registrationNumber }}</a> - \{{ sibling.name }}</h5></div>
							\{{/each}}
						\{{/ifeq}}
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Gender Preference:</h5></div>
					</div>
					<div class="col-lg-6">
						{{#each genders}}
						<div class="form-check  form-check">
							<input id="gender{{ gender }}" class="form-check-input" type="checkbox" name="gender[]" value="{{ id }}" />
							<label class="form-check-label" for="gender{{ gender }}">{{gender }}</label>
						</div>
						{{/each}}
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Race Preference:</h5></div>
					</div>
					<div class="col-lg-6">
						{{#each races}}
						<div class="form-check">
							<input id="race{{ race }}" class="form-check-input" type="checkbox" name="race[]" value="{{ id }}" />
							<label class="form-check-label" for="race{{ race }}">{{ race }}</label>
						</div>
						{{/each}}
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Legal Status Preference:</h5></div>
					</div>
					<div class="col-lg-6">
						{{#each legalStatuses}}
							<div class="form-check">
								<input id="legal{{ legalStatus }}" class="form-check-input" type="checkbox" name="legalStatus[]" value="{{ id }}" />
								<label class="form-check-label" for="legal{{ legalStatus }}">{{ legalStatus }}</label>
							</div>
						{{/each}}
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Location Preferences:</h5></div>
					</div>
					<div class="col-lg-6">
						<div class="form-check">
							<input id="includeOutOfStateFamilies" class="form-check-input" type="checkbox" name="includeOutOfStateFamilies" value="on" />
							<label class="form-check-label" for="includeOutOfStateFamilies">Include out of state families?</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Age Range Preference:</h5>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="agesFrom">From</label>
						<select id="agesFrom" name="agesFrom" class="form-control">
							<option value="">Any</option>
							{{#each ages}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="agesTo">To</label>
						<select id="agesTo" name="agesTo" class="form-control">
							<option value="">Any</option>
							{{#each ages}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Sibling Group Size Preference:</h5>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="siblingGroupSizeFrom">From</label>
						<select id="siblingGroupSizeFrom" name="siblingGroupSizeFrom" class="form-control">
							{{#each siblingGroupSizes}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="siblingGroupSizeTo">To</label>
						<select id="siblingGroupSizeTo" name="siblingGroupSizeTo" class="form-control">
							<option value="">Any</option>
							{{#each siblingGroupSizes}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Physical Needs Preference:</h5>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="physicalNeedsFrom">From</label>
						<select id="physicalNeedsFrom" name="physicalNeedsFrom" class="form-control">
							<option value="">Any</option>
							{{#each physicalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="physicalNeedsTo">To</label>
						<select id="physicalNeedsTo" name="physicalNeedsTo" class="form-control">
							<option value="">Any</option>
							{{#each physicalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Intellectual Needs Preference:</h5>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="intellectualNeedsFrom">From</label>
						<select id="intellectualNeedsFrom" name="intellectualNeedsFrom" class="form-control">
							<option value="">Any</option>
							{{#each intellectualNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="intellectualNeedsTo">To</label>
						<select id="intellectualNeedsTo" name="intellectualNeedsTo" class="form-control">
							<option value="">Any</option>
							{{#each intellectualNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Emotional Needs Preference:</h5>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="emotionalNeedsFrom">From</label>
						<select id="emotionalNeedsFrom" name="emotionalNeedsFrom" class="form-control">
							<option value="">Any</option>
							{{#each emotionalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="emotionalNeedsTo">To</label>
						<select id="emotionalNeedsTo" name="emotionalNeedsTo" class="form-control">
							<option value="">Any</option>
							{{#each emotionalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right" >
						<label for="socialWorkers" class="bold">Social Workers:</label>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="socialWorkers" name="socialWorkers[]" class="form-control social-worker-select" multiple>
							\{{#each socialWorkers}}
								<option value="\{{ id }}" selected>\{{ name.full }}</option>
							\{{/each}}
						</select>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right" >
						<label for="socialWorkersAgency" class="bold">Social Worker's Agency:</label>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="socialWorkersAgency" name="socialWorkersAgency[]" class="form-control agency-select" multiple>
							\{{#each socialWorkersAgencies}}
								<option value="\{{ id }}" selected>\{{ text }}</option>
							\{{/each}}
						</select>
					</div>
				</div>

                <div class="row form-group">
					<div class="col-sm-12 col-md-4 group-label text-sm-right">
						<div class="group-label float-left float-sm-right"><h5>Family Constellation Exclusions:</h5></div>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="familyConstellationExclusions" name="familyConstellationExclusions[]" class="form-control family-constellation-exclusions-select" multiple>
							\{{#each familyConstellationExclusions}}
								<option value="\{{ id }}" \{{#if selected}}selected\{{/if}}>\{{ name }}</option>
							\{{/each}}
						</select>
					</div>
				</div>

                <div class="row form-group">
					<div class="col-sm-12 col-md-4 group-label text-sm-right">
						<div class="group-label float-left float-sm-right"><h5>Other Exclusions:</h5></div>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="otherExclusions" name="otherExclusions[]" class="form-control other-exclusions-select" multiple>
							\{{#each otherExclusions}}
								<option value="\{{ id }}" \{{#if selected}}selected\{{/if}}>\{{ name }}</option>
							\{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right" >
						<label for="otherConsiderations" class="bold">Other Considerations:</label>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="otherConsiderations" name="otherConsiderations[]" class="form-control other-considerations-select" multiple>
							\{{#each otherConsiderations}}
								<option value="\{{ id }}" \{{#if selected}}selected\{{/if}}>\{{ name }}</option>
							\{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right" >
						<label for="disabilities" class="bold">Disabilities:</label>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="disabilities" name="disabilities[]" class="form-control disabilities-select" multiple>
							\{{#each disabilities}}
								<option value="\{{ id }}" \{{#if selected}}selected\{{/if}}>\{{ name }}</option>
							\{{/each}}
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<button type="button" class="btn btn-primary families-search-button">Search</button>
	<button type="button" class="btn btn-default families-search-reset-button">Reset</button>

	\{{#if waitingForResults }}
		<br /><br />
		Loading the data ...
	\{{/if}}
	
	\{{#if noResultsFound }}
		<br /><br />
		No results found
	\{{/if}}
	
	\{{#if results}}
		<h3>Results: </h3>
		<input type="button" class="button button--teal export-pdf-button" value="PDF Export" />
		<input type="button" class="button button--teal export-xlsx-button" value="XLSX Export" />
		
		\{{#unless isAnonymous}}
			<input type="button" class="button button--teal save-family-entries-button" value="Save entries to the child" />
		\{{/unless}}

		<table width="100%" class="matching-results-table">
			<tr>
				<th></th>
				<th class="column--numerical">Reg. Num</th>
				<th>Contact 1</th>
				<th>Race</th>
				<th>Contact 2</th>
				<th>Race</th>
				<th class="column--numerical">Current # of Children</th>
				<th class="column--numerical">Preferred # of Children</th>
				<th class="column--numerical">Preferred Age Range</th>
				<th>City / State</th>
			</tr>
			\{{#each results}}
				<tr data-id="\{{ id }}">
					<td width="20">
						<input type="checkbox" class="entry-selection" value="\{{ id }}" />
					</td>
					<td class="column--numerical"><a href="/keystone/families/\{{ id }}">\{{ registrationNumber }}</a></td>
					<td>\{{ contact1name }}</td>
					<td>\{{ contact1race }}</td>
					<td>\{{ contact2name }}</td>
					<td>\{{ contact2race }}</td>
					<td class="column--numerical">\{{ currentNumberOfChildren }}</td>
					<td class="column--numerical">\{{ minNumberOfChildren }} - \{{ maxNumberOfChildren }}</td>
					<td class="column--numerical">\{{ minPreferredAge }} - \{{ maxPreferredAge }}</td>
					<td>\{{ city }}, \{{ state }}</td>
				</tr>
			\{{else}}
				<tr>
					<td colspan="10">No results found</td>
				</tr>
			\{{/each}}
		</table>
		
		<!-- Results prepared to export in XLSX format: -->
		<table width="100%" class="results-table hidden" data-filename="MatchingFamiliesExport.xlsx">
			<tr>
				<th>Reg. Num</th>
				<th>Contact 1</th>
				<th>Race</th>
				<th>Contact 2</th>
				<th>Race</th>
				<th>Current # of Children</th>
				<th>Preferred # of Children</th>
				<th>Preferred Age Range</th>
				<th>City / State</th>
				<th>Social Worker</th>
				<th>Social Worker Email</th>
				<th>Social Worker Agency</th>
			</tr>
			\{{#each results}}
				<tr data-id="\{{ id }}">
					<td><a href="/keystone/families/\{{ id }}">\{{ registrationNumber }}</a></td>
					<td>\{{ contact1name }}</td>
					<td>\{{ contact1race }}</td>
					<td>\{{ contact2name }}</td>
					<td>\{{ contact2race }}</td>
					<td>\{{ currentNumberOfChildren }}</td>
					<td>\{{ minNumberOfChildren }} - \{{ maxNumberOfChildren }}</td>
					<td>\{{ minPreferredAge }} - \{{ maxPreferredAge }}</td>
					<td>\{{ city }}, \{{ state }}</td>
					<td>\{{ socialWorkerName }}</td>
					<td>\{{ socialWorkerEmail }}</td>
					<td>\{{ socialWorkerAgency }}</td>
				</tr>
			\{{else}}
				<tr>
					<td>No results found</td>
				</tr>
			\{{/each}}
		</table>
	\{{/if}}
</script>
