<script id="tools-placement-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Placement Report</h2>

    <div class="placement-report">

        <form class="matching-form">

            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.month.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.month.toDate }}" />

            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Placement Date Range:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="date-range-picker" name="placement-date-range" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container placement-fiscal-year-buttons">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary" 
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="placementType" class="bold">Type:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="placementType" name="placementType[]" class="form-control placementType-select" multiple>
                                {{#each placementTypes as |type|}}
                                    <option value="{{ type }}">{{ type }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="source" class="bold">Source:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="source" name="source[]" class="form-control source-select" multiple>
                                \{{#each sources as |source|}}
                                    <option value="\{{ source.id }}" selected>\{{ source.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="additionalSource" class="bold">Additional Source:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="additionalSource" name="additionalSource[]" class="form-control additionalSource-select" multiple>
                                \{{#each additionalSources as |source|}}
                                    <option value="\{{ source.id }}" selected>\{{ source.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
        </form>

        <button class="btn btn-primary placement-search-button">Search</button>
	    <button class="btn btn-default placement-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal placement-export-pdf-button">PDF Export</button>
                <button class="button button--teal placement-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Placements:</div>
                    \{{ results.length }}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="placement-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="PlacementReportExport.xlsx">
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Notes</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Reg #</th>
                    <th>Siblings</th>
                    <th>Contact 1</th>
                    <th>Contact 2</th>
                    <th>Reg #</th>
                    <th>Source</th>
                    <th>Additional Sources</th>
                    <th>Race</th>
                    <th>Gender</th>
                    <th>Identifies as LGBTQ+?</th>
                    <th>Status</th>
                    <th>Legal Status</th>
                    <th>Child SW</th>
                    <th>Child SW Agency</th>
                    <th>Child SW Region</th>
                    <th>Reg Date</th>
                    <th>Days Before Placement</th>
                    <th>Age At Placement</th>
                    <th>Physical Needs</th>
                    <th>Emotional Needs</th>
                    <th>Intellectual Needs</th>
                    <th>Social Needs</th>
                    <th>Current Residence</th>
                    <th>Family Reg #</th>
                    <th>Family SW Agency</th>
                    <th>Family Region</th>
                    <th>Family State</th>
                    <th>Family Constellation</th>
                    <th>Contact 1 Race</th>
                    <th>Contact 2 Race</th>
                    <th>Registered With MARE</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.placementType }}</td>
                        <td>\{{ result.placementDate }}</td>
                        <td>\{{ result.notes }}</td>
                        <td>\{{ result.childNameFirst }}</td>
                        <td>\{{ result.childNameLast }}</td>
                        <td>\{{ result.childRegistrationNumber }}</td>
                        <td>
                            \{{#each result.siblings as |sibling|}}
                                \{{#ifeq @index 0}}
                                    \{{ sibling }}
                                \{{else}}
                                    <br>\{{ sibling }}
                                \{{/ifeq}}
                            \{{/each}}
                        </td>
                        <td>\{{ result.familyContact1 }}</td>
                        <td>\{{ result.familyContact2 }}</td>
                        <td>\{{ result.familyRegistrationNumber }}</td>
                        <td>\{{ result.source }}</td>
                        <td>\{{ result.additionalSources }}</td>
                        <td>\{{ result.childRace }}</td>
                        <td>\{{ result.childGender }}</td>
                        <td>\{{ result.childLGBTQIdentity }}</td>
                        <td>\{{ result.childStatus }}</td>
                        <td>\{{ result.childLegalStatus }}</td>
                        <td>\{{ result.childSW }}</td>
                        <td>\{{ result.childSWAgency }}</td>
                        <td>\{{ result.childSWAgencyRegion }}</td>
                        <td>\{{ result.childRegistrationDate }}</td>
                        <td>\{{ result.daysBeforePlacement }}</td>
                        <td>\{{ result.ageAtPlacement }}</td>
                        <td>\{{ result.childPhysicalNeeds }}</td>
                        <td>\{{ result.childEmotionalNeeds }}</td>
                        <td>\{{ result.childIntellectualNeeds }}</td>
                        <td>\{{ result.childSocialNeeds }}</td>
                        <td>\{{ result.childCurrentResidence }}</td>
                        <td>\{{ result.familyRegistrationNumber }}</td>
                        <td>\{{ result.familySWAgency }}</td>
                        <td>\{{ result.familyRegion }}</td>
                        <td>\{{ result.familyState }}</td>
                        <td>\{{ result.familyConstellation }}</td>
                        <td>\{{ result.familyContact1Race }}</td>
                        <td>\{{ result.familyContact2Race }}</td>
                        <td>\{{ result.familyRegisteredWithMARE }}</td>
                    </tr>
                \{{/each}}
            </table>            
        \{{/if}}
    </div>

</script>