<script id="tools-family-stages-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Family Stages Report</h2>

     <div class="family-stages-report">

        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.year.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.year.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold" for="hasActiveAccount">Search Type</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="text-sm-right text-md-left">   
                                <input type="radio" id="searchTypeMatchAll" name="searchType" value="all" checked>
                                <label for="searchTypeMatchAll">Match All Criteria</label>
                            </div>
                            <div class="text-sm-right text-md-left">
                                <input type="radio" id="searchTypeMatchAny" name="searchType" value="any">
                                <label for="searchTypeMatchAny">Match Any Criteria</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Homestudy Verified (Can See All Children)</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="homestudyVerifiedDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Initial Contact</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="initialContactDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Info Packet Sent</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="infoPacketSentDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Gathering Information</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="gatheringInformationDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Looking for Agency</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="lookingForAgencyDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Working with Agency</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="workingWithAgencyDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">MAPP Training Completed</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="mappTrainingCompletedDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Homestudy Completed</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="homestudyCompletedDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Online Matching</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="onlineMatchingDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Registered with MARE</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="registeredWithMAREDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-region" class="bold">Family Status</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-status" name="family-status[]" class="form-control family-status-select" multiple>
                                {{#each familyStatuses as |status|}}
                                    <option value="{{ status.id }}">{{ status.familyStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Family Profile Created</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="familyProfileCreatedDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Closed</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="closedDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-region" class="bold">Region</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-region" name="family-region[]" class="form-control family-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-state" class="bold">State</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-state" name="family-state[]" class="form-control family-state-select" multiple>
                                {{#each states as |state|}}
                                    <option value="{{ state.id }}">{{ state.state }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-primary family-stages-search-button">Search</button>
	    <button class="btn btn-default family-stages-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal family-stages-export-pdf-button">PDF Export</button>
                <button class="button button--teal family-stages-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Families:</div>
                    \{{ results.length }}
                    \{{#if limitReached}}
                    <div class="recoord-count__limit">*Your search returned the maximum allowed number of results, some results could not be displayed.</div>
                    \{{/if}}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="family-stages-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="FamilyStagesReportExport.xlsx">
                <tr>
                    <th>Reg #</th>
                    <th>Email</th>
                    <th>Contact 1 First Name</th>
                    <th>Contact 1 Last Name</th>
                    <th>Contact 2 First Name</th>
                    <th>Contact 2 Last Name</th>
                    <th>Most Recent Stage</th>
                    <th>Region</th>
                    <th>State</th>
                    <th>Family Constellation</th>
                    <th>Contact 1 Gender</th>
                    <th>Contact 2 Gender</th>
                    <th>Contact 1 Race(s)</th>
                    <th>Contact 2 Race(s)</th>
                    <th>Contact 1 Email Address</th>
                    <th>Contact 2 Email Address</th>
                    <th>Social Worker</th>
                    <th>Social Worker Agency</th>
                    <th>Social Worker Region</th>
                    <th>Language</th>
                    <th>Other Language(s)</th>
                    <th>Num Children in Family</th>
                    <th>Num Adults in Home</th>
                    <th>Heard About MARE From</th>
                    <th>Family Services</th>
                    <th>Homestudy Verified</th>
                    <th>Active DB Account</th>
                    <th>Initial Contact Date</th>
                    <th>Homestudy Verified Date</th>
                    <th>Info Packet Sent Date</th>
                    <th>Gathering Information Date</th>
                    <th>Looking For Agency Date</th>
                    <th>Working With Agency Date</th>
                    <th>MAPP Training Completed Date</th>
                    <th>Homestudy Completed Date</th>
                    <th>Online Matching Date</th>
                    <th>Registered With MARE Date</th>
                    <th>Family Profile Created Date</th>
                    <th>Closed Date</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.registrationNumber }}</td>
                        <td>\{{ result.email }}</td>
                        <td>\{{ result.contact1.firstName }}</td>
                        <td>\{{ result.contact1.lastName }}</td>
                        <td>\{{ result.contact2.firstName }}</td>
                        <td>\{{ result.contact2.lastName }}</td>
                        <td>\{{ result.currentStage.websiteDisplay }}</td>
                        <td>\{{ result.region }}</td>
                        <td>\{{ result.state }}</td>
                        <td>\{{ result.constellation }}</td>
                        <td>\{{ result.contact1.gender }}</td>
                        <td>\{{ result.contact2.gender }}</td>
                        <td>\{{ result.contact1.race }}</td>
                        <td>\{{ result.contact2.race }}</td>
                        <td>\{{ result.contact1.email }}</td>
                        <td>\{{ result.contact2.email }}</td>
                        <td>\{{ result.socialWorker }}</td>
                        <td>\{{ result.socialWorkerAgency }}</td>
                        <td>\{{ result.socialWorkerAgencyRegion }}</td>
                        <td>\{{ result.language }}</td>
                        <td>\{{ result.otherLanguages }}</td>
                        <td>\{{ result.numberOfChildren }}</td>
                        <td>\{{ result.numberOfAdults }}</td>
                        <td>\{{ result.heardAboutMAREFrom }}</td>
                        <td>\{{ result.services }}</td>
                        <td>\{{ result.isHomestudyVerified }}</td>
                        <td>\{{ result.isActive }}</td>
                        <td>\{{ result.initialContactDate }}</td>
                        <td>\{{ result.homestudyVerifiedDate }}</td>
                        <td>\{{ result.infoPacketSentDate }}</td>
                        <td>\{{ result.gatheringInformationDate }}</td>
                        <td>\{{ result.lookingForAgencyDate }}</td>
                        <td>\{{ result.workingWithAgencyDate }}</td>
                        <td>\{{ result.mappTrainingCompletedDate }}</td>
                        <td>\{{ result.homestudyCompletedDate }}</td>
                        <td>\{{ result.onlineMatchingDate }}</td>
                        <td>\{{ result.registeredWithMAREDate }}</td>
                        <td>\{{ result.familyProfileCreatedDate }}</td>
                        <td>\{{ result.closedDate }}</td>
                    </tr>
                \{{/each}}
            </table>
        \{{/if}}
    </div>

</script>