<script id="tools-child-listing-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2 mb-2">Child Listing Report</h2>

    <div class="child-listing-report">

        <div class="filter-form mb-1">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                        <p>Registration Date</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="registrationDateFrom"><span class="sr-only">Registration Date - From</span>
                                <input  class="form-control" type="date" name="registrationDateFrom" id="registrationDateFrom" value="{{ registrationDateFrom }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="registrationDateTo"><span class="sr-only">Registration Date - To</span>
                                <input class="form-control" type="date" name="registrationDateTo" id="registrationDateTo" value="{{ registrationDateTo }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-form mb-2">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                        <p>Date Added to Web</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="webAddedDateFrom"><span class="sr-only">Added to Web Date - From</span>
                                <input  class="form-control" type="date" name="webAddedDateFrom" id="webAddedDateFrom" value="{{ addedToWebDateFrom }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="webAddedDateTo"><span class="sr-only">Added to Web Date - To</span>
                                <input class="form-control" type="date" name="webAddedDateTo" id="webAddedDateTo" value="{{ addedToWebDateTo }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRange.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRange.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="race" class="bold">Race:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="race" name="race[]" class="form-control race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="gender" class="bold">Gender:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="gender" name="gender[]" class="form-control gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="legal-status" class="bold">Legal Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="legal-status" name="legal-status[]" class="form-control legal-status-select" multiple>
                                {{#each legalStatuses as |legalStatus|}}
                                    <option value="{{ legalStatus.id }}">{{ legalStatus.legalStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="placement-status" class="bold">Placement Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="placement-status" name="placement-status[]" class="form-control placement-status-select" multiple>
                                {{#each legalStatuses as |legalStatus|}}
                                    <option value="{{ legalStatus.id }}">{{ legalStatus.legalStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker" class="bold">Adopt. Worker:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker" name="adoption-worker[]" class="form-control adoption-worker-select" multiple>
                                \{{#each adoptionWorkers as |worker|}}
                                    <option value="\{{ worker.id }}" selected>\{{ worker.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="recruitment-worker" class="bold">Recruit. Worker:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="recruitment-worker" name="recruitment-worker[]" class="form-control recruitment-worker-select" multiple>
                                \{{#each recruitmentWorkers as |worker|}}
                                    <option value="\{{ worker.id }}" selected>\{{ worker.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker-agency" class="bold">Adopt. Worker's Agency:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker-agency" name="adoption-worker-agency[]" class="form-control adoption-worker-agency-select" multiple>
                                \{{#each adoptionWorkerAgencies as |agency|}}
                                    <option value="\{{ agency.id }}" selected>\{{ agency.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker-region" class="bold">Adopt. Worker's Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker-region" name="adoption-worker-region[]" class="form-control adoption-worker-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-12 group-label text-sm-right">
                            <h5>Age at Registration:</h5>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="registrationAgeFrom">From</label>
                            <select id="registrationAgeFrom" name="registrationAgeFrom" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="registrationAgeTo">To</label>
                            <select id="registrationAgeTo" name="registrationAgeTo" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-12 group-label text-sm-right">
                            <h5>Current Age:</h5>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="currentAgeFrom">From</label>
                            <select id="currentAgeFrom" name="currentAgeFrom" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="currentAgeTo">To</label>
                            <select id="currentAgeTo" name="currentAgeTo" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-12 group-label text-sm-right">
                            <h5>Addt'l Options:</h5>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-check text-right">
                                <input id="placedWithSiblings" class="form-check-input" type="checkbox" name="placedWithSiblings">
                                <label class="form-check-label" for="placedWithSiblings">To be placed with siblings </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-primary child-listing-search-button">Search</button>
	    <button class="btn btn-default child-listing-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}
    </div>

</script>