<script id="tools-caseload-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Child Caseload Report</h2>
    <div class="caseload-report">
        
        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.month.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.month.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Caseload Date Range:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="date-range-picker" name="caseload-date-range" />
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
        </form>

        <button class="btn btn-primary caseload-search-button">Search</button>
	    <button class="btn btn-default caseload-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__caseload-averages">
                <div>
                    <h4>Average Active Caseload</h4>
                    <div class="text-center">\{{averages.activeCaseload}}</div>
                </div>
                <div>
                    <h4>Average Profiles on Web</h4>
                    <div class="text-center">\{{averages.activeProfiles}}</div>
                </div>
            </div>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal caseload-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Daily Reports:</div>
                    \{{ results.length }}
                    \{{#if limitReached}}
                    <div class="recoord-count__limit">*Your search returned the maximum allowed number of results, some results could not be displayed.</div>
                    \{{/if}}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="caseload-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="\{{metadata.excelExportFilename}}">
                <tr>
                    <td>Average Active Caseload:</td>
                    <td>\{{averages.activeCaseload}}</td>
                    <td></td>
                    <td>Average Profiles on Web:</td>
                    <td>\{{averages.activeProfiles}}</td>
                </tr>
                <tr></tr>
                <tr>
                    <th>Date</th>
                    <th>Active Caseload</th>
                    <th>Active Caseload - Boston</th>
                    <th>Active Caseload - Northern</th>
                    <th>Active Caseload - Southern</th>
                    <th>Active Caseload - Western</th>
                    <th>Active Caseload - Central</th>
                    <th>Active Caseload - Out of State</th>
                    <th>Active Caseload - Specialized</th>
                    <th>Total Profiles on Web</th>
                    <th>Total Profiles Visible to All</th>
                    <th>% Active Cases w/ Inactive Profile</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.date }}</td>
                        <td>\{{ result.totalCases }}</td>
                        <td>\{{ result.regionalCounts.boston.childCounts.active }}</td>
                        <td>\{{ result.regionalCounts.northern.childCounts.active }}</td>
                        <td>\{{ result.regionalCounts.southern.childCounts.active }}</td>
                        <td>\{{ result.regionalCounts.western.childCounts.active }}</td>
                        <td>\{{ result.regionalCounts.central.childCounts.active }}</td>
                        <td>\{{ result.regionalCounts.outOfState.childCounts.active }}</td>
                        <td>\{{ result.regionalCounts.specialized.childCounts.active }}</td>
                        <td>\{{ result.totalActiveProfiles }}</td>
                        <td>\{{ result.totalProfilesVisibleToAll }}</td>
                        <td>\{{ result.inactiveProfilePercentage }}</td>
                    </tr>
                \{{/each}}
            </table>
        \{{/if}}
    </div>
</script>