<script id="tools-dashboard-template" type="text/x-handlebars-template">

	<div class="panel">
		<h2 class="panel__h2 mb-2">Activity</h2>
		<div class="filter-form mb-2">
			<div class="row">
				<div class="col-xs-12 col-lg-2 align-middle">
					<div class="filter-form__label mh-100">
					<p>Date range:</p>
					</div>
				</div>
				<div class="col-xs-10 col-lg-8 d-flex align-items-center pl-lg-2 pr-lg-2">
					<input type="text" class="date-range-picker" name="dashboard-date-range" />
				</div>
				<div class="col-xs-12 col-lg-2">
					<input type="button" value="Submit" class="btn btn-primary btn-block btn-dashboard" />
				</div>
			</div>
		</div>
		<div class="filter-results">
			<div class="table-responsive">
				<table class="table activity-table">
					<tbody>
						<tr>
							<th scope="row">
								<span class="row-icon"><img src="/dist/img/icon-new-families-registered.png" alt="New Family Accounts Created"></span>
								New Family Accounts Created</th>
							<td>\{{ numberOfFamilies }}</td>
						</tr>
						<tr>
							<th scope="row">
								<span class="row-icon"><img src="/dist/img/icon-added-children.png" alt="New Child Records"></span>
								New Child Records</th>
							<td>\{{ numberOfChildren }}</td>
						</tr>
						<tr>
							<th scope="row">
								<span class="row-icon"><img src="/dist/img/icon-new-inquiries.png" alt="New Inquiries"></span>
								New Inquiries</th>
							<td>\{{ numberOfInquiries }}</td>
						</tr>
						<tr>
							<th scope="row">
								<span class="row-icon"><img src="/dist/img/icon-placements.png" alt="Placements in Fiscal YTD"></span>
								Placements in Fiscal YTD</th>
							<td>\{{ numberOfPlacements }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel">
		<h2 class="panel__h2">Regional Counts</h2>
		<div class="table-responsive">
			<table class="table table-striped regional-counts-table">
				<thead class="thead-dark">
					<tr>
						<th class="clear"><span class="sr-only">Region</span></th>
						<th>Active</th>
						<th>On Hold</th>
						<th>Region Total</th>
					</tr>
				</thead>
				<tbody>
					\{{#each childrenNumbersGroupedByRegions}}
						<tr>
							<td>\{{ region }}</td>
							<td>\{{ active }}</td>
							<td>\{{ onHold }}</td>
							<td>\{{ activeAndOnHold }}</td>
						</tr>
					\{{/each}}
				</tbody>
				<tfoot>
					<tr>
						<td>Total:</td>
						<td>\{{ numberOfActiveChildren }}</td>
						<td>\{{ numberOfOnHoldChildren }}</td>
						<td>\{{ numberOfActiveAndOnHoldChildren }}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<div class="panel" style="max-height: 500px; overflow: scroll;">
		<div>
			<h2 class="panel__h2">Family Data</h2>
			<button class="button button--teal family-export-xlsx-button">XLSX Export</button>
		</div>
		{{!-- Results table for Excel export (hidden) --}}
		<table width="100%" class="results-table" data-filename="FamilyExport.xlsx">
			<tr>
				<th>reg. number</th>
				<th>email</th>
				<th>first name</th>
				<th>last name</th>
				<th>phone</th>
				<th>date of birth</th>
				<th>street address</th>
				<th>city</th>
				<th>state</th>
				<th>zip code</th>
				<th>region</th>
				<th>keystone URL</th>
			</tr>
			{{#each families as |result|}}
				<tr>
					<td>{{ result.registrationNumber }}</td>
					<td>{{ result.contact.email }}</td>
					<td>{{ result.contact.firstName }}</td>
					<td>{{ result.contact.lastName }}</td>
					<td>{{ result.contact.phone }}</td>
					<td>{{ result.contact.birthDate }}</td>
					<td>{{ result.address.street }}</td>
					<td>{{ result.address.city }}</td>
					<td>{{ result.address.state }}</td>
					<td>{{ result.address.zip }}</td>
					<td>{{ result.address.region }}</td>
					<td>{{ result.recordURL }}</td>
				</tr>
			{{/each}}
		</table>
	</div>
</script>
