<script id="tools-child-listing-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Child Listing Report</h2>

    <div class="child-listing-report">

        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.year.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.year.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Registration Date Range:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="date-range-picker" name="registration-date-range" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Registration Date Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary child-listing-fiscal-year-button"
                                    data-target="registration"
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="race" class="bold">Race:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="race" name="race[]" class="form-control race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="gender" class="bold">Gender:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="gender" name="gender[]" class="form-control gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="legal-status" class="bold">Legal Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="legal-status" name="legal-status[]" class="form-control legal-status-select" multiple>
                                {{#each legalStatuses as |legalStatus|}}
                                    <option value="{{ legalStatus.id }}">{{ legalStatus.legalStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="placement-status" class="bold">Placement Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="placement-status" name="placement-status[]" class="form-control placement-status-select" multiple>
                                {{#each childStatuses as |childStatus|}}
                                    <option value="{{ childStatus.id }}">{{ childStatus.childStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="residence" class="bold">Residence:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="residence" name="residence[]" class="form-control residence-select" multiple>
                                {{#each residences as |residence|}}
                                    <option value="{{ residence.id }}">{{ residence.residence }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="physical-needs" class="bold">Physical Needs:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="physical-needs" name="physical-needs[]" class="form-control physical-needs-select" multiple>
                                {{#each physicalNeeds as |need|}}
                                    <option value="{{ need }}">{{ need }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="emotional-needs" class="bold">Emotional Needs:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="emotional-needs" name="emotional-needs[]" class="form-control emotional-needs-select" multiple>
                                {{#each emotionalNeeds as |need|}}
                                    <option value="{{ need }}">{{ need }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="intellectual-needs" class="bold">Intellectual Needs:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="intellectual-needs" name="intellectual-needs[]" class="form-control intellectual-needs-select" multiple>
                                {{#each intellectualNeeds as |need|}}
                                    <option value="{{ need }}">{{ need }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker" class="bold">Adopt. Worker:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker" name="adoption-worker[]" class="form-control adoption-worker-select" multiple>
                                \{{#each adoptionWorkers as |worker|}}
                                    <option value="\{{ worker.id }}" selected>\{{ worker.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="recruitment-worker" class="bold">Recruit. Worker:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="recruitment-worker" name="recruitment-worker[]" class="form-control recruitment-worker-select" multiple>
                                \{{#each recruitmentWorkers as |worker|}}
                                    <option value="\{{ worker.id }}" selected>\{{ worker.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker-agency" class="bold">Adopt. Worker's Agency:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker-agency" name="adoption-worker-agency[]" class="form-control adoption-worker-agency-select" multiple>
                                \{{#each adoptionWorkerAgencies as |agency|}}
                                    <option value="\{{ agency.id }}" selected>\{{ agency.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="recruitment-worker-agency" class="bold">Recruit. Worker's Agency:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="recruitment-worker-agency" name="recruitment-worker-agency[]" class="form-control recruitment-worker-agency-select" multiple>
                                \{{#each recruitmentWorkerAgencies as |agency|}}
                                    <option value="\{{ agency.id }}" selected>\{{ agency.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker-region" class="bold">Adopt. Worker's Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker-region" name="adoption-worker-region[]" class="form-control adoption-worker-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="recruitment-worker-region" class="bold">Recruit. Worker's Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="recruitment-worker-region" name="recruitment-worker-region[]" class="form-control recruitment-worker-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-12 group-label text-sm-right">
                            <h5>Current Age:</h5>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="currentAgeFrom">From</label>
                            <select id="currentAgeFrom" name="currentAgeFrom" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="currentAgeTo">To</label>
                            <select id="currentAgeTo" name="currentAgeTo" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
                <div class="col-12">
                    <div class="row form-group">
                        <div class="col-2 group-label text-right">
                            <h5>Addt'l Options:</h5>
                        </div>
                        <div class="col-10 d-flex flex-row flex-wrap justify-content-start">
                            <div class="form-check mr-3">
                                <input id="placedWithSiblings" class="form-check-input" type="checkbox" name="placedWithSiblings">
                                <label class="form-check-label" for="placedWithSiblings">To be placed with siblings </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="professionalPhoto" class="form-check-input" type="checkbox" name="professionalPhoto">
                                <label class="form-check-label" for="professionalPhoto">Professional photo </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="displayImage" class="form-check-input" type="checkbox" name="displayImage">
                                <label class="form-check-label" for="displayImage">Display image </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="videoSnapshot" class="form-check-input" type="checkbox" name="videoSnapshot">
                                <label class="form-check-label" for="videoSnapshot">Video snapshot </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="adoptUsKids" class="form-check-input" type="checkbox" name="adoptUsKids">
                                <label class="form-check-label" for="adoptUsKids">Adoptuskids website </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="wednesdaysChild" class="form-check-input" type="checkbox" name="wednesdaysChild">
                                <label class="form-check-label" for="wednesdaysChild">Wednesday's Child </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="wendysKidsEast" class="form-check-input" type="checkbox" name="wendysKidsEast">
                                <label class="form-check-label" for="wendysKidsEast">Wendy's Wonderful Kids caseload east </label>
                            </div>
                             <div class="form-check mr-3">
                                <input id="wendysKidsWest" class="form-check-input" type="checkbox" name="wendysKidsWest">
                                <label class="form-check-label" for="wendysKidsWest">Wendy's Wonderful Kids caseload west </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="coalitionMeeting" class="form-check-input" type="checkbox" name="coalitionMeeting">
                                <label class="form-check-label" for="coalitionMeeting">Coalition meeting </label>
                            </div>
                            <div class="form-check mr-3">
                                <input id="matchingEvent" class="form-check-input" type="checkbox" name="matchingEvent">
                                <label class="form-check-label" for="matchingEvent">Matching event </label>
                            </div>
                            <div class="form-check">
                                <input id="weekendFamilyConnections" class="form-check-input" type="checkbox" name="weekendFamilyConnections">
                                <label class="form-check-label" for="weekendFamilyConnections">Weekend family connections </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-primary child-listing-search-button">Search</button>
	    <button class="btn btn-default child-listing-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal child-listing-export-pdf-button">PDF Export</button>
                <button class="button button--teal child-listing-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Child Listings:</div>
                    \{{ results.length }}
                    \{{#if limitReached}}
                    <div class="recoord-count__limit">*Your search returned the maximum allowed number of results, some results could not be displayed.</div>
                    \{{/if}}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="child-listing-results" class="stripe" width="100%"></table>

             {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="ChildListingReportExport.xlsx">
                <tr>
                    <th>Reg #</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Legal Status</th>
                    <th>Placement Status</th>
                    <th>Current Age</th>
                    <th>Adoption Worker</th>
                    <th>Adoption Worker Region</th>
                    <th>Must be placed with siblings?</th>
                    <th>Siblings to be placed with</th>
                    <th>Residence</th>
                    <th>Physical Needs</th>
                    <th>Emotional Needs</th>
                    <th>Intellectual Needs</th>
                    <th>Age at Registration</th>
                    <th>Registration Date</th>
                    <th>Date Added to Web</th>                    
                    <th>Days Waiting</th>
                    <th>Professional Photo</th>
                    <th>Video Snapshot</th>
                    <th>Adoptuskids website</th>
                    <th>Wednesday's Child</th>
                    <th>Wendy's Kids East</th>
                    <th>Wendy's Kids West</th>
                    <th>Coalition Meeting</th>
                    <th>Matching Event</th>
                    <th>Weekend Family Connections</th>
                    <th>Display Image</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.registrationNumber }}</td>
                        <td>\{{ result.firstName }}</td>
                        <td>\{{ result.lastName }}</td>
                        <td>\{{ result.gender }}</td>
                        <td>\{{ result.race }}</td>
                        <td>\{{ result.legalStatus }}</td>
                        <td>\{{ result.placementStatus }}</td>
                        <td>\{{ result.currentAge }}</td>
                        <td>\{{ result.adoptionWorker }}</td>
                        <td>\{{ result.adoptionWorkerRegion }}</td>
                        <td>\{{ result.mustBePlacedWithSiblings }}</td>
                        <td>\{{ result.siblingsToBePlacedWith }}</td>
                        <td>\{{ result.residence }}</td>
                        <td>\{{ result.physicalNeeds }}</td>
                        <td>\{{ result.emotionalNeeds }}</td>
                        <td>\{{ result.intellectualNeeds }}</td>
                        <td>\{{ result.ageAtRegistration }}</td>
                        <td>\{{ result.registrationDate }}</td>
                        <td>\{{ result.addedToWebDate }}</td>
                        <td>\{{ result.daysSinceRegistration }}</td>
                        <td>\{{ result.hasPhotolistingPhoto }}</td>
                        <td>\{{ result.hasVideoSnapshot }}</td>
                        <td>\{{ result.onAdoptuskids }}</td>
                        <td>\{{ result.wednesdaysChild }}</td>
                        <td>\{{ result.wendysWonderfulKidsCaseloadEast }}</td>
                        <td>\{{ result.wendysWonderfulKidsCaseloadWest }}</td>
                        <td>\{{ result.coalitionMeeting }}</td>
                        <td>\{{ result.matchingEvent }}</td>
                        <td>\{{ result.weekendFamilyConnections }}</td>
                        <td>\{{ result.displayImage }}</td>
                    </tr>
                \{{/each}}
            </table>
        \{{/if}}
    </div>

</script>