<script id="tools-family-matching-template" type="text/x-handlebars-template">
	
	<form class="matching-form">
		<input type="hidden" name="familyId" value="\{{ family._id }}" />
		
		<h4>\{{ family.displayName }} \{{#unless isAnonymous}}- \{{ family.registrationNumber }}\{{/unless}}</h4>
		
		\{{#unless family }}
			<h4>Loading ... </h4>
		\{{/unless}}
		
		<div class="row">
			<div class="col-sm-3">
				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Family Status:</h5></div>
					</div>
					<div class="col-lg-6">
						<div class="read-only-value float-left"><h5>\{{ family.status }}</h5></div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Child Status:</h5></div>
						<div class="form-check text-sm-right float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="displayChildStatus" class="form-check-input" type="checkbox" name="fields[]" value="status" />
							<label class="sr-only" for="displayChildStatus">Display</label>
						</div>
					</div>
					<div class="col-lg-6">
						{{#each childStatuses}}
						<div class="form-check">
							<input id="status{{ childStatus }}" class="form-check-input" type="checkbox" name="status[]" value="{{ id }}" {{#ifeq childStatus "active"}}checked{{else}}{{/ifeq}} />
							<label class="form-check-label" for="status{{ childStatus }}">{{ childStatus }} </label>
						</div>
						{{/each}}
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Child Gender:</h5></div>
						<div class="form-check text-sm-right float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="childGenderDisplaytype" type="checkbox" name="fields[]" value="gender" />
							<label class="sr-only" for="childGenderDisplaytype">Display</label>
						</div>
					</div>
					<div class="col-lg-6">
						{{#each genders}}
						<div class="form-check  form-check">
							<input id="gender{{ gender }}" class="form-check-input" type="checkbox" name="gender[]" value="{{ id }}" />
							<label  class="form-check-label" for="gender{{ gender }}">{{ gender }} </label>
						</div>
						{{/each}}
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Child Race:</h5></div>
						<div class="form-check text-sm-right float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="childRaceDisplay" type="checkbox" name="fields[]" value="race" />
							<label class="sr-only" for="childRaceDisplay">Display</label>
						</div>
					</div>
					<div class="col-lg-6">
						{{#each races}}
						<div class="form-check">
							<input id="race{{ race }}" class="form-check-input" type="checkbox" name="race[]" value="{{ id }}" />
							<label class="form-check-label" for="race{{ race }}">{{ race }} </label>
						</div>
						{{/each}}
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-6">
						<div class="group-label float-left float-sm-right"><h5>Legal Status:</h5></div>
						<div class="form-check text-sm-right float-right matching-form__toggle-button">
							<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="legalStatusDisplay" type="checkbox" name="fields[]" value="legalStatus" />
							<label class="sr-only" for="legalStatusDisplay">Display</label>
						</div>
					</div>
					<div class="col-lg-6">
						{{#each legalStatuses}}
							<div class="form-check">
								<input id="legal{{ legalStatus }}" class="form-check-input" type="checkbox" name="legalStatus[]" value="{{ id }}" />
								<label class="form-check-label" for="legal{{ legalStatus }}">{{ legalStatus }} </label>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row form-group">
					<div class="col-sm-12 col-md-4 group-label text-sm-right">
						<div class="group-label float-left float-sm-right"><h5>Family Constellation:</h5></div>
						<div class="form-check text-sm-right float-right matching-form__toggle-button">
							<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="familyConstellationDisplay" type="checkbox" name="fields[]" value="familyConstellation" />
							<label class="sr-only" for="familyConstellationDisplay">Display</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-8">
						{{#each familyConstellations}}
							<div class="form-check">
								<input id="familyConstellation{{ familyConstellation }}" class="form-check-input" type="checkbox" name="familyConstellation[]" value="{{ id }}" />
								<label class="form-check-label" for="familyConstellation{{ familyConstellation }}">{{ familyConstellation }} </label>
							</div>
						{{/each}}
					</div>
				</div>
			
				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Ages:</h5>
						<div class="form-check float-right matching-form__toggle-button">
							<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="ageDisplay" type="checkbox" name="fields[]" value="age" />
							<label class="sr-only" for="ageDisplay">Display</label>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="agesFrom">From</label>
						<select id="agesFrom" name="agesFrom" class="form-control">
							<option value="">Any</option>
							{{#each ages}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="agesTo">To</label>
						<select id="agesTo" name="agesTo" class="form-control">
							<option value="">Any</option>
							{{#each ages}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>
		
				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Sibling Group Size:</h5>
						<div class="form-check float-right matching-form__toggle-button">
							<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="groupSizeDisplay" type="checkbox" name="fields[]" value="siblingGroupSize" />
							<label class="sr-only" for="groupSizeDisplay">Display</label>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="siblingGroupSizeFrom">From</label>
						<select id="siblingGroupSizeFrom" name="siblingGroupSizeFrom" class="form-control">
							<option value="">Any</option>
							{{#each siblingGroupSizes}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="siblingGroupSizeTo">To</label>
						<select id="siblingGroupSizeTo" name="siblingGroupSizeTo" class="form-control">
							<option value="">Any</option>
							{{#each siblingGroupSizes}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Physical Needs:</h5>
						<div class="form-check float-right matching-form__toggle-button">
							<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="phsycialNeedsDisplay" type="checkbox" name="fields[]" value="physicalNeeds" />
							<label class="sr-only" for="phsycialNeedsDisplay">Display</label>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="physicalNeedsFrom">From</label>
						<select id="physicalNeedsFrom" name="physicalNeedsFrom" class="form-control">
							{{#each physicalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="physicalNeedsTo">To</label>
						<select id="physicalNeedsTo" name="physicalNeedsTo" class="form-control">
							{{#each physicalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Intellectual Needs:</h5>
						<div class="form-check float-right matching-form__toggle-button">
							<input  data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="intellectualNeedsDisplay" type="checkbox" name="fields[]" value="intellectualNeeds" />
							<label class="sr-only" for="intellectualNeedsDisplay">Display</label>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="intellectualNeedsFrom">From</label>
						<select id="intellectualNeedsFrom" name="intellectualNeedsFrom" class="form-control">
							<option value="">Any</option>
							{{#each intellectualNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="intellectualNeedsTo">To</label>
						<select id="intellectualNeedsTo" name="intellectualNeedsTo" class="form-control">
							<option value="">Any</option>
							{{#each intellectualNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-4 col-md-12 group-label text-sm-right">
						<h5>Emotional Needs:</h5>
						<div class="form-check float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="emotionalNeedsDisplay" type="checkbox" name="fields[]" value="emotionalNeeds" />
							<label class="sr-only" for="emotionalNeedsDisplay">Display</label>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="emotionalNeedsFrom">From</label>
						<select id="emotionalNeedsFrom" name="emotionalNeedsFrom" class="form-control">
							<option value="">Any</option>
							{{#each emotionalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-lg-4 col-sm-6">
						<label for="emotionalNeedsTo">To</label>
						<select id="emotionalNeedsTo" name="emotionalNeedsTo" class="form-control">
							<option value="">Any</option>
							{{#each emotionalNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right">
						<label for="socialNeeds " class="bold">Social Needs:</label>
						<div class="form-check float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="socialNeedsDisplay" type="checkbox" name="fields[]" value="socialNeeds" />
							<label class="sr-only" for="socialNeedsDisplay">Display</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="socialNeeds" name="socialNeeds" class="form-control">
							<option value="">Any</option>
							{{#each socialNeeds}}
								<option value="{{ . }}">{{ . }}</option>
							{{/each}}
						</select>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right" >
						<label for="adoptionWorkersAgency" class="bold">Adoption Worker's Agency:</label>
						<div class="form-check float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="adoptiopnWorkersAgencyDisplay" type="checkbox" name="fields[]" value="adoptionWorkersAgency" />
							<label class="sr-only" for="adoptiopnWorkersAgencyDisplay">Display</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="adoptionWorkersAgency" name="adoptionWorkersAgency[]" class="form-control agency-select" multiple>
							\{{#each adoptionWorkersAgency}}
								<option value="\{{ id }}" selected>\{{ text }}</option>
							\{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right" >
						<label for="recruitmentWorkersAgency" class="bold">Recruitment Worker's Agency:</label>
						<div class="form-check float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="recruitmentWorkersAgencyDisplay" type="checkbox" name="fields[]" value="recruitmentWorkersAgency" />
							<label class="sr-only" for="recruitmentWorkersAgencyDisplay">Display</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="recruitmentWorkersAgency" name="recruitmentWorkersAgency[]" class="form-control agency-select" multiple>
							\{{#each recruitmentWorkersAgency}}
								<option value="\{{ id }}" selected>\{{ text }}</option>
							\{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-sm-12 col-md-4 text-sm-right" >
						<label for="adoptionWorkers" class="bold">Adoption Workers:</label>
						<div class="form-check float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="adoptionWorkersDisplay" type="checkbox" name="fields[]" value="adoptionWorker" />
							<label  class="sr-only" for="adoptionWorkersDisplay">Display</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="adoptionWorkers" name="adoptionWorkers[]" class="form-control social-worker-select" multiple>
							\{{#each adoptionWorkers}}
								<option value="\{{ id }}" selected>\{{ name.full }}</option>
							\{{/each}}
						</select>
					</div>
				</div>

				<div class="row form-group text-sm-right">
					<div class="col-sm-12 col-md-4" >
						<label for="recruitmentWorkers" class="bold">Recruitment Workers:</label>
						<div class="form-check float-right matching-form__toggle-button">
							<input data-toggle="toggle" data-size="xs" data-on="Display" data-off="No Display" id="recruitmentWorkersDisplay" type="checkbox" name="fields[]" value="recruitmentWorker" />
							<label class="sr-only" for="recruitmentWorkersDisplay">Display</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-8">
						<select id="recruitmentWorkers" name="recruitmentWorkers[]" class="input social-worker-select" multiple>
							\{{#each recruitmentWorkers}}
								<option value="\{{ id }}" selected>\{{ name.full }}</option>
							\{{/each}}
						</select>
					</div>
				</div>
			</div>
				 
		</div>
		
		<button type="button" class="btn btn-primary children-search-button">Search</button>
		<button type="button" class="btn btn-default children-search-reset-button">Reset</button>
	</form>
	
	\{{#if waitingForResults }}
		<br /><br />
		Loading the data ...
	\{{/if}}
	
	\{{#if noResultsFound }}
		<br /><br />
		No results found
	\{{/if}}
	
	\{{#if results }}
		<h3>Results: </h3>
		<input type="button" class="button button--teal children-export-pdf-button" value="PDF Export" />
		<input type="button" class="button button--teal children-export-xlsx-button" value="XLSX Export" />
		
		\{{#unless isAnonymous}}
			<input type="button" class="button button--teal save-child-entries-button" value="Save entries to the family" />
		\{{/unless}}
		
		<table width="100%">
			<tr>
				<th></th>
				<th>Reg Num</th>
				<th>Name</th>
				\{{#each fieldNames}}
					<th>\{{this}}</th>
				\{{/each}}
			</tr>
			\{{#each results}}
				<tr data-id="\{{ id }}">
					<td width="20">
						<input type="checkbox" class="entry-selection" value="\{{ id }}" />
					</td>
					<td><a href="/keystone/children/\{{ id }}">\{{ registrationNumber }}</a></td>
					<td>\{{ name }}</td>
					\{{#each fields}}
						<td>\{{this}}</td>
					\{{/each}}
				</tr>
				\{{#if unmatchedSiblings }}
					<tr>
						<td></td>
						<td></td>
						<td colspan="\{{ ../siblingsCellColSpan }}">
							<i>The following siblings didn't match:</i>
							<table width="100%">
								<tr>
									<th>Reg Num</th>
									<th>Name</th>
									<th>Reason(s)</th>
								</tr>
								\{{#each unmatchedSiblings}}
									<tr data-id="\{{ id }}">
										<td width="100"><a href="/keystone/children/\{{ id }}">\{{ registrationNumber }}</a></td>
										<td width="300">\{{ name }}</td>
										<td>\{{ reasons }}</td>
									</tr>
								\{{/each}}
							</table>
						</td>
					</tr>
				\{{/if}}
				\{{#if matchedSiblings }}
					<tr>
						<td></td>
						<td></td>
						<td colspan="\{{ ../siblingsCellColSpan }}">
							<i>The following siblings match:</i>
							<table width="100%">
								<tr>
									<th></th>
									<th>Reg Num</th>
									<th>Name</th>
								</tr>
								\{{#each matchedSiblings}}
									<tr data-id="\{{ id }}">
										<td width="20">
											<input type="checkbox" class="entry-selection" value="\{{ id }}" />
										</td>
										<td width="100"><a href="/keystone/children/\{{ id }}">\{{ registrationNumber }}</a></td>
										<td width="300">\{{ name }}</td>
									</tr>
								\{{/each}}
							</table>
						</td>
					</tr>
				\{{/if}}
			\{{else}}	
				<tr>
					<td>No results found</td>
				</tr>
			\{{/each}}
		</table>
		
		<!-- Results prepared to export in XLSX format: -->
		<table width="100%" class="results-table hidden" data-filename="MatchingChildrenExport.xlsx">
			<tr>
				<th>Reg Num</th>
				<th>Name</th>
				\{{#each fieldNames}}
					<th>\{{this}}</th>
				\{{/each}}
			</tr>
			\{{#each results}}
				<tr data-id="\{{ id }}">
					<td><a href="/keystone/children/\{{ id }}">\{{ registrationNumber }}</a></td>
					<td>\{{ name }}</td>
					\{{#each fields}}
						<td>\{{this}}</td>
					\{{/each}}
				</tr>
				\{{#if unmatchedSiblings }}
					<tr>
						<td></td>
						<td>
							<i>The following siblings didn't match:</i>
							<br />
							\{{#each unmatchedSiblings}}
								\{{ name }} (\{{ registrationNumber }}) - \{{ reasons }} \{{#unless @last}}, \{{/unless}}
							\{{/each}}
						</td>
					</tr>
				\{{/if}}
				\{{#if matchedSiblings }}
					<tr>
						<td></td>
						<td>
							<i>The following siblings match:</i>
							<br />
							\{{#each matchedSiblings}}
								\{{ name }} (\{{ registrationNumber }})\{{#unless @last}}, \{{/unless}}
							\{{/each}}
						</td>
					</tr>
				\{{/if}}
			\{{else}}	
				<tr>
					<td>No results found</td>
				</tr>
			\{{/each}}
		</table>
	\{{/if}}
</script>
