<script id="tools-family-listing-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Family Listing Report</h2>

     <div class="family-listing-report">

        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.year.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.year.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Record Created Date:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="date-range-picker" name="registration-date-range" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Record Created Date Date Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary family-listing-fiscal-year-button"
                                    data-target="registration"
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="current-stage" class="bold">Current Stage:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="current-stage" name="current-stage" class="form-control">
                                <option value="">any stage</option>
                                {{#each familyStages as |stage|}}
                                    <option value="{{ stage.path }}">{{ stage.label }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-constellation" class="bold">Family Constellation:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-constellation" name="family-constellation[]" class="form-control family-constellation-select" multiple>
                                {{#each familyConstellations as |constellation|}}
                                    <option value="{{ constellation.id }}">{{ constellation.familyConstellation }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-region" class="bold">Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-region" name="family-region[]" class="form-control family-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-state" class="bold">State:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-state" name="family-state[]" class="form-control family-state-select" multiple>
                                {{#each states as |state|}}
                                    <option value="{{ state.id }}">{{ state.state }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-1-gender" class="bold">Contact 1 Gender:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-1-gender" name="contact-1-gender[]" class="form-control contact-1-gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-2-gender" class="bold">Contact 2 Gender:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-2-gender" name="contact-2-gender[]" class="form-control contact-2-gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-1-race" class="bold">Contact 1 Race(s):</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-1-race" name="contact-1-race[]" class="form-control contact-1-race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-2-race" class="bold">Contact 2 Race(s):</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-2-race" name="contact-2-race[]" class="form-control contact-2-race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="social-worker" class="bold">Social Worker:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="social-worker" name="social-worker[]" class="form-control social-worker-select" multiple>
                                \{{#each socialWorkers as |worker|}}
                                    <option value="\{{ worker.id }}" selected>\{{ worker.name.full }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="social-worker-agency" class="bold">Social Worker's Agency:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="social-worker-agency" name="social-worker-agency[]" class="form-control social-worker-agency-select" multiple>
                                \{{#each socialWorkerAgencies as |agency|}}
                                    <option value="\{{ agency.id }}" selected>\{{ agency.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="social-worker-region" class="bold">Social Worker's Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="social-worker-region" name="social-worker-region[]" class="form-control social-worker-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-services" class="bold">Family Services:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-services" name="family-services[]" class="form-control family-services-select" multiple>
                                {{#each familyServices as |service|}}
                                    <option value="{{ service.path }}">{{ service.label }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold" for="homestudyVerified">Homestudy Verified (Can See All Children)</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input id="homestudyVerified" type="checkbox" name="homestudyVerified">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="family-region" class="bold">Family Status</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="family-status" name="family-status[]" class="form-control family-status-select" multiple>
                                {{#each familyStatuses as |status|}}
                                    <option value="{{ status.id }}">{{ status.familyStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-primary family-listing-search-button">Search</button>
	    <button class="btn btn-default family-listing-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal family-listing-export-pdf-button">PDF Export</button>
                <button class="button button--teal family-listing-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Family Listings:</div>
                    \{{ results.length }}
                    \{{#if limitReached}}
                    <div class="recoord-count__limit">*Your search returned the maximum allowed number of results, some results could not be displayed.</div>
                    \{{/if}}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="family-listing-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="FamilyListingReportExport.xlsx">
                <tr>
                    <th>Reg #</th>
                    <th>Contact 1 First Name</th>
                    <th>Contact 1 Last Name</th>
                    <th>Contact 1 Email Address</th>
                    <th>Contact 2 First Name</th>
                    <th>Contact 2 Last Name</th>
                    <th>Contact 2 Email Address</th>
                    <th>Family Constellation</th>
                    <th>Region</th>
                    <th>State</th>
                    <th>Contact 1 Gender</th>
                    <th>Contact 2 Gender</th>
                    <th>Contact 1 Race(s)</th>
                    <th>Contact 2 Race(s)</th>
                    <th>Current Stage</th>
                    <th>Family Registration Status</th>
                    <th>Social Worker</th>
                    <th>Social Worker Agency</th>
                    <th>Social Worker Region</th>
                    <th>Family Services</th>
                    <th>Record Created Date</th>
                    <th>Homestudy Verified</th>
                    <th>Active DB Account</th>
                    <th>Language</th>
                    <th>Other Language(s)</th>
                    <th>Num Children in Family</th>
                    <th>Num Adults in Home</th>
                    <th>Gathering Information</th>
                    <th>Looking for Agency</th>
                    <th>Working with Agency</th>
                    <th>MAPP Training Completed</th>
                    <th>Homestudy Completed</th>
                    <th>Registered with MARE</th>
                    <th>Closed</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.registrationNumber }}</td>
                        <td>\{{ result.contact1.firstName }}</td>
                        <td>\{{ result.contact1.lastName }}</td>
                        <td>\{{ result.contact1.email }}</td>
                        <td>\{{ result.contact2.firstName }}</td>
                        <td>\{{ result.contact2.lastName }}</td>
                        <td>\{{ result.contact2.email }}</td>
                        <td>\{{ result.constellation }}</td>
                        <td>\{{ result.region }}</td>
                        <td>\{{ result.state }}</td>
                        <td>\{{ result.contact1.gender }}</td>
                        <td>\{{ result.contact2.gender }}</td>
                        <td>\{{ result.contact1.race }}</td>
                        <td>\{{ result.contact2.race }}</td>
                        <td>\{{ result.currentStage.websiteDisplay }}</td>
                        <td>\{{ result.status }}</td>
                        <td>\{{ result.socialWorker }}</td>
                        <td>\{{ result.socialWorkerAgency }}</td>
                        <td>\{{ result.socialWorkerAgencyRegion }}</td>
                        <td>\{{ result.services }}</td>
                        <td>\{{ result.initialContactDate }}</td>
                        <td>\{{ result.isHomestudyVerified }}</td>
                        <td>\{{ result.isActive }}</td>
                        <td>\{{ result.language }}</td>
                        <td>\{{ result.otherLanguages }}</td>
                        <td>\{{ result.numberOfChildren }}</td>
                        <td>\{{ result.numberOfAdults }}</td>
                        <td>\{{ result.stages.[0].excelDisplay }}</td>
                        <td>\{{ result.stages.[1].excelDisplay }}</td>
                        <td>\{{ result.stages.[2].excelDisplay }}</td>
                        <td>\{{ result.stages.[3].excelDisplay }}</td>
                        <td>\{{ result.stages.[4].excelDisplay }}</td>
                        <td>\{{ result.stages.[5].excelDisplay }}</td>
                        <td>\{{ result.stages.[6].excelDisplay }}</td>
                    </tr>
                \{{/each}}
            </table>

        \{{/if}}
    </div>

</script>