<script id="tools-family-activity-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Family Activity Report</h2>
    <div class="family-activity-report">
        
        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.month.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.month.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Family Activity Date Range:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="date-range-picker" name="family-activity-date-range" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Family Activity Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary family-activity-fiscal-year-button"
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="region" class="bold">Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="region" name="region[]" class="form-control region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="state" class="bold">State:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="state" name="state[]" class="form-control state-select" multiple>
                                {{#each states as |state|}}
                                    <option value="{{ state.id }}">{{ state.state }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-1-gender" class="bold">Contact 1 Gender:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-1-gender" name="contact-1-gender[]" class="form-control contact-1-gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-2-gender" class="bold">Contact 2 Gender:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-2-gender" name="contact-2-gender[]" class="form-control contact-2-gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-1-race" class="bold">Contact 1 Race(s):</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-1-race" name="contact-1-race[]" class="form-control contact-1-race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="contact-2-race" class="bold">Contact 2 Race(s):</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-2-race" name="contact-2-race[]" class="form-control contact-2-race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                         <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="contact-1-identifies-as-lgbtq" class="bold">Contact 1 Identifies as LGBTQ+?:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-1-identifies-as-lgbtq" name="contact-1-identifies-as-lgbtq" class="form-control">
                                <option value="">Any</option>
                                {{#each familyLGBTQIdentityOptions}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                         <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="contact-2-identifies-as-lgbtq" class="bold">Contact 2 Identifies as LGBTQ+?:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="contact-2-identifies-as-lgbtq" name="contact-2-identifies-as-lgbtq" class="form-control">
                                <option value="">Any</option>
                                {{#each familyLGBTQIdentityOptions}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                         <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="relationship-status" class="bold">Relationship Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="relationship-status" name="relationshipStatus" class="form-control">
                                <option value="">Any</option>
                                {{#each relationshipStatusOptions}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
        </form>

        <button class="btn btn-primary family-activity-search-button">Search</button>
	    <button class="btn btn-default family-activity-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal caseload-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Active Families:</div>
                    \{{ results.length }}
                    \{{#if limitReached}}
                    <div class="recoord-count__limit">*Your search returned the maximum allowed number of results, some results could not be displayed.</div>
                    \{{/if}}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="family-activity-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="\{{metadata.excelExportFilename}}"></table>
        \{{/if}}
    </div>
</script>