<script id="tools-child-listing-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2 mb-2">Child Listing Report</h2>

    <div class="child-listing-report">

        <div class="filter-form mb-1">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                        <p>Registration Date</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="registrationDateFrom"><span class="sr-only">Registration Date - From</span>
                                <input  class="form-control" type="date" name="registrationDateFrom" id="registrationDateFrom" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="registrationDateTo"><span class="sr-only">Registration Date - To</span>
                                <input class="form-control" type="date" name="registrationDateTo" id="registrationDateTo" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-form mb-2">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                        <p>Date Added to Web</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="webAddedDateFrom"><span class="sr-only">Added to Web Date - From</span>
                                <input  class="form-control" type="date" name="webAddedDateFrom" id="webAddedDateFrom" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="webAddedDateTo"><span class="sr-only">Added to Web Date - To</span>
                                <input class="form-control" type="date" name="webAddedDateTo" id="webAddedDateTo" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="matching-form">
            <input type="hidden" id="allTimeFromDate" value="1900-01-01" />
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.year.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.year.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Registration Date Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container registration-date-fiscal-year-buttons">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary"
                                    data-target="registration"
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Added to Web Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container added-to-web-fiscal-year-buttons">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary"
                                    data-target="web"
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="race" class="bold">Race:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="race" name="race[]" class="form-control race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="gender" class="bold">Gender:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="gender" name="gender[]" class="form-control gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="legal-status" class="bold">Legal Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="legal-status" name="legal-status[]" class="form-control legal-status-select" multiple>
                                {{#each legalStatuses as |legalStatus|}}
                                    <option value="{{ legalStatus.id }}">{{ legalStatus.legalStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="placement-status" class="bold">Placement Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="placement-status" name="placement-status[]" class="form-control placement-status-select" multiple>
                                {{#each childStatuses as |childStatus|}}
                                    <option value="{{ childStatus.id }}">{{ childStatus.childStatus }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="residence" class="bold">Residence:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="residence" name="residence[]" class="form-control residence-select" multiple>
                                {{#each residences as |residence|}}
                                    <option value="{{ residence.id }}">{{ residence.residence }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="physical-needs" class="bold">Physical Needs:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="physical-needs" name="physical-needs[]" class="form-control physical-needs-select" multiple>
                                {{#each physicalNeeds as |need|}}
                                    <option value="{{ need }}">{{ need }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="emotional-needs" class="bold">Emotional Needs:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="emotional-needs" name="emotional-needs[]" class="form-control emotional-needs-select" multiple>
                                {{#each emotionalNeeds as |need|}}
                                    <option value="{{ need }}">{{ need }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="intellectual-needs" class="bold">Intellectual Needs:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="intellectual-needs" name="intellectual-needs[]" class="form-control intellectual-needs-select" multiple>
                                {{#each intellectualNeeds as |need|}}
                                    <option value="{{ need }}">{{ need }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker" class="bold">Adopt. Worker:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker" name="adoption-worker[]" class="form-control adoption-worker-select" multiple>
                                \{{#each adoptionWorkers as |worker|}}
                                    <option value="\{{ worker.id }}" selected>\{{ worker.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="recruitment-worker" class="bold">Recruit. Worker:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="recruitment-worker" name="recruitment-worker[]" class="form-control recruitment-worker-select" multiple>
                                \{{#each recruitmentWorkers as |worker|}}
                                    <option value="\{{ worker.id }}" selected>\{{ worker.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker-agency" class="bold">Adopt. Worker's Agency:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker-agency" name="adoption-worker-agency[]" class="form-control adoption-worker-agency-select" multiple>
                                \{{#each adoptionWorkerAgencies as |agency|}}
                                    <option value="\{{ agency.id }}" selected>\{{ agency.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="recruitment-worker-agency" class="bold">Recruit. Worker's Agency:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="recruitment-worker-agency" name="recruitment-worker-agency[]" class="form-control recruitment-worker-agency-select" multiple>
                                \{{#each recruitmentWorkerAgencies as |agency|}}
                                    <option value="\{{ agency.id }}" selected>\{{ agency.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="adoption-worker-region" class="bold">Adopt. Worker's Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="adoption-worker-region" name="adoption-worker-region[]" class="form-control adoption-worker-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="recruitment-worker-region" class="bold">Recruit. Worker's Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="recruitment-worker-region" name="recruitment-worker-region[]" class="form-control recruitment-worker-region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-12 group-label text-sm-right">
                            <h5>Age at Registration:</h5>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="registrationAgeFrom">From</label>
                            <select id="registrationAgeFrom" name="registrationAgeFrom" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="registrationAgeTo">To</label>
                            <select id="registrationAgeTo" name="registrationAgeTo" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-12 group-label text-sm-right">
                            <h5>Current Age:</h5>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="currentAgeFrom">From</label>
                            <select id="currentAgeFrom" name="currentAgeFrom" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <label for="currentAgeTo">To</label>
                            <select id="currentAgeTo" name="currentAgeTo" class="form-control">
                                <option value="">Any</option>
                                {{#each ages}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-12 group-label text-sm-right">
                            <h5>Addt'l Options:</h5>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-check text-right">
                                <input id="placedWithSiblings" class="form-check-input" type="checkbox" name="placedWithSiblings">
                                <label class="form-check-label" for="placedWithSiblings">To be placed with siblings </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-primary child-listing-search-button">Search</button>
	    <button class="btn btn-default child-listing-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal child-listing-export-pdf-button">PDF Export</button>
                <button class="button button--teal child-listing-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Child Listings:</div>
                    \{{ results.length }}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="child-listing-results" class="stripe" width="100%"></table>

             {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="ChildListingReportExport.xlsx">
                <tr>
                    <th>Reg #</th>
                    <th>Child</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Legal Status</th>
                    <th>Placement Status</th>
                    <th>Current Age</th>
                    <th>Adoption Worker</th>
                    <th>Adoption Worker Region</th>
                    <th>Must be placed with siblings?</th>
                    <th>Siblings to be placed with</th>
                    <th>Residence</th>
                    <th>Physical Needs</th>
                    <th>Emotional Needs</th>
                    <th>Intellectual Needs</th>
                    <th>Age at Registration</th>
                    <th>Days Waiting</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.registrationNumber }}</td>
                        <td>\{{ result.name }}</td>
                        <td>\{{ result.gender }}</td>
                        <td>\{{ result.race }}</td>
                        <td>\{{ result.legalStatus }}</td>
                        <td>\{{ result.placementStatus }}</td>
                        <td>\{{ result.currentAge }}</td>
                        <td>\{{ result.adoptionWorker }}</td>
                        <td>\{{ result.adoptionWorkerRegion }}</td>
                        <td>\{{ result.mustBePlacedWithSiblings }}</td>
                        <td>\{{ result.numSiblingsToBePlacedWith }}</td>
                        <td>\{{ result.residence }}</td>
                        <td>\{{ result.physicalNeeds }}</td>
                        <td>\{{ result.emotionalNeeds }}</td>
                        <td>\{{ result.intellectualNeeds }}</td>
                        <td>\{{ result.ageAtRegistration }}</td>
                        <td>\{{ result.daysSinceRegistration }}</td>
                    </tr>
                \{{/each}}
            </table>
        \{{/if}}
    </div>

</script>