<script id="tools-family-stages-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Family Stages Report</h2>

     <div class="family-stages-report">

        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.year.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.year.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Record Created Date:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="date-range-picker" name="registration-date-range" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Record Created Date Date Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary family-listing-fiscal-year-button"
                                    data-target="registration"
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold" for="hasActiveAccount">Has Active Database Account</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input id="hasActiveAccount" type="checkbox" name="hasActiveAccount">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Homestudy Verified (Can See All Children)</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="homestudyVerifiedDate" }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Initial Contact</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            {{> form-field-reporting-date-search name="initialContactDate" }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary family-stages-search-button">Search</button>
	    <button class="btn btn-default family-stages-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal family-stages-export-pdf-button">PDF Export</button>
                <button class="button button--teal family-stages-export-xlsx-button">XLSX Export</button>
            </div>

            {{!-- Results table for site display --}}            
            <table id="family-stages-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="FamilyStagesReportExport.xlsx">
                <tr>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                    </tr>
                \{{/each}}
            </table>

        \{{/if}}
    </div>

</script>