<script id="tools-child-listing-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2 mb-2">Child Listing Report</h2>

    <div class="child-listing-report">

        <div class="filter-form mb-1">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                        <p>Registration Date</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="registrationDateFrom"><span class="sr-only">Registration Date - From</span>
                                <input  class="form-control" type="date" name="registrationDateFrom" id="registrationDateFrom" value="{{ registrationDateFrom }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="registrationDateTo"><span class="sr-only">Registration Date - To</span>
                                <input class="form-control" type="date" name="registrationDateTo" id="registrationDateTo" value="{{ registrationDateTo }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-form mb-2">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                        <p>Date Added to Web</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="webAddedDateFrom"><span class="sr-only">Added to Web Date - From</span>
                                <input  class="form-control" type="date" name="webAddedDateFrom" id="webAddedDateFrom" value="{{ addedToWebDateFrom }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="webAddedDateTo"><span class="sr-only">Added to Web Date - To</span>
                                <input class="form-control" type="date" name="webAddedDateTo" id="webAddedDateTo" value="{{ addedToWebDateTo }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRange.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRange.toDate }}" />
        </form>

    </div>

</script>