<script id="tools-placement-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2 mb-2">Placement Report</h2>

    <div class="placement-report">
        
        <div class="filter-form mb-2">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                    <p>Date range:</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="fromDate"><span class="sr-only">To Date</span>
                                <input  class="form-control" type="date" name="fromDate" id="fromDate" value="{{ fromDate }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="toDate"><span class="sr-only">To Date</span>
                                <input class="form-control" type="date" name="toDate" id="toDate" value="{{ toDate }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="matching-form">

            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRange.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRange.toDate }}" />

            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="placementType" class="bold">Type:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="placementType" name="placementType[]" class="form-control placementType-select" multiple>
                                {{#each placementTypes as |type|}}
                                    <option value="{{ type }}">{{ type }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="source" class="bold">Source:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="source" name="source[]" class="form-control source-select" multiple>
                                \{{#each sources as |source|}}
                                    <option value="\{{ source.id }}" selected>\{{ source.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="additionalSource" class="bold">Additional Source:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="additionalSource" name="additionalSource[]" class="form-control additionalSource-select" multiple>
                                \{{#each additionalSources as |source|}}
                                    <option value="\{{ source.id }}" selected>\{{ source.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-primary placement-search-button">Search</button>
	    <button class="btn btn-default placement-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal placement-export-pdf-button">PDF Export</button>
                <button class="button button--teal placement-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Inquiries:</div>
                    \{{ results.length }}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="placement-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="PlacementReportExport.xlsx">
                <tr>
                    <th>Reg #</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Reg Date</th>
                    <th>Child SW Region</th>
                    <th>Siblings</th>
                    <th>Reg #</th>
                    <th>Contact 1</th>
                    <th>Contact 2</th>
                    <th>Source</th>
                    <th>Type</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.childRegistrationNumber }}</td>
                        <td>\{{ result.childNameFirst }}</td>
                        <td>\{{ result.childNameLast }}</td>
                        <td>\{{ result.childRegistrationDate }}</td>
                        <td>\{{ result.childSWAgencyRegion }}</td>
                        <td>
                            \{{#each result.siblings as |sibling|}}
                                \{{#ifeq @index 0}}
                                    \{{ sibling }}
                                \{{else}}
                                    <br>\{{ sibling }}
                                \{{/ifeq}}
                            \{{/each}}
                        </td>
                        <td>\{{ result.familyRegistrationNumber }}</td>
                        <td>\{{ result.familyContact1 }}</td>
                        <td>\{{ result.familyContact2 }}</td>
                        <td>\{{ result.source }}</td>
                        <td>\{{ result.type }}</td>
                    </tr>
                \{{/each}}
            </table>            
        \{{/if}}
    </div>

</script>