<script id="tools-media-features-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2 mb-2">Media Features Report</h2>

    <div class="media-features-report">
        
        <div class="filter-form mb-2">
            <div class="row">
                <div class="col-lg-2 align-middle">
                    <div class="filter-form__label mh-100">
                    <p>Date range:</p>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="fromDate"><span class="sr-only">To Date</span>
                                <input  class="form-control" type="date" name="fromDate" id="fromDate" value="{{ fromDate }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>								
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="form-group">
                        <div class="input-daterange">
                            <label for="toDate"><span class="sr-only">To Date</span>
                                <input class="form-control" type="date" name="toDate" id="toDate" value="{{ toDate }}" required />
                                <div class="input-group-addon">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRange.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRange.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="children" class="bold">Children:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="children" name="children[]" class="form-control children-select" multiple>
                                \{{#each children as |child|}}
                                    <option value="\{{ child.id }}" selected>\{{ child.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 media-features-fiscal-year-buttons">
                            <button id="all-years" 
                                class="btn btn-outline-primary hidden"
                                data-year-start="1900-01-01" 
                                data-year-end="{{date format="YYYY-MM-DD"}}">
                                All
                            </button>
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary" 
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="source" class="bold">Source:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="source" name="source[]" class="form-control source-select" multiple>
                                \{{#each sources as |source|}}
                                    <option value="\{{ source.id }}" selected>\{{ source.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 group-label text-sm-right">
                            <div class="group-label float-left float-sm-right"><h5>Child Media:</h5></div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="form-check">
                                <input id="professionalPhoto" class="form-check-input" type="checkbox" name="professionalPhoto">
                                <label class="form-check-label" for="professionalPhoto">Professional Photo </label>
                            </div>
                            <div class="form-check">
                                <input id="videoSnapshot" class="form-check-input" type="checkbox" name="videoSnapshot">
                                <label class="form-check-label" for="videoSnapshot">Video Snapshot </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-primary media-features-search-button">Search</button>
	    <button class="btn btn-default media-features-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal media-features-export-pdf-button">PDF Export</button>
                <button class="button button--teal media-features-export-xlsx-button">XLSX Export</button>
                <div class="matching-results-table__record-count">
                    <div class="record-count__label">Total Media Features:</div>
                    \{{ results.length }}
                </div>
            </div>

            {{!-- Results table for site display --}}            
            <table id="media-features-results" class="stripe" width="100%"></table>
        \{{/if}}

    </div>

</script>