<script id="tools-family-activity-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2">Families Served Report</h2>
    <div class="family-activity-report">
        
        <form class="matching-form">
            <input type="hidden" id="defaultFromDate" value="{{ defaultDateRanges.month.fromDate }}" />
            <input type="hidden" id="defaultToDate" value="{{ defaultDateRanges.month.toDate }}" />
            <div class="row">
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label class="bold">Families Served Date Range:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="date-range-picker" name="family-activity-date-range" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label class="bold">Families Served Fiscal Years:</label>
                        </div>
                        <div class="col-sm-12 col-md-8 fiscal-year-button-container">
                            {{#each fiscalYears as |fiscalYear|}}
                                <button class="btn btn-outline-primary family-activity-fiscal-year-button"
                                    data-year-start="{{ fiscalYear.startDate }}" 
                                    data-year-end="{{ fiscalYear.endDate }}">
                                        {{ fiscalYear.fiscalYear }}
                                </button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="region" class="bold">Region:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="region" name="region[]" class="form-control region-select" multiple>
                                {{#each regions as |region|}}
                                    <option value="{{ region.id }}">{{ region.region }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="city-or-town" class="bold">City or Town:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="city-or-town" name="city-or-town[]" class="form-control city-or-town-select" multiple>
                                \{{#each citiesAndTowns as |cityOrTown|}}
                                    <option value="\{{ cityOrTown.id }}" selected>\{{ cityOrTown.text }}</option>
                                \{{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="gender" class="bold">Gender(s):</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="gender" name="gender[]" class="form-control gender-select" multiple>
                                {{#each genders as |gender|}}
                                    <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4 text-sm-right">
                            <label for="race" class="bold">Race(s):</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="race" name="race[]" class="form-control race-select" multiple>
                                {{#each races as |race|}}
                                    <option value="{{ race.id }}">{{ race.race }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                         <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="identifies-as-lgbtq" class="bold">Identifies as LGBTQ+?:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="identifies-as-lgbtq" name="identifies-as-lgbtq" class="form-control">
                                <option value="">Any</option>
                                {{#each familyLGBTQIdentityOptions}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row form-group">
                         <div class="col-sm-12 col-md-4 text-sm-right" >
                            <label for="relationship-status" class="bold">Relationship Status:</label>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <select id="relationship-status" name="relationshipStatus" class="form-control">
                                <option value="">Any</option>
                                {{#each relationshipStatusOptions}}
                                <option value="{{ . }}">{{ . }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
        </form>

        <button class="btn btn-primary family-activity-search-button">Search</button>
	    <button class="btn btn-default family-activity-search-reset-button">Reset</button>

        \{{#if waitingForResults }}
            <br /><br />
            Loading the data ...
        \{{/if}}
        
        \{{#if noResultsFound }}
            <br /><br />
            No results found
        \{{/if}}

        \{{#if results }}
            <h3>Results: </h3>
            <div class="matching-results-table__record-count matching-results-table__record-count--left-align">
                <div class="record-count__label record-count__label--large">Total Families Served: \{{ results.length }}</div>
                \{{#if limitReached}}
                <div class="recoord-count__limit">*Your search returned the maximum allowed number of results, some results could not be displayed.</div>
                \{{/if}}
            </div>
            <div class="matching-results-table__button-bar">
                <button class="button button--teal family-activity-export-xlsx-button">XLSX Export</button>
            </div>

            {{!-- Results table for site display --}}            
            <table id="family-activity-results" class="stripe" width="100%"></table>

            {{!-- Results table for Excel export (hidden) --}}
            <table width="100%" class="results-table hidden" data-filename="FamiliesServedReport.xlsx">
                <tr>
                    <th>Registration Number</th>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Region</th>
                    <th>City or Town</th>
                    <th>Contact 1 Gender</th>
                    <th>Contact 2 Gender</th>
                    <th>Contact 1 Race(s)</th>
                    <th>Contact 2 Race(s)</th>
                    <th>Contact 1 Identifies as LGBTQ+?</th>
                    <th>Contact 2 Identifies as LGBTQ+?</th>
                    <th>Account Creation Date</th>
                    <th>Latest Inquiry</th>
                    <th>Latest Event</th>
                    <th>Latest Match</th>
                    <th>Latest Placement</th>
                    <th>Latest Internal Note</th>
                    <th>Latest Bookmark</th>
                </tr>
                \{{#each results as |result|}}
                    <tr>
                        <td>\{{ result.registrationNumber }}</td>
                        <td>\{{ result.displayName }}</td>
                        <td>\{{ result.email }}</td>
                        <td>\{{ result.region }}</td>
                        <td>\{{ result.city }}</td>
                        <td>\{{ result.contact1Gender }}</td>
                        <td>\{{ result.contact2Gender }}</td>
                        <td>\{{ result.contact1Race }}</td>
                        <td>\{{ result.contact2Race }}</td>
                        <td>\{{ result.contact1LGBTQIdentity }}</td>
                        <td>\{{ result.contact2LGBTQIdentity }}</td>
                        <td>\{{ result.registrationDate.dateDisplay }}</td>
                        <td>\{{ result.latestInquiry.dateDisplay }}</td>
                        <td>\{{ result.latestEvent.dateDisplay }}</td>
                        <td>\{{ result.latestMatch.dateDisplay }}</td>
                        <td>\{{ result.latestPlacement.dateDisplay }}</td>
                        <td>\{{ result.latestInternalNote.dateDisplay }}</td>
                        <td>\{{ result.latestBookmark.dateDisplay }}</td>
                    </tr>
                \{{/each}}
            </table>
        \{{/if}}
    </div>
</script>
