<script id="account-events" type="text/x-handlebars-template">

    <h2>Event Group:</h2>
    {{eventGroup}}

    <h2>User events:</h2>
    <ul>
        {{#each events}}
        <li>
            <img style="height: 75px; width: 75px;" src="{{image.url}}" alt="{{name}}">
            <a href="{{url}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>

</script>