<script id="account-info" type="text/x-handlebars-template">

    <h1>Welcome to the account of {{ user.name.first }} {{ user.name.last }}</h1>
    <h2>Type of user: {{ user.userType }}</h2>
    <h2>User email: {{ user.email }}</h2>

    {{user}}

    <a href="/keystone">Sign in to Admin Panel</a>
    
</script>