<!-- client side template for rendering the add unregistered child form in a modal -->
<script id="event-add-unregistered-child-template" type="text/x-handlebars-template">

<section class="add-unregistered-child">

	<section class="form-section">

		<div class="row form-group">
			<div class="col-sm-24 form-group">
				\{{#ifeq action 'edit'}}
				<input type="text" class="input" id="socialWorker" value="\{{ displayName }}" disabled="disabled">
				\{{/ifeq}}
				<label for="name" class="label">Social Worker</label>
			</div>
		</div>

		<section class="row form-group unregistered-child-container">
			\{{#ifeq action 'edit'}}
			<input type="text" class="input hidden" id="id" value="\{{ child.id }}">
			\{{/ifeq}}
			<div class="col-sm-10 form-group">
				<input type="text" class="input" id="firstName" value="\{{ child.firstName }}">
				<label for="name" class="label">First Name</label>
			</div>
			<div class="col-sm-10 form-group">
				<input type="text" class="input" id="lastName" value="\{{ child.lastName }}">
				<label for="name" class="label">Last Name</label>
			</div>
			<div class="col-sm-4 form-group">
				<input type="text" class="input" id="age" value="\{{ child.age }}">
				<label for="name" class="label">Age</label>
			</div>
		</section>

	</section>

	<section class="button-group button-group--horizontal button-group--space-around button-group--large-margin-above button-group--small-margin-below">
		\{{#ifeq action 'edit'}}
		<button class="button button--teal events__edit-child">Edit Child</button>
		\{{/ifeq}}
		\{{#ifeq action 'add'}}
		<button class="button button--teal events__add-child">Add Child</button>
		\{{/ifeq}}
		<button class="button button--teal events__cancel-add-child">Cancel</button>
	</section>
	

</section>

</script>