<!-- client side template for rendering the event registration form in a modal -->
<script id="event-registration-form-template" type="text/x-handlebars-template">

<section class="event-social-worker-registration-form">
	<div class="modal-form__header">
		<div class="modal-form-header__text"> {{!-- should be h1 etc --}}
			{{ event.name }}
		</div>
		<div class="modal-form__subheader"> {{!-- should be h3 etc --}}
			{{ event.displayDate }}
		</div>
	</div>

	<div class="modal-form__key">
		<span class="required required-description">* Required</span>
	</div>

	<form action="/events/register/\{{ eventId }}" class="modal-form--register-for-event" method="POST">

		<section class="form-section">

			<div class="row form-group">
				<div class="col-sm-24 form-group">
					<input type="text" class="input" id="name" name="name" value="{{ displayName }}" disabled="disabled">
					<label for="name" class="label">Registration For</label>
				</div>
			</div>
			{{#if hasChildren}}
			<div class="row form-group">
				<div class="col-sm-12 form-group">
					<select id="mare-registered-children" class="input mare-registered-children-select" name="mareChildren">
						{{#each registeredChildren}}
						<option value="{{ _id }}">{{ name.full }}</option>
						{{/each}}
					</select>
					<label for="mare-registered-children" class="label required-field">Registered Children</label>
				</div>
				<div class="col-sm-12 form-group">
					<button class="button button--large button--thin button--teal add-registered-child">Add Child</button>
				</div>
			</div>
			{{/if}}

			<section class="registered-children-container row"></section>
			
			<div class="row form-group">
				<div class="col-sm-12 form-group">
					<select id="number-of-children" class="input number-of-children-select" name="numberOfChildren">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<label for="number-of-children" class="label required-field">Number of unregistered children attending</label>
				</div>
			</div>

			<section class="children-attending-container"></section>

			<div class="row form-group">
				<div class="col-sm-24 form-group">
					<select id="source" class="input source-select" name="source">
						<option value="website">Website</option>
						<option value="other">Other</option>
					</select>
					<label for="source" class="label required-field">How did you hear about this event?</label>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-24 form-group">
					<select id="attendance-capacity" class="input attendance-capacity-select" name="attendance-capacity">
						<option value="volunteer">volunteer</option>
						<option value="other">other</option>
					</select>
					<label for="attendance-capacity" class="label required-field">If not bringing children, I'm attending to</label>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-24 form-group">
					<input type="textarea" class="input" id="questions-or-comments" name="questionsOrComments">
					<label for="name" class="label">Questions or comments</label>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-24 form-group">By submitting this form you give permission for the likeness of all registered attendees to be captured and used by MARE. For more details view full legal disclosure.</div>
			</div>
		</section>

		<button class="button button--blue" type="submit">Register</button>
	</form>

</section>

</script>

{{> event-registration-form_person-details}}
{{> event-registration-form_registered-child-details}}