{{#each featuredItems}}
<ul class="featured-items">
	<li class="featured-item card">
		<a href="/page/our-services" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ aboutUs.title }}</span>
			</div>
			<img src="{{ aboutUs.imageScaled }}" alt="{{ aboutUs.title }}" class="featured-item__image">
		</a>
	</li>
	<li class="featured-item card">
		<a href="{{ successStory.url }}" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ successStory.title }}</span>
			</div>
			<img src="{{ successStory.imageScaled }}" alt="{{ successStory.title }}" class="featured-item__image">
		</a>
	</li>
	<li class="featured-item card">
		<a href="{{ event.url }}" class="featured-item__link cover">
			<div class="featured-item__title-container">
				<span class="featured-item__title">{{ event.title }}</span>
			</div>
			<img src="{{ event.imageScaled }}" alt="{{ event.title }}" class="featured-item__image">
		</a>
	</li>
</ul>
{{/each}}