<nav id="mobile-menu" class="hidden">
	<ul>
		{{#each mainNav}}
		<li>
			{{#if subMenu}}
				<a href="#">{{ title }}</a>
				<ul>
					{{#each subMenu}}
					<li>
						{{#if subMenu}}
						<a href="#">{{ title }}</a>
						<ul>
							{{#each subMenu}}
							<li>
								<a href="{{ href }}">{{ title }}</a>
							</li>
							{{/each}}
						</ul>
						{{else}}
						<a href="{{ href }}">{{ title }}</a>
						{{/if}}
					</li>
					{{/each}}
				</ul>
				{{else}}
				<a href="{{ href }}">{{ title }}</a>
			{{/if}}
		</li>
		{{/each}}
		<!-- TODO: if the person is logged in, show the profile page here -->
	</ul>
</nav>