<nav id="mobile-menu" data-is-logged-in={{ isLoggedIn }} class="hidden">
	<ul>
		{{#each mainNav}}
		<li>
			{{#if subMenu}}
				<a href="#">{{ title }}</a>
				<ul>
					{{#each subMenu}}
					<li>
						{{#if subMenu}}
						<a href="#">{{ title }}</a>
						<ul>
							{{#each subMenu}}
							<li>
								<a href="{{ href }}">{{ title }}</a>
							</li>
							{{/each}}
						</ul>
						{{else}}
						<a href="{{ href }}">{{ title }}</a>
						{{/if}}
					</li>
					{{/each}}
				</ul>
				{{else}}
				<a href="{{ href }}">{{ title }}</a>
			{{/if}}
		</li>
		{{/each}}		
		{{#if user}}
		<li>
			<a href="/account">My Profile</a>
		</li>
		{{/if}}
	</ul>
</nav>