<section class="family-registration hidden">

	<div class="form-type-header">Prospective Parent Registration</div>
	<span class="required required-description">* Required</span>
	
	<form enctype="multipart/form-data" action="/register" class="registration-form form--family-registration" method="POST">
		<input type="hidden" class="registration-type" name="registrationType" value="family">

		<section class="family-account-setup-section">
			<div class="form-section-header">Account Setup</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="email" id="family-email" class="input" name="email" placeholder="john.smith@gmail.com" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="valid email required" required="">
					<label for="family-email" class="label required-field">Email Address</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="password" id="family-password" class="input" name="password" placeholder="**********" data-parsley-error-message="required" required="">
					<label for="family-password" class="label required-field">Password</label>
				</div>
				<div class="col-sm-12">
					<input type="password" id="family-confirm-password" class="input" name="confirmPassword" placeholder="**********" data-parsley-equalto="#family-password" data-parsley-error-message="passwords must match" required="">
					<label for="family-confirm-password" class="label required-field">Confirm Password</label>
				</div>
			</div>
		</section>

		<section class="family-contact-1-section">
			<div class="form-section-header">Contact 1</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" id="contact1-first-name" class="input" name="contact1FirstName" placeholder="John" data-parsley-error-message="required" required="">
					<label for="contact1-first-name" class="label required-field">First Name</label>
				</div>
				<div class="col-sm-12">
					<input type="text" id="contact1-last-name" class="input" name="contact1LastName" placeholder="Smith" data-parsley-error-message="required" required="">
					<label for="contact1-last-name" class="label required-field">Last Name</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="email" id="contact1-email" class="input" name="contact1Email" placeholder="john.smith@gmail.com" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="valid email required" required="">
					<label for="contact1-email" class="label required-field">Email Address</label>
				</div>
				<div class="col-sm-12">
					<input type="text" id="contact1-mobile" class="input" name="contact1Mobile" placeholder="(617) 111-1111" data-parsley-error-message="required" required="">
					<label for="contact1-mobile" class="label required-field">Mobile Phone</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<select id="contact1-preferred-communication-method" class="input" name="contact1PreferredCommunicationMethod" data-parsley-errors-messages-disabled="true" required="">
						<option value=""></option>
						<option value="email">email</option>
						<option value="home phone">home</option>
						<option value="mobile phone">mobile</option>
					</select>
					<label for="contact1-preferred-communication-method" class="label required-field">Preferred Contact Method</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<span id="contact1-gender-error-container" class="error-container">
						<span class="gender-select-text required-field">Gender</span> &nbsp;&nbsp;
						{{#each genders}}
							<label class="radio-inline"><input type="radio" name="contact1Gender" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#contact1-gender-error-container" required="">{{gender}}</label>
						{{/each}}
					</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<div class="row form-group">
						<div class="col-sm-24">
							<span class="required-field">Race/Ethnicity (check all that apply)</span>
						</div>
					</div>
					<div id="contact1-race-error-container" class="row form-group error-container">
						{{#each races}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="contact1Race" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#contact1-race-error-container" required="">{{race}}
							</label>
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
						<input type="text" id="contact1-occupation" class="input" name="contact1Occupation" placeholder="teacher">
						<label for="contact1-occupation" class="label">Occupation</label>
					</div>
					<div class="form-group">
						<input type="text" class="input" id="contact1-date-of-birth" name="contact1DateOfBirth" data-parsley-error-message="required" required="" placeholder="MM/DD/YYYY">
						<label for="contact1-date-of-birth" class="label required-field">Date of Birth</label>
					</div>
				</div>
			</div>
		</section>

		<section class="family-contact-2-section">
			<div class="form-section-header">Contact 2</div>

			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" id="contact2-first-name" class="input" name="contact2FirstName" placeholder="Jane">
					<label for="contact2-first-name" class="label">First Name</label>
				</div>
				<div class="col-sm-12">
					<input type="text" id="contact2-last-name" class="input" name="contact2LastName" placeholder="Smith">
					<label for="contact2-last-name" class="label">Last Name</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="email" id="contact2-email" class="input" name="contact2Email" placeholder="jane.smith@gmail.com" data-parsley-type="email" data-parsley-trigger="change" data-parsley-required="false" data-parsley-error-message="valid email required">
					<label for="contact2-email" class="label">Email Address</label>
				</div>
				<div class="col-sm-12">
					<input type="text" id="contact2-phone" class="input" name="contact2Mobile" placeholder="(617) 222-2222">
					<label for="contact2-phone" class="label">Mobile Phone</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<select id="contact2-preferred-communication-method" class="input" name="contact2PreferredCommunicationMethod">
						<option value=""></option>
						<option value="email">email</option>
						<option value="home phone">home</option>
						<option value="mobile phone">mobile</option>
					</select>
					<label for="contact2-preferred-communication-method" class="label">Preferred Contact Method</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<span class="gender-select-text">Gender:</span> &nbsp;&nbsp;
					{{#each genders}}
						<label class="radio-inline"><input type="radio" name="contact2Gender" value="{{_id}}">{{gender}}</label>
					{{/each}}
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<div class="row form-group">
						<div class="col-sm-24">
							<span>Race/Ethnicity (check all that apply)</span>
						</div>
					</div>
					<div class="row form-group">
						{{#each races}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="contact2Race" value="{{_id}}">{{race}}
							</label>
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
						<input type="text" id="contact2-occupation" class="input" name="contact2Occupation" placeholder="police officer">
						<label for="contact2-occupation" class="label">Occupation</label>
					</div>
					<div class="form-group">
						<input type="text" id="contact2-date-of-birth" class="input" name="contact2DateOfBirth" placeholder="MM/DD/YYYY">
						<label for="contact2-date-of-birth" class="label">Date of Birth</label>
					</div>
				</div>
			</div>
		</section>

		<section class="family-home-address-section">
			<div class="form-section-header">Home Address</div>

			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" id="family-street-1" class="input" name="street1" placeholder="100 Main Street" data-parsley-error-message="required" required="">
					<label for="family-street-1" class="label required-field">Street 1</label>
				</div>
				<div class="col-sm-12">
					<input type="text" id="family-street-2" class="input" name="street2" placeholder="Suite 1">
					<label for="family-street-2" class="label">Street 2</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12 form-group ma-city-container">
					<select id="ma-city" class="input" name="city" data-parsley-trigger="change" data-parsley-errors-messages-disabled="true" required="">
						<option value=""></option>
						{{#each citiesAndTowns}}
						<option value="{{ _id }}">{{ cityOrTown }}</option>
						{{/each}}
					</select>
					<label for="ma-city" class="label required-field">City</label>
				</div>
				<div class="col-sm-12 form-group non-ma-city-container hidden">
					<input type="text" id="non-ma-city" class="input" name="nonMACity" placeholder="Boston" data-parsley-error-message="required" data-parsley-required="false">
					<label for="non-ma-city" class="label required-field">City</label>
				</div>
				<div class="col-sm-12 form-group">
					<label class="checkbox-inline">
						<input type="checkbox" id="is-not-MA-city-checkbox" name="isNotMACity">I live outside MA
					</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<select id="family-state" class="input state-select" name="state">
					{{#each states}}
						{{#if defaultSelection}}
							<option value="{{_id}}" selected="selected">{{state}}</option>
						{{else}}
							<option value="{{_id}}">{{state}}</option>
						{{/if}}
					{{/each}}
					</select>
					<label for="state" class="label required-field">State</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="number" id="zip-code" class="input" name="zipCode" placeholder="02111" data-parsley-error-message="required" required="">
					<label for="zip-code" class="label required-field">Zip Code</label>
				</div>
				<div class="col-sm-12">
					<input type="text" id="home-phone" class="input" name="homePhone" placeholder="(617) 333-3333">
					<label for="home-phone" class="label">Home Phone</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<label class="label marg-bottom-xs-5">Where are you in the adoption process?</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-16">
					<div class="row form-group">
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" id="gathering-information-checkbox" class="adoption-preferences-trigger" name="processProgression" value="gatheringInformation">Gathering Information
							</label>
						</div>
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" id="looking-for-agency-checkbox" class="adoption-preferences-trigger" name="processProgression" value="lookingForAgency">Looking for an agency
							</label>
						</div>
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" id="working-with-agency-checkbox" class="adoption-preferences-trigger" name="processProgression" value="workingWithAgency">Working with an agency
							</label>
						</div>
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" id="mapp-training-completed-checkbox" class="adoption-preferences-trigger" name="processProgression" value="MAPPTrainingCompleted">MAPP training completed
							</label>
						</div>
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" id="homestudy-completed-checkbox" class="adoption-preferences-trigger" name="processProgression" value="homestudyCompleted">Homestudy completed
							</label>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- This will end part 3 -->

		<section class="family-homestudy-details-section hidden">
			<div class="form-section-header">Homestudy Details</div>

			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" id="homestudy-date-complete" class="input" name="homestudyDateComplete" data-parsley-required="false" data-parsley-error-message="required" placeholder="MM/DD/YYYY">
					<label for="homestudy-date-complete" class="label required-field">Date Homestudy Completed/Updated</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" id="social-worker-name" class="input" name="socialWorkerName" data-parsley-required="false" data-parsley-error-message="required" placeholder="Jim Smith">
					<label for="social-worker-name" class="label required-field">Social Worker Name</label>
				</div>
				<div class="col-sm-12">
					<input type="text" id="social-worker-agency" class="input" name="socialWorkerAgency" data-parsley-required="false" data-parsley-error-message="required" placeholder="Jim's Agency">
					<label for="social-worker-agency" class="label required-field">Social Worker Agency</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<input type="text" id="social-worker-phone" class="input" name="socialWorkerPhone" data-parsley-required="false" data-parsley-error-message="required" placeholder="(617) 444-4444">
					<label for="social-worker-phone" class="label required-field">Social Worker Phone Number</label>
				</div>
				<div class="col-sm-12">
					<input type="email" id="social-worker-email" class="input" name="socialWorkerEmail" placeholder="jim.smith@gmail.com" data-parsley-type="email" data-parsley-trigger="change" data-parsley-required="false" data-parsley-error-message="valid email required">
					<label for="social-worker-email" class="label required-field">Social Worker Email Address</label>
				</div>
			</div>

			<section class="subheading family-submit-your-homestudy-section">
				<strong>Submit Your Homestudy</strong>
				<p>To complete your registration as a Massachusetts homestudied family, you must submit your homestudy to us via one of the following methods (choose one):</p>
				<div class="row form-group">
					<div class="col-sm-12">Upload PDF or Microsoft Word<sup>&reg;</sup> format:</div>
					<div class="col-sm-12">
						<div class="button button--medium button--brown file-upload-button">
						    <span>Upload</span>
						    <input id="upload-button" type="file" class="file-upload" id="homestudyFile_upload" name="homestudyFile_upload">
						</div>
						<span class="homestudy-file-text"></span>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-12">Email to web@mareinc.org:</div>
					<div class="col-sm-12">
						<div class="button button--medium button--brown"><a href="mailto:web@mareinc.org">Send as email</a></div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-12">Fax to (617) 244-3983, Attention: Homestudy Registration</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-12">
						<div class="indented-text">
							Mail to:
							<div class="indent-text">
								Massachusetts Adoption Resource Exchange<br />
								19 Needham Street<br />
								Suite 206<br />
								Newton, MA 02461
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>

		<section class="family-details-section">
			<div class="form-section-header">Family Details</div>

			<div class="row form-group children-in-home">
				<div class="col-sm-12">
					<label for="children-in-home" class="label marg-bottom-xs-5">Total number of children currently living at home</label>
				</div>
				<div class="col-sm-12">
					<select id="children-in-home" name="childrenInHome" class="input form__number-select">
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8+</option>
					</select>
				</div>
			</div>
			<section class="children-in-home-details"></section>

			<hr class="registration-divider">

			<div class="row form-group">
				<div class="col-sm-12">
					<label for="other-adults-in-home" class="label marg-bottom-xs-5">Number of other adults living in home</label>
				</div>
				<div class="col-sm-12">
					<select id="other-adults-in-home" name="otherAdultsInHome" class="input form__number-select">
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10+</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<label class="checkbox-inline">
						<input type="checkbox" name="havePets" value="yes">Have pets in the home
					</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label for="primary-language-in-home" class="label marg-bottom-xs-5 required-field">Primary language spoken at home</label>
				</div>
				<div class="col-sm-12">
					<select name="primaryLanguageInHome" class="input form__number-select" data-parsley-errors-messages-disabled="true" required="">
						<option value=""></option>
						{{#each languages}}
							<option value="{{_id}}">{{language}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<label class="label marg-bottom-xs-5">Other language(s) spoken at home</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-16">
					<div class="row">
					{{#each languages}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="otherLanguagesInHome" value="{{_id}}">{{language}}
							</label>
						</div>
					{{/each}}
					</div>
				</div>
			</div>
		</section>

		<section class="family-adoption-preferences-section">
			<div class="form-section-header">Adoption Preferences</div>

			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 preferred-gender-label">Gender of children preferred</label>
				</div>
				<div class="col-sm-12">
					<div id="preferred-gender-error-container" class="row error-container">
					{{#each genders}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="preferredGender" class="preferred-gender" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-gender-error-container" data-parsley-required="false" value="{{_id}}">{{gender}}
							</label>
						</div>
					{{/each}}
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 legal-status-label">Legal Status</label>
				</div>
				<div class="col-sm-12">
					<div id="preferred-legal-status-error-container" class="row error-container">
					{{#each legalStatuses}}
						<div class="col-sm-12">
							<label class="checkbox-inline">
								<input type="checkbox" name="legalStatus" class="legal-status" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-legal-status-error-container" data-parsley-required="false" value="{{_id}}">{{legalStatus}}
							</label>
						</div>
					{{/each}}
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 age-range-label">Age Range</label>
				</div>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-xs-8">
							<select name="ageRangeFrom" class="input form__number-select inline age-range-from" data-parsley-errors-messages-disabled="true" data-parsley-required="false">
								<option value=""></option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
							</select>
						</div>
						<div class="col-xs-4 text-center">To:</div>
						<div class="col-xs-8">
							<select name="ageRangeTo" class="input form__number-select inline age-range-to" data-parsley-errors-messages-disabled="true" data-parsley-required="false">
								<option value=""></option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 number-of-children-preferred-label">Number of children preferred</label>
				</div>
				<div class="col-sm-12">
					<select name="numberOfChildrenPrefered" class="input form__number-select number-of-children-preferred" data-parsley-errors-messages-disabled="true" data-parsley-required="false">
						<option value=""></option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10+</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 contact-with-biological-siblings-label">Would you consider children who have contact with their biological siblings?</label>
				</div>
				<div class="col-sm-12">
					<span id="preferred-sibling-contact-error-container" class="error-container">
						<label class="radio-inline"><input type="radio" name="contactWithBiologicalSiblings" class="contact-with-biological-siblings" value="yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-sibling-contact-error-container" data-parsley-required="false">Yes</label>
						<label class="radio-inline"><input type="radio" name="contactWithBiologicalSiblings" value="no">No</label>
					</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 contact-with-biological-parents-label">Would you consider children who have contact with their biological parents?</label>
				</div>
				<div class="col-sm-12">
					<span id="preferred-parent-contact-error-container" class="error-container">
						<label class="radio-inline"><input type="radio" name="contactWithBiologicalParents" class="contact-with-biological-parents" value="yes" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-parent-contact-error-container" data-parsley-required="false">Yes</label>
						<label class="radio-inline"><input type="radio" name="contactWithBiologicalParents" value="no">No</label>
					</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<label class="label marg-bottom-xs-5 race-label">Race/Ethnicity (check all that apply)</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-16">
					<div id="preferred-race-error-container" class="row error-container">
						{{#each races}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="adoptionPrefRace[]" class="race" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-race-error-container" data-parsley-mincheck="1" data-parsley-required="false">{{race}}
							</label>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 maximum-physical-needs-label">Maximum level of physical needs</label>
				</div>
				<div class="col-sm-12">
					<span id="preferred-maximum-physical-needs-error-container" class="error-container">
						<label class="radio-inline"><input type="radio" name="maximumPhysicalNeeds" class="maximum-physical-needs" value="none" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-maximum-physical-needs-error-container" data-parsley-required="false">None</label>
						<label class="radio-inline"><input type="radio" name="maximumPhysicalNeeds" value="mild">Mild</label>
						<label class="radio-inline"><input type="radio" name="maximumPhysicalNeeds" value="moderate">Moderate</label>
						<label class="radio-inline"><input type="radio" name="maximumPhysicalNeeds" value="severe">Severe</label>
					</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 maximum-emotional-needs-label">Maximum level of emotional needs</label>
				</div>
				<div class="col-sm-12">
					<span id="preferred-maximum-emotional-needs-error-container" class="error-container">
						<label class="radio-inline"><input type="radio" name="maximumEmotionalNeeds" class="maximum-emotional-needs" value="none" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-maximum-emotional-needs-error-container" data-parsley-required="false">None</label>
						<label class="radio-inline"><input type="radio" name="maximumEmotionalNeeds" value="mild">Mild</label>
						<label class="radio-inline"><input type="radio" name="maximumEmotionalNeeds" value="moderate">Moderate</label>
						<label class="radio-inline"><input type="radio" name="maximumEmotionalNeeds" value="severe">Severe</label>
					</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5 maximum-intellectual-needs-label">Maximum level of intellectual needs</label>
				</div>
				<div class="col-sm-12">
					<span id="preferred-maximum-intellectual-needs-error-container" class="error-container">
						<label class="radio-inline"><input type="radio" name="maximumIntellectualNeeds" class="maximum-intellectual-needs" value="none" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#preferred-maximum-intellectual-needs-error-container" data-parsley-required="false">None</label>
						<label class="radio-inline"><input type="radio" name="maximumIntellectualNeeds" value="mild">Mild</label>
						<label class="radio-inline"><input type="radio" name="maximumIntellectualNeeds" value="moderate">Moderate</label>
						<label class="radio-inline"><input type="radio" name="maximumIntellectualNeeds" value="severe">Severe</label>
					</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<label class="label marg-bottom-xs-5">Disabilities (check all that apply)</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-16">
					<div class="row">
					{{#each disabilities}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="disabilities" value="{{_id}}">{{disability}}
							</label>
						</div>
					{{/each}}
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-24">
					<label class="label marg-bottom-xs-5">Other considerations (check all that apply)</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-16">
					<div class="row">
					{{#each otherConsiderations}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline">
								<input type="checkbox" name="otherConsiderations" value="{{_id}}">{{otherConsideration}}
							</label>
						</div>
					{{/each}}
					</div>
				</div>
			</div>

		</section>

		<section class="social-worker-mare-and-you-section">
			<div class="form-section-header">Mare &amp; You</div>

			<div class="row form-group">
				<div class="col-sm-24 form-group">
					<label class="label required-field marg-bottom-xs-5">How did you hear about MARE (check all that apply)?</label>
				</div>
				<div class="col-sm-16">
					<div id="family-how-did-you-hear-error-container" class="row error-container">
						{{#each waysToHearAboutMARE}}
						<div class="col-sm-12 form-group">
							<label class="checkbox-inline way-to-hear-about-MARE {{#if other}}other-way-to-hear-about-mare{{/if}}">
								<input type="checkbox" name="howDidYouHear[]" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#family-how-did-you-hear-error-container" data-parsley-mincheck="1" required="">{{wayToHearAboutMARE}}
							</label>
						</div>
						{{/each}}
					</div>
					<div class="row">
						<div class="col-sm-24">
							<input type="text" id="family-how-did-you-hear-other" class="input required-field hidden" name="howDidYouHearOther" data-parsley-required="false" data-parsley-error-message="required" placeholder="other...">
						</div>
					</div>
				</div>
			</div>

			{{#each mailingLists }}
			{{#if showOnFamilyRegistrationPage}}
			<div class="row form-group">
				<div class="col-sm-12">
					<label class="label marg-bottom-xs-5">{{ displayText }}</label>
				</div>
				<div class="col-sm-12">
					<label class="radio-inline"><input type="radio" name="mailingLists[{{@index}}]" value={{ _id }} checked="checked">Yes</label>
					<label class="radio-inline"><input type="radio" name="mailingLists[{{@index}}]" value="">No</label>
				</div>
			</div>
			{{/if}}
			{{/each}}
		</section>

		<button class="button button--blue register" type="submit">Register</button>

	</form>
</section>

{{> registration-form_child-details}}