<aside class="sidebar">

	<button class="sidebar__item sidebar__button button button--large button--donate"
		data-url="/donate">Donate Now</button>
	<button class="sidebar__item sidebar__button button button--large button--have-a-question"
		data-url="/form/have-a-question-form">Have a Question?</button>

	<aside class="sidebar__item callout callout--blue callout--success-story">
		<img class="callout__image" src="{{ randomSuccessStory.imageSidebar }}" alt="success story image">
		<span class="callout__details">
			<div class="callout__header callout__element callout__element--space-below">Success Story</div>
			<div class="callout__title callout__element callout__element--space-below">{{ randomSuccessStory.heading }}</div>
		</span>
	</aside>

	<aside class="sidebar__item callout callout--orange callout--event">
		<img class="callout__image" src="{{ randomEvent.imageSidebar }}" alt="event image">
		<span class="callout__details">
			<div class="callout__header callout__element callout__element--space-below">Join Us</div>
			<div class="callout__title callout__element callout__element--space-below">{{ randomEvent.name }}</div>
			<div class="callout__date callout__element">{{ randomEvent.prettyDate }}</div>
			<div class="callout__time callout__element callout__element--space-below callout__element--small-text">{{ randomEvent.startTime }} - {{ randomEvent.endTime }}</div>
		</span>
	</aside>

</aside>
