<aside class="sidebar">

	<!-- Meet the Children -->
	<aside class="card card--vertical card--small-padding sidebar__card">	
		<a href="/waiting-child-profiles">
			<img class="card__image" src="/images/temp-children.png" alt="meet the children">	
			<span class="card__image-text">
				{{!-- TODO: this shouldn't be a link anymore, update with classes to style text the way the link does --}}
				<span class="card__image-title card__image-title--large card__image-title--centered">Meet the Children</span>
			</span>
		</a>
	</aside>

	<!-- Success Story -->
	<aside class="card card--vertical card--small-padding sidebar__card">	
		<a href="{{ randomSuccessStory.url }}">
			<img class="card__image" src="{{ randomSuccessStory.imageSidebar }}" alt="success story image">	
			<span class="card__image-text">
				<div class="card__image-description">{{{randomSuccessStory.shortContent}}}</div>
				{{!-- TODO: this shouldn't be a link anymore, update with classes to style text the way the link does --}}
				<span class="card__image-title card__image-title--right-aligned link-arrow link-arrow--right">{{ randomSuccessStory.heading }}</span>
			</span>
		</a>
	</aside>

	<!-- Event -->
	<aside class="card card--vertical card--small-padding sidebar__card sidebar__card--small-margin-bottom">
		<a href="{{ randomEvent.url }}">
			<img class="card__image" src="{{ randomEvent.imageSidebar }}" alt="event image">
			<span class="card__image-text">
				<!-- TODO: do we need the date/time in the description? -->
				<div class="card__image-description">{{{randomEvent.shortDescription}}} </div>
				{{!-- TODO: this shouldn't be a link anymore, update with classes to style text the way the link does --}}
				<span class="card__image-title card__image-title--right-aligned link-arrow link-arrow--right">{{ randomEvent.name }}</span>
			</span>
		</a>
	</aside>

	<!-- Have a question and Donate links -->
	<aside class="links sidebar__bottom-links">
		<a href="/forms/have-a-question-form">Have a Question?</a>
		<span class="link-separator">|</span>
		<a class="link" href="/donate">Donate Now</a>		
	</aside>

</aside>
