<div id="slideshow" class="owl-carousel">
	{{#each slides}}
	<div class="item">
		{{#if hasImage}}
		<img class="lazyOwl" data-src="{{ image.secure_url }}" alt="{{ heading }}">
		{{/if}}
		<span class="slideshow__description hidden">
			<div class="slideshow__header">{{ heading }}</div>
			<div class="slideshow__tagline">{{ subHeading }}</div>
			<div class="slideshow__learn-more">{{ guideLabel }}</div>
		</span>
	</div>
	{{/each}}
</div>