<script id="sibling-group-details-template" type="text/x-handlebars-template">

	<div class="profile__profile-navigation">
		\{{#if hasPrevious}}
		<span class="profile-navigation__previous" data-child-index="\{{ previousIndex }}">
			<i class="fa fa-angle-left fa-3x profile-navigation__previous-icon"></i>
			<span class="profile-navigation__previous-text">Previous Child</span>
		</span>
		\{{/if}}
		\{{#if hasPrevious}}
			\{{#if hasNext}}
			<span class="profile-navigation__divider">|</span>
			\{{/if}}
		\{{/if}}
		\{{#if hasNext}}
		<span class="profile-navigation__next" data-child-index="\{{ nextIndex }}">
			<span class="profile-navigation__next-text">Next Child</span>
			<i class="fa fa-angle-right fa-3x profile-navigation__next-icon"></i>
		</span>
		\{{/if}}
	</div>

	<div class="profile-tabs">
		<span class="profile-tabs__tab profile-tabs__tab--selected" data-tab="profile">profile</span>
		\{{#if hasVideo}}<span class="profile-tabs__tab" data-tab="video">video</span>\{{/if}}
		\{{#if wednesdaysChild}}<span class="profile-tabs__tab" data-tab="wednesdays-child">wednesday's child</span>\{{/if}}
	</div>

	<div class="profile-tab__contents profile-tab__contents--selected" data-contents="profile">

		<img class="profile__profile-picture" src=\{{ detailImage }}>

		<div class="profile__basic-info">
			<div class="profile-details__name">\{{ names }}</div>
			<div class="profile-details__age">Age \{{ ages }}</div>
			<div class="profile-details__registration-number">Registration # \{{ registrationNumbersString }}</div>
		</div>

		<div class="profile__detailed-child-info">
			<div class="detailed-child-info__introduction">
				<div class="detailed-child-info__header">Hi! Our names are \{{ names }}.</div>
			</div>
			<div class="detailed-child-info__part-1">
				<div class="detailed-child-info__header">Let us tell you more about ourselves...</div>
				<div class="detailed-child-info__body">\{{ profilePart1 }}</div>
			</div>
			<div class="detailed-child-info__part-2">
				<div class="detailed-child-info__header">And here’s what others say...</div>
				<div class="detailed-child-info__body">\{{ profilePart2 }}</div>
			</div>
			<div class="detailed-child-info__part-3">
				<div class="detailed-child-info__header">If we could have our own special wish...</div>
				<div class="detailed-child-info__body">\{{ profilePart3 }}</div>
			</div>
		</div>

		<div class="detailed-profile__footer">
			<span class="detailed-profile__footer-text">You can help bring us closer to finding "a place to call HOME" by filling out the <a href="/form/information-request-form">MARE Information Request Form</a>. They will be glad to help you get more information about us.</span>
		</div>
	</div>

	\{{#if hasVideo}}
	<div class="profile-tab__contents" data-contents="video">

		<div class="profile__basic-info">
			<div class="profile-details__name">\{{ names }}</div>
			<div class="profile-details__age">Age \{{ ages }}</div>
			<div class="profile-details__registration-number">Registration # \{{ registrationNumbersString }}</div>
		</div>

		<div class="profile-details__video-container">
			<iframe src=\{{video}} frameborder="0" allowfullscreen class="profile-details__video"></iframe>
		</div>

		<div class="detailed-profile__footer">You can help bring me closer to finding "a place to call HOME" by filling out the <a href="/form/information-request-form">MARE Information Request Form</a>. They will be glad to help you get more information about me.</div>

	</div>
	\{{/if}}

	\{{#if wednesdaysChild}}
	<div class="profile-tab__contents" data-contents="wednesdays-child">
		<span>Wednesday's Child content will go here</span>
	</div>
	\{{/if}}

</script>
