<script id="child-details-template" type="text/x-handlebars-template">

	<div class="profile__profile-navigation">
		\{{#if hasPrevious}}
		<span class="profile-navigation__previous" data-child-index="\{{ previousIndex }}">
			<i class="fa fa-angle-left fa-3x profile-navigation__previous-icon"></i>
			<span class="profile-navigation__previous-text">Previous Child</span>
		</span>
		\{{/if}}
		\{{#if hasPrevious}}
			\{{#if hasNext}}
			<span class="profile-navigation__divider">|</span>
			\{{/if}}
		\{{/if}}
		\{{#if hasNext}}
		<span class="profile-navigation__next" data-child-index="\{{ nextIndex }}">
			<span class="profile-navigation__next-text">Next Child</span>
			<i class="fa fa-angle-right fa-3x profile-navigation__next-icon"></i>
		</span>
		\{{/if}}
	</div>

	<div class="profile-tabs">
		<span class="profile-tabs__tab profile-tabs__tab--selected" data-tab="profile">profile</span>
		\{{#if hasVideo}}<span class="profile-tabs__tab" data-tab="video">video</span>\{{/if}}
		\{{#if wednesdaysChild}}<span class="profile-tabs__tab" data-tab="wednesdays-child">wednesday's child</span>\{{/if}}
	</div>

	<div class="profile-tab__contents profile-tab__contents--selected" data-contents="profile">

		<img class="profile__profile-picture" src=\{{ detailImage }}>

		<div class="profile__basic-info">
			<div class="profile-details__name">\{{ name }}</div>
			<div class="profile-details__age">Age \{{ age }}</div>
			<div class="profile-details__registration-number">Registration # \{{ registrationNumber }}</div>
		</div>

		<div class="profile__detailed-child-info">
			<div class="detailed-child-info__introduction">
				<div class="detailed-child-info__header">Hi! My name is \{{ name }}.</div>
			</div>
			<div class="detailed-child-info__part-1">
				<div class="detailed-child-info__header">Let me tell you more about myself...</div>
				<div class="detailed-child-info__body">\{{ profilePart1 }}</div>
			</div>
			<div class="detailed-child-info__part-2">
				<div class="detailed-child-info__header">And here’s what others say...</div>
				<div class="detailed-child-info__body">\{{ profilePart2 }}</div>
			</div>
			<div class="detailed-child-info__part-3">
				<div class="detailed-child-info__header">If I could have my own special wish...</div>
				<div class="detailed-child-info__body">\{{ profilePart3 }}</div>
			</div>
		</div>

		<div class="profile__footer">You can help bring me closer to finding "a place to call HOME" by filling out the <a href="/form/information-request-form">MARE Information Request Form</a>. They will be glad to help you get more information about me.</div>
		
		<!-- determining whether to add the block below based on whether the user is allowed to bookmark children needs to happen server-side -->
		{{#if canBookmarkChildren}}
		<div class="button-group button-group--horizontal button-group--space-around profile__button-group">
			\{{#if isBookmarked}}
			<button class="button button--yellow button--large child-bookmark-button button--active">Remove Bookmark</button>
			\{{else}}
			<button class="button button--yellow button--large child-bookmark-button">Bookmark</button>
			\{{/if}}
			<button class="button button--yellow button--large child-inquiry-button">Inquire</button>
		</div>
		{{/if}}

	</div>

	\{{#if hasVideo}}
	<div class="profile-tab__contents" data-contents="video">

		<div class="profile__basic-info">
			<div class="profile-details__name">\{{ name }}</div>
			<div class="profile-details__age">Age \{{ age }}</div>
			<div class="profile-details__registration-number">Registration # \{{ registrationNumber }}</div>
		</div>

		<div class="profile-details__video-container">
			<iframe src=\{{ video }} frameborder="0" allowfullscreen class="profile-details__video"></iframe>
		</div>

		<div class="detailed-profile__footer">You can help bring me closer to finding "a place to call HOME" by filling out the <a href="/form/information-request-form">MARE Information Request Form</a>. They will be glad to help you get more information about me.</div>

		<!-- determining whether to add the block below based on whether the user is allowed to bookmark children needs to happen server-side -->
		{{#if canBookmarkChildren}}
		<div class="button-group button-group--horizontal button-group--space-around profile__button-group">
			\{{#if isBookmarked}}
			<button class="button button--yellow button--large child-bookmark-button button--active">Remove Bookmark</button>
			\{{else}}
			<button class="button button--yellow button--large child-bookmark-button">Bookmark</button>
			\{{/if}}
			<button class="button button--yellow button--large child-inquiry-button">Inquire</button>
		</div>
		{{/if}}

	</div>
	\{{/if}}

	\{{#if wednesdaysChild}}
	<div class="profile-tab__contents" data-contents="wednesdays-child">
		
		<div class="profile__basic-info">
			<div class="profile-details__name">\{{ name }}</div>
			<div class="profile-details__age">Age \{{ age }}</div>
			<div class="profile-details__registration-number">Registration # \{{ registrationNumber }}</div>
		</div>

		<div class="profile-details__video-container">
			<iframe src=\{{ wednesdaysChildVideo }} frameborder="0" allowfullscreen class="profile-details__wednesdays-child-video"></iframe>
		</div>

		<div class="detailed-profile__footer">You can help bring me closer to finding "a place to call HOME" by filling out the <a href="/form/information-request-form">MARE Information Request Form</a>. They will be glad to help you get more information about me.</div>

		<!-- determining whether to add the block below based on whether the user is allowed to bookmark children needs to happen server-side -->
		{{#if canBookmarkChildren}}
		<div class="button-group button-group--horizontal button-group--space-around profile__button-group">
			\{{#if isBookmarked}}
			<button class="button button--yellow button--large child-bookmark-button button--active">Remove Bookmark</button>
			\{{else}}
			<button class="button button--yellow button--large child-bookmark-button">Bookmark</button>
			\{{/if}}
			<button class="button button--yellow button--large child-inquiry-button">Inquire</button>
		</div>
		{{/if}}

	</div>
	\{{/if}}

</script>
