<script id="gallery-children-template" type="text/x-handlebars-template">

	<div id="children-grid" class="profiles">
		\{{#each []}}
			<div class="media-box child-media-box" data-registration-number="\{{ registrationNumber }}">
				<div class="profile">
					<div class="media-box-image">
						<div data-thumbnail=\{{ galleryImage }}></div>
					</div>

					<div class="media-box-content details">
						<div class="name">\{{ name }}</div>
						<div class="age">Age \{{ age }}</div>
						<div class="legal-status">Status: \{{ legalStatus }}</div>
						<div class="icons">
						\{{#if hasVideo}}
							<img class="badge" src="/dist/img/video-icon.png">
						\{{/if}}
						\{{#if wednesdaysChild}}
							<img class="badge" src="/dist/img/wednesdays-child-icon.png">
						\{{/if}}
						</div>
						<div class="view-profile">
							<span>View Profile</span>
							<span class="icon-double-arrow-right">&gt;&gt;</span>
						</div>
					<!-- determining whether to add the block below based on whether the user is allowed to bookmark children needs to happen server-side -->
					{{#if canBookmarkChildren}}
						<span class="bookmark \{{#if isBookmarked}}bookmark--active\{{/if}}">
							<i class="fa \{{#if isBookmarked}} fa-minus-square-o bookmark__icon--active \{{else}} fa-plus-square-o \{{/if}} bookmark__icon"></i>
							<span class="bookmark__text">Bookmark</span>
						</span>
					{{/if}}
					</div>
				</div>
			</div>
		\{{/each}}
	</div>

</script>
