
<div class="wrapper">

    <!-- Sidebar -->
     <nav id="sidebar" class="bg-primary text-white">
			<button type="button" class="sidebarCollapse btn btn-info mb-4">
				Close
			</button>
            <div class="sidebar-header">
                <h3>Reports:</h3>
            </div>
			<div class="list-group list-group-flush">
			  <a class="list-group-item" href="/tools/family-matching"><span class="list-group-icon"><img src="/dashboard-styles/images/icon-family-matching.png" alt="#"></span> Family Matching</a>
			  <a class="list-group-item" href="/tools/child-matching"><span class="list-group-icon"><img src="/dashboard-styles/images/icon-child-matching.png" alt="#"></span> Child Matching</a>
			</div>
						

        </nav>

    <!-- Page Content -->
    <div id="content">
		<button type="button" class="sidebarCollapse btn btn-info mb-4">
			Reports
		</button>
		<div class="panel">
			<h2 class="mb-2">Activity</h2>
			<form class="filter-form mb-2" method="get" action="/dashboard">
				<div class="row">
					<div class="col-lg-2 align-middle">
						<div class="label mh-100">
						<p>Date range:</p>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-4">
						<div class="form-group">
							<div class="input-daterange">
								<label for="fromDate"><span class="sr-only">To Date</span>
									<input  class="form-control" type="date" name="fromDate" id="fromDate" value="{{ fromDate }}" required />
								
									<div class="input-group-addon">
										<span></span>
									</div>
								</label>								
							</div>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-4">
						<div class="form-group">
							<div class="input-daterange">
								<label for="toDate"><span class="sr-only">To Date</span>
									<input class="form-control" type="date" name="toDate" id="toDate" value="{{ toDate }}" required />
									<div class="input-group-addon">
										<span></span>
									</div>
								</label>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<input type="submit" value="Submit" class="btn btn-primary btn-block" />
					</div>
				</div>
			</form>
			<div class="filter-results">
				<div class="table-responsive">
					<table class="table activity-table">
						<tbody>
							<tr>
								<th scope="row">
									<span class="row-icon"><img src="/dashboard-styles/images/icon-new-families-registered.png" alt="#"></span>
									New Family Accounts Created</th>
								<td>{{ numberOfFamilies }}</td>
							</tr>
							<tr>
								<th scope="row">
									<span class="row-icon"><img src="/dashboard-styles/images/icon-added-children.png" alt="#"></span>
									New Child Records</th>
								<td>{{ numberOfChildren }}</td>
							</tr>
							<tr>
								<th scope="row">
									<span class="row-icon"><img src="/dashboard-styles/images/icon-new-inquiries.png" alt="#"></span>
									New Inquiries</th>
								<td>{{ numberOfInquiries }}</td>
							</tr>
							<tr>
								<th scope="row">
									<span class="row-icon"><img src="/dashboard-styles/images/icon-placements.png" alt="#"></span>
									Placements in Fiscal YTD</th>
								<td>{{ numberOfPlacements }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel">
			<h2>Regional Counts</h2>
			<div class="table-responsive">
				<table class="table table-striped regional-counts-table">
					<thead class="thead-dark">
						<tr>
							<th class="clear"><span class="sr-only">Region</span></th>
							<th>Active</th>
							<th>On Hold</th>
							<th>Region Total</th>
						</tr>
					</thead>
					<tbody>
						{{#each childrenNumbersGroupedByRegions}}
							<tr>
								<td>{{ region }}</td>
								<td>{{ active }}</td>
								<td>{{ onHold }}</td>
								<td>{{ activeAndOnHold }}</td>
							</tr>
						{{/each}}
					</tbody>
					<tfoot>
						<tr>
							<td>Total:</td>
							<td>{{ numberOfActiveChildren }}</td>
							<td>{{ numberOfOnHoldChildren }}</td>
							<td>{{ numberOfActiveAndOnHoldChildren }}</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
    </div>

</div>   
