<div class="card card--vertical card--large-padding">

	<h1 class="card__title">Homestudy Registration</h1>

	<div class="form-intro">
		Please complete the form below to register the license study of an approved MA pre-adoptive family. 
		To complete the registration, a copy of the full license study must be emailed to Ricardo Franco at <a href="mailto:ricardof@mareinc.org">ricardof@mareinc.org</a>.
	</div>

	<section class="family-registration-form">

		<form enctype="multipart/form-data" action="/forms/social-worker-family-registration" class="form--family-registration" method="POST">
			<input type="hidden" class="registration-type" name="registrationType" value="family">

			<section class="family-contact-1-section">
				<div class="form-section-header">Contact 1</div>

				<span class="required required-description">* Required</span>

				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="text" id="contact1-first-name" class="input" name="contact1FirstName" data-parsley-error-message="required" required="">
						<label for="contact1-first-name" class="label required-field">First Name</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" id="contact1-last-name" class="input" name="contact1LastName" data-parsley-error-message="required" required="">
						<label for="contact1-last-name" class="label required-field">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="email" id="contact1-email" class="input" name="contact1Email" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="valid email required" required="">
						<label for="contact1-email" class="label required-field">Email Address</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" id="contact1-mobile" class="input" name="contact1Mobile" data-parsley-required-message="required" required=""
							 data-parsley-pattern="/^\d{3}-\d{3}-\d{4}$/" data-parsley-pattern-message="Please use xxx-xxx-xxxx format">
						<label for="contact1-mobile" class="label required-field">Mobile Phone</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-24 form-group">
						<span id="contact1-gender-error-container" class="error-container">
							<span class="gender-select-text required-field">Gender</span> &nbsp;&nbsp;
							{{#each genders}}
								<label class="radio-inline"><input type="radio" name="contact1Gender" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#contact1-gender-error-container" required="">{{gender}}</label>
							{{/each}}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-24 form-group">
								<span class="required-field">Race/Ethnicity (check all that apply)</span>
							</div>
						</div>
						<div id="contact1-race-error-container" class="row error-container">
							{{#each races}}
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="contact1Race[]" value="{{_id}}" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#contact1-race-error-container" required="">{{race}}
								</label>
							</div>
							{{/each}}
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<input type="text" id="contact1-occupation" class="input" name="contact1Occupation">
							<label for="contact1-occupation" class="label">Occupation</label>
						</div>
						<div class="form-group">
							<input type="text" class="input" id="contact1-date-of-birth" name="contact1DateOfBirth" data-parsley-required-message="required" required="" placeholder="MM/DD/YYYY"
								data-parsley-pattern="/^((0?[1-9])|(1[0-2]))\/((0?[1-9])|([1-2]?[0-9])|(3[0-1]))\/\d{4}$/" data-parsley-pattern-message="Please use MM/DD/YYYY format">
							<label for="contact1-date-of-birth" class="label required-field">Date of Birth</label>
						</div>
					</div>
				</div>
			</section>

			<section class="family-contact-2-section">
				<div class="form-section-header">Contact 2</div>

				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="text" id="contact2-first-name" class="input" name="contact2FirstName">
						<label for="contact2-first-name" class="label">First Name</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" id="contact2-last-name" class="input" name="contact2LastName">
						<label for="contact2-last-name" class="label">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="email" id="contact2-email" class="input" name="contact2Email" data-parsley-type="email" data-parsley-trigger="change" data-parsley-required="false" data-parsley-error-message="valid email required">
						<label for="contact2-email" class="label">Email Address</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" id="contact2-phone" class="input" name="contact2Mobile" data-parsley-pattern="/^\d{3}-\d{3}-\d{4}$/" data-parsley-pattern-message="Please use xxx-xxx-xxxx format">
						<label for="contact2-phone" class="label">Mobile Phone</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-24 form-group">
						<span class="gender-select-text">Gender</span> &nbsp;&nbsp;
						{{#each genders}}
							<label class="radio-inline"><input type="radio" name="contact2Gender" value="{{_id}}">{{gender}}</label>
						{{/each}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-24 form-group">
								<span>Race/Ethnicity (check all that apply)</span>
							</div>
						</div>
						<div class="row">
							{{#each races}}
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="contact2Race[]" value="{{_id}}">{{race}}
								</label>
							</div>
							{{/each}}
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<input type="text" id="contact2-occupation" class="input" name="contact2Occupation">
							<label for="contact2-occupation" class="label">Occupation</label>
						</div>
						<div class="form-group">
							<input type="text" id="contact2-date-of-birth" class="input" name="contact2DateOfBirth" placeholder="MM/DD/YYYY"
								data-parsley-pattern="/^((0?[1-9])|(1[0-2]))\/((0?[1-9])|([1-2]?[0-9])|(3[0-1]))\/\d{4}$/" data-parsley-pattern-message="Please use MM/DD/YYYY format">
							<label for="contact2-date-of-birth" class="label">Date of Birth</label>
						</div>
					</div>
				</div>
			</section>

			<section class="family-home-address-section">
				<div class="form-section-header">Home Address</div>

				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="text" id="family-street-1" class="input" name="street1" data-parsley-error-message="required" required="">
						<label for="family-street-1" class="label required-field">Street 1</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" id="family-street-2" class="input" name="street2">
						<label for="family-street-2" class="label">Street 2</label>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-12 form-group city-container">
						<select id="city" class="input" name="city" data-parsley-trigger="change" data-parsley-errors-messages-disabled="true" required="">
							<option value=""></option>
							{{#each citiesAndTowns}}
							<option value="{{_id}}">{{cityOrTown}}</option>
							{{/each}}
						</select>
						<label for="city" class="label required-field">City</label>
					</div>
					<div class="col-sm-12 form-group non-ma-city-container hidden">
						<input type="text" id="non-ma-city" class="input" name="nonMACity" data-parsley-error-message="required" data-parsley-required="false">
						<label for="non-ma-city" class="label required-field">City</label>
					</div>
					<div class="col-sm-12 form-group">
						<label class="checkbox-inline">
							<input type="checkbox" id="is-not-ma-city-checkbox" name="isNotMACity[]" data-trigger-on-restore="change">Family lives outside MA
						</label>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-12 form-group">
						<select id="family-state" class="input state-select" name="state">
						{{#each states}}
							{{#if defaultSelection}}
								<option value="{{_id}}" selected="selected">{{state}}</option>
							{{/if}}
						{{/each}}
						</select>
						<label for="state" class="label required-field">State</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="number" id="zip-code" class="input" name="zipCode" data-parsley-required-message="required" required=""
							data-parsley-pattern="/^[0-9]{5}$/" data-parsley-pattern-message="Please use xxxxx format">
						<label for="zip-code" class="label required-field">Zip Code</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" id="home-phone" class="input" name="homePhone" data-parsley-pattern="/^\d{3}-\d{3}-\d{4}$/" data-parsley-pattern-message="Please use xxx-xxx-xxxx format">
						<label for="home-phone" class="label">Home Phone</label>
					</div>
				</div>
			</section>
			<!-- This will end part 3 -->

			<section class="family-homestudy-details-section">
				<div class="form-section-header">Homestudy Details</div>

				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="text" id="homestudy-date-complete" class="input" name="homestudyDateComplete" data-parsley-required="true" data-parsley-required-message="required" placeholder="MM/DD/YYYY"
							data-parsley-pattern="/^((0?[1-9])|(1[0-2]))\/((0?[1-9])|([1-2]?[0-9])|(3[0-1]))\/\d{4}$/" data-parsley-pattern-message="Please use MM/DD/YYYY format">
						<label for="homestudy-date-complete" class="label required-field">Date Homestudy Completed/Updated</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="text" id="social-worker-name" class="input" name="socialWorkerName" data-parsley-required="true" data-parsley-error-message="required">
						<label for="social-worker-name" class="label required-field">Social Worker Name</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" id="social-worker-agency" class="input" name="socialWorkerAgency" data-parsley-required="true" data-parsley-error-message="required">
						<label for="social-worker-agency" class="label required-field">Social Worker Agency</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<input type="text" id="social-worker-phone" class="input" name="socialWorkerPhone" data-parsley-required="true" data-parsley-required-message="required"
							 data-parsley-pattern="/^\d{3}-\d{3}-\d{4}$/" data-parsley-pattern-message="Please use xxx-xxx-xxxx format">
						<label for="social-worker-phone" class="label required-field">Social Worker Phone Number</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="email" id="social-worker-email" class="input" name="socialWorkerEmail" data-parsley-type="email" data-parsley-trigger="change" data-parsley-required="true" data-parsley-error-message="valid email required">
						<label for="social-worker-email" class="label required-field">Social Worker Email Address</label>
					</div>
				</div>

				<section class="subheading family-submit-your-homestudy-section pt-2">
					<div class="row form-group">
						<div class="col-sm-24">To complete registration of this Massachusetts homestudied family, please email a copy of license study to Ricardo Franco at <a href="mailto:ricardof@mareinc.org">ricardof@mareinc.org</a></div>
					</div>
				</section>
			</section>

			<button class="button button--teal register" type="submit">Submit Registration</button>
		</form>
	</section>

	{{> registration-form_child-details}}

</div>
