<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>MARE</title>
		
		<style type="text/css">
			table tr th {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<table width="100%">
			<tr>
				<th>Reg. Num</th>
				<th>Contact 1</th>
				<th>Race</th>
				<th>Contact 2</th>
				<th>Race</th>
				<th>City / State</th>
				<th>Social Worker</th>
			</tr>
			{{#each results}}
				<tr>
					<td>{{ registrationNumber }}</td>
					<td>{{ contact1name }}</td>
					<td>{{ contact1race }}</td>
					<td>{{ contact2name }}</td>
					<td>{{ contact2race }}</td>
					<td>{{ city }}, {{ state }}</td>
					<td>{{ socialWorker }} {{#if socialWorkerAgency }}({{ socialWorkerAgency }}){{/if}}</td>
				</tr>
			{{/each}}
		</table>
	</body>
</html>

		