<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>MARE</title>
		
		<style type="text/css">
			table tr th {
				text-decoration: underline;
			}
			.center-align {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<table width="100%">
			<tr>
				<th>Reg. Num</th>
				<th>Contact 1</th>
				<th>Race</th>
				<th>Contact 2</th>
				<th>Race</th>
				<th>Current # of Children</th>
				<th>Preferred # of Children</th>
				<th>Preferred Age Range</th>
				<th>City / State</th>
			</tr>
			{{#each results}}
				<tr>
					<td>{{ registrationNumber }}</td>
					<td>{{ contact1name }}</td>
					<td>{{ contact1race }}</td>
					<td>{{ contact2name }}</td>
					<td>{{ contact2race }}</td>
					<td class="center-align">{{ currentNumberOfChildren }}</td>
					<td class="center-align">{{ minNumberOfChildren }} - {{ maxNumberOfChildren }}</td>
					<td class="center-align">{{ minPreferredAge }} - {{ maxPreferredAge }}</td>
					<td>{{ city }}, {{ state }}</td>
				</tr>
			{{/each}}
		</table>
	</body>
</html>

		