<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>MARE</title>
		
		<style type="text/css">
			table tr th {
				text-decoration: underline;
			}

            table th,
            table td {
                text-align: left;
            }
		</style>
	</head>
	<body>
		<table width="100%">
                <tr>
                    <th>Taken On</th>
                    <th>Children and Reg #s</th>
                    <th>Child SW Region</th>
                    <th>Child Legal Status</th>
                    <th>Source</th>
                    <th>Additional Source(s)</th>
                    <th>Intake Source</th>
                    <th>Family and Reg #</th>
                    <th>Inquiry Type</th>
                    <th>Inquiry Method</th>
                    <th>Max Physical Needs</th>
                    <th>Max Intellectual Needs</th>
                    <th>Max Emotional Needs</th>
                    <th>Disabilities</th>
                </tr>
                {{#each results as |result|}}
                    <tr>
                        <td>{{ result.inquiryDate }}</td>
                        <td>
                            {{ result.childNameFirst }} {{ result.childNameLast }} 
                            {{#if result.childRegistrationNumber}} ({{ result.childRegistrationNumber }}) {{/if}}
                            {{#each result.siblings as |sibling|}}
                                <br>{{ sibling.siblingName }} ({{ sibling.siblingRegistrationNumber }})
                            {{/each}}
                        </td>
                        <td>{{ result.childsSWAgencyRegion }}</td>
                        <td>
                            {{#each result.legalStatuses as |legalStatus|}}
                                {{#ifeq @index 0}}{{else}}<br>{{/ifeq}}{{ legalStatus }}
                            {{/each}}
                        </td>
                        <td>{{ result.source }}</td>
                        <td>{{ result.additionalSources }}</td>
                        <td>{{ result.sourceDescription }}</td>
                        <td>{{ result.familyContact1 }} 
                            {{#if result.familyRegistrationNumber}} ({{ result.familyRegistrationNumber }}) {{/if}}
                        </td>
                        <td>{{ result.inquiryType }}</td>
                        <td>{{ result.inquiryMethod }}</td>
                        <td>{{ result.maxPhysicalNeeds }}</td>
                        <td>{{ result.maxIntellectualNeeds }}</td>
                        <td>{{ result.maxEmotionalNeeds }}</td>
                        <td>
                            {{#each result.disabilities as |disability|}}
                                {{#ifeq @index 0}}
                                    {{ disability }}
                                {{else}}
                                    <br>{{ disability }}
                                {{/ifeq}}
                            {{/each}}
                    </tr>
                {{/each}}
            </table>
	</body>
</html>

		