<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>MARE</title>
		
		<style type="text/css">
			table tr th {
				text-decoration: underline;
			}

            table th,
            table td {
                text-align: left;
            }
		</style>
	</head>
	<body>
		<table width="100%">
                <tr>
                    <th>Reg #</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>Legal Status</th>
                    <th>Placement Status</th>
                    <th>Current Age</th>
                    <th>Adoption Worker</th>
                    <th>Adoption Worker Region</th>
                    <th>Must be placed with siblings?</th>
                    <th>Siblings to be placed with</th>
                    <th>Residence</th>
                    <th>Physical Needs</th>
                    <th>Emotional Needs</th>
                    <th>Intellectual Needs</th>
                    <th>Age at Registration</th>
                    <th>Days Waiting</th>
                </tr>
                {{#each results as |result|}}
                    <tr>
                        <td>{{ result.registrationNumber }}</td>
                        <td>{{ result.firstName }}</td>
                        <td>{{ result.lastName }}</td>
                        <td>{{ result.gender }}</td>
                        <td>{{ result.race }}</td>
                        <td>{{ result.legalStatus }}</td>
                        <td>{{ result.placementStatus }}</td>
                        <td>{{ result.currentAge }}</td>
                        <td>{{ result.adoptionWorker }}</td>
                        <td>{{ result.adoptionWorkerRegion }}</td>
                        <td>{{ result.mustBePlacedWithSiblings }}</td>
                        <td>{{ result.siblingsToBePlacedWith }}</td>
                        <td>{{ result.residence }}</td>
                        <td>{{ result.physicalNeeds }}</td>
                        <td>{{ result.emotionalNeeds }}</td>
                        <td>{{ result.intellectualNeeds }}</td>
                        <td>{{ result.ageAtRegistration }}</td>
                        <td>{{ result.daysSinceRegistration }}</td>
                    </tr>
                {{/each}}
            </table>      
	</body>
</html>
