<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>new event created</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#3D4573" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">

						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>A new {{ event.type }} has been created</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										The following data will need to be entered in a new event record in the old database.  In addition, the event will need to be reviewed and made active in the new system before it will display on the website:
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>address</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>street 1</b> {{ event.address.street1 }}
									</td>
								</tr>
								{{#if event.address.street2 }}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>street 2</b> {{ event.address.street2 }}
									</td>
								</tr>
								{{/if}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>city</b> {{ event.address.city }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>state</b> {{ event.address.state.state }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>zip code</b> {{ event.address.zipCode }}
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>details</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>name</b> {{ event.name }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>event type</b> {{ event.type }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>start date</b> {{ startDate }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>end date</b> {{ endDate }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>start time</b> {{ event.startTime }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>end time</b> {{ event.endTime }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>description</b> {{ event.description }}
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>contact info</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>contact email</b> {{ event.contactEmail }}
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>event submitter</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>name</b> {{ user.name.full }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>email</b> {{ user.email }}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>