<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>new event registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#3D4573" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<table border="0" cellpadding="0" cellspacing="0">
									<img src="{{ host }}/dist/img/mare-logo.png" alt="MARE Logo" width="500" height="106" style="display: block;" />
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>A new registration has been received for the {{ event.eventName }}</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Attendee</b>
									</td>
								</tr>
								{{#if displayName}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>name</b> {{ displayName }}
									</td>
								</tr>
								{{else}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>name</b> {{ user.name.full }}
									</td>
								</tr>
								{{/if}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>email</b> {{ user.email }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>user type</b> {{ user.userType }}
									</td>
								</tr>
								{{#if event.registeredChildren}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Registered Children Attendees</b>
									</td>
								</tr>
								{{/if}}
								{{#each event.registeredChildren}}
									<tr>
										<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>name</b> {{ name.full }}
										</td>
									</tr>
									<tr>
										<td style="padding: 5px 0 {{#if @last}}0{{else}}10px{{/if}} 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>registration number</b> {{ registrationNumber }}
										</td>
									</tr>
								{{/each}}
								{{#if event.unregisteredChildren}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Unregistered Children Attendees</b>
									</td>
								</tr>
								{{/if}}
								{{#each event.unregisteredChildren}}
									<tr>
										<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>name</b> {{ name.first }} {{ name.last }}
										</td>
									</tr>
									<tr>
										<td style="padding: 5px 0 {{#if @last}}0{{else}}10px{{/if}} 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>age</b> {{ age }}
										</td>
									</tr>
								{{/each}}
								{{#if event.unregisteredAdults}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Unregistered Adult Attendees</b>
									</td>
								</tr>
								{{/if}}
								{{#each event.unregisteredAdults}}
									<tr>
										<td style="padding: 5px 0 {{#if @last}}0{{else}}10px{{/if}} 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
											<b>name</b> {{ name.first }} {{ name.last }}
										</td>
									</tr>
								{{/each}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>Registration Details</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>how did they hear about the event</b> {{ event.source }}
									</td>
								</tr>
								{{#if event.whereInTheProcess}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>where are they in the adoption process</b> {{ event.whereInTheProcess }}
									</td>
								</tr>
								{{/if}}
								{{#if event.questionsOrComments}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>questions or comments</b> {{ event.questionsOrComments }}
									</td>
								</tr>
								{{/if}}
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
