<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>new inquiry created</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#3D4573" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">

						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>A new {{ inquiryData.inquiryType }} has been submitted.</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										The inquiry will need to be reviewed and some fields modified in the new system:
									</td>
								</tr>
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>details</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>date</b> {{ inquiryData.takenOn }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>taken by</b> {{ inquiryData.takenBy }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>source</b> {{ inquiryData.source }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>method</b> {{ inquiryData.inquiryMethod }}
									</td>
								</tr>
								{{#if inquiryData.isOnBehalfOfMAREFamily}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>on behalf of family</b> {{ inquiryData.onBehalfOfMAREFamily }}
									</td>
								</tr>
								{{/if}}
								{{#if inquiryData.family}}
								<tr>
									<td style="padding: 30px 0 0px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>family</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 15px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>family</b> {{ inquiryData.family }}
									</td>
								</tr>
								{{/if}}
								{{#if inquiryData.children}}
								<tr>
									<td style="padding: 30px 0 0px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>children</b>
									</td>
								</tr>
								{{#each inquiryData.children}}
								<tr>
									<td style="padding: 15px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>child</b> {{ nameAndRegistrationNumber }}
									</td>
								</tr>
								{{#if photolistingPage}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>photolisting page</b> {{ photolistingPage }}
									</td>
								</tr>
								{{/if}}
								{{/each}}
								{{/if}}
								<tr>
									<td style="padding: 30px 0 5px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>inquirer</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>name</b> {{ inquirerData.name }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>street 1</b> {{ inquirerData.street1 }}
									</td>
								</tr>
								{{#if inquirerData.street2 }}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>street 2</b> {{ inquirerData.street2 }}
									</td>
								</tr>
								{{/if}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>city</b> {{ inquirerData.city }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>state</b> {{ inquirerData.state }}
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>zip code</b> {{ inquirerData.zipCode }}
									</td>
								</tr>
								{{#if inquirerData.mobilePhone}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>mobile phone</b> {{ inquirerData.mobilePhone }}
									</td>
								</tr>
								{{/if}}
								{{#if inquirerData.workPhone}}
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										<b>work phone</b> {{ inquirerData.workPhone }}
									</td>
								</tr>
								{{/if}}
								<tr>
									<td style="padding: 30px 0 10px 0; color: #153634; font-family: Ariel, sans-serif; font-size: 20px; line-height: 24px;">
										<b>inquiriy</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 5px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 14px; line-height: 16px;">
										{{ inquiryData.comments }}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>