<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MARE Prospective Parent Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#3D4573" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<table border="0" cellpadding="0" cellspacing="0">
									<img src="mare-logo.png" alt="MARE Logo" width="500" height="106" style="display: block;" />
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>Welcome to MARE!</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 0 0; color: #153634; font-family: Ariel, sans-serif; font-size: 16px; line-height: 20px;">
										To complete your registration, please follow <a href="{{ host }}/verifyAccount?verificationCode={{ verificationCode }}">this link</a>
								</tr>
								<tr>
									<td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
										Thank you for registering as a {{ userType }}. {{#unless isSiteVisitor}}Within 3 business days, your information will be verified and you will be able to log into your account to have access to a greater pool of waiting children (including those at legal risk), search for children and RSVP for events. {{/unless}}You now have access to register for events through our events page and browse all of our non-at risk children in the waiting child profiles gallery.
									</td>
								</tr>
								<tr>
									<td style="line-height:10px;">&nbsp;</td>
								</tr>
								{{#if isFamily}}
								<tr>
									<td style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
										If you are a Massachusetts family with an approved homestudy to adopt from foster care and have uploaded your homestudy, we will compare your families’ preferences with the needs of the children registered with MARE and forward your homestudy to the child’s social worker. This is an opportunity to have your family’s preferences shared with workers across the state for consideration for specific children.
									</td>
								</tr>
								<tr>
									<td style="line-height:10px;">&nbsp;</td>
								</tr>
								{{/if}}
								<tr>
									<td style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
										If you have any questions about your registration as a {{ userType }}, contact <a href="mailto:{{ staffContactEmail }}?Subject={{ emailSubject }}" style="text-decoration: none;">{{ staffContactEmail }}</a>.
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#3D4573" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="center" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="100%">
										Massachusetts Adoption Resource Exchange | <a href="http://mareinc.org/" style="color: #ffffff; text-decoration:none;"><font color="#fffbd7"><b>mareinc.org</b></font></a> 
										<br/><br/>
										19 Needham Street, Suite 206 <br/>
										Newton, MA 02461
										<br/>
										(617) 964-6273
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>