<div class="page-header">
	<span class="page-header-text">Adoption Party Family Registration</span>
</div>

<form action="/register" class="registration-form" method="POST">

	<input type="hidden" name="action" value="register">

	<div class="row double-padding">
		<div class="col-sm-24">
			&lt;Adoption Party Name&gt;
		</div>
	</div>

	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" required id="first-name" name="firstName" />
			<label for="first-name" class="label required-field">First Name</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" required id="last-name" name="lastName" />
			<label for="last-name" class="label required-field">Last Name</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 form-group">
			<textarea class="input" id="other-attending-adults" name="otherAttendingAdults" rows="3"></textarea>
			<label for="other-attending-adults" class="label">Name(s) of Other Adults</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 form-group">
			<textarea class="input" id="other-attending-children" name="otherAttendingChildren" rows="3"></textarea>
			<label for="other-attending-children" class="label">Name(s) and Age(s) of Child(ren) Attending</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="street-1" name="street1" required />
			<label for="street-1" class="label required-field">Street 1</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="street-2" name="street2" required />
			<label for="street-2" class="label required-field">Street 2</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="city" name="city" required />
			<label for="city" class="label required-field">City</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<select id="state" name="state" class="input">
			{{#each states}}
				<option value="{{_id}}">{{state}}</option>
			{{/each}}
			</select>
			<label for="state" class="label required-field">State</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="zip-code" name="zipCode" pattern="\d{5}([ \-]\d{4})?" required />
			<label for="zip-code" class="label required-field">Zip Code</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="home-phone" name="homePhone" pattern="^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$" required />
			<label for="home-phone" class="label required-field">Home Phone</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12 form-group">
			<input type="email" class="input" required id="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
			<label for="email" class="label required-field">Email Address</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-24">
			<div class="row">
				<div class="col-sm-24 form-group">
					<span class="race-text">Contact 1 Ethnicity:</span>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="row">
					{{#each races}}
					<div class="col-sm-12 form-group">
						<label class="checkbox-inline">
							<input type="checkbox" name="Contact1Race" value="{{_id}}">{{race}}
						</label>
					</div>
					{{/each}}
					<div class="col-sm-12 form-group">
						<label class="checkbox-inline">
							<input type="checkbox" name="Contact1Race" value="Other" onClick="$('#contact-1-race-other').show()">Other
						</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" style="display:none" class="input" id="contact-1-race-other" name="contact1RaceOther" placeholder="Other...">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-24">
			<div class="row">
				<div class="col-sm-24 form-group">
					<span class="race-text">Contact 2 Ethnicity:</span>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="row">
					{{#each races}}
					<div class="col-sm-12 form-group">
						<label class="checkbox-inline">
							<input type="checkbox" name="Contact2Race" value="{{_id}}">{{race}}
						</label>
					</div>
					{{/each}}
					<div class="col-sm-12 form-group">
						<label class="checkbox-inline">
							<input type="checkbox" name="Contact2Race" value="Other" onClick="$('#contact-2-race-other').show()">Other
						</label>
					</div>
					<div class="col-sm-12 form-group">
						<input type="text" style="display:none" class="input" id="contact-2-race-other" name="contact2RaceOther" placeholder="Other...">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-24">
			<div class="row">
				<div class="col-sm-24 form-group">
					<span class="race-text required-field">Where are you in the adoption process?</span>
				</div>
			</div>
			<div class="col-sm-24 form-group">
				<label class="checkbox-inline">
					<input type="checkbox" name="whereInAdoptionProcess" value="Gathering Information">Gathering Information
				</label>
			</div>
			<div class="col-sm-24 form-group">
				<label class="checkbox-inline">
					<input type="checkbox" name="whereInAdoptionProcess" value="Enrolled in MAPP">Enrolled in MAPP
				</label>
			</div>
			<div class="col-sm-24 form-group">
				<label class="checkbox-inline">
					<input type="checkbox" name="whereInAdoptionProcess" value="Completing homestudy">Completing homestudy
				</label>
			</div>
			<div class="col-sm-24 form-group">
				<label class="checkbox-inline">
					<input type="checkbox" name="whereInAdoptionProcess" value="Homestudy complete/waiting to be matched">Homestudy complete/waiting to be matched
				</label>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="agency" name="agency">
			<label for="agency" class="label">Agency (if applicable)</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="social-worker" name="socialWorker">
			<label for="social-worker" class="label">Social Worker (if applicable)</label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-12">
			<input type="text" class="input" id="date-of-home-study" name="dateOfHomeStudy" placeholder="DD/MM/YYYY">
			<label for="date-of-home-study" class="label">Date of Homestudy (if applicable)</label>
		</div>
	</div>
	<div class="row double-padding">
		<div class="col-sm-24">
			<label>Add Me/Us to Adoption Party Mailing List: &nbsp; <input type="checkbox" name="addToAdoptionPartyMailingList"/></label>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-24 form-group">
			<textarea class="input" id="how-did-you-hear" name="howDidYouHear" rows="5" required></textarea>
			<label class="label marg-bottom-xs-5 required-field">How did you hear about the event?</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-24 form-group">
			<textarea class="input" id="comments" name="comments" rows="5"></textarea>
			<label for="comments" class="label">Comments</label>
		</div>
	</div>
	<button class="register" type="submit">Register</button>
</form>
